<p>A homeless camp that had mushroomed along Cesar Chavez Street around Highway 101 was dismantled Tuesday, scattering about 100 street people into shelters and nearby neighborhoods — leaving, still unanswered, the question of how to truly get rid of tent settlements that keep popping up in the city.</p>

<p>Street cleaners, police and outreach counselors descended upon the camp about 6 a.m. and spent the morning methodically bagging up trash and flopping tents onto flatbed trucks.</p>

<p>The counselors’ goal was to get the campers into homeless shelters or other poverty services, but the cleaners’ goal was purely to clear out what has become a smelly, messy eyesore to passersby and neighbors in recent weeks.</p>

<p>Camps have dotted the maze of trails, bushes, freeway-ramp ledges and dirt lots at that part of Cesar Chavez for decades. But ever since a giant encampment along Division Street was swept out in March, the Cesar Chavez population has grown into the largest street settlement in the city.</p>

<p>Separate settlements of tents and makeshift shelters popped up everywhere there was a bare spot, some sorted by drug use — one marijuana camp refused to let heroin users in — and others grouping by other interests, such as dogs or artwork.</p>


