<p>The stretch of sidewalk outside Sweet Peas Preschool in the Mission District is nothing special. Just a few squares of concrete.</p>

<p>However, for the tiny legs that dart between parents’ cars and the campus entrance, the pavement is at times an obstacle course of used heroin needles and human feces — and an enduring sign of the city’s failure to get a handle on its most troublesome street behavior.</p>

{% include '_components/_infobox.html' %}

<p>School director Samantha Dionne is sympathetic to the plight of homeless people. She gives food to an elderly man who sleeps out front. But shooting up and defecating in public when the children are near goes too far, said Dionne, who has started to call authorities, though with limited effect.</p>

<p>“The police came, they searched them and the police leave, and they’re still there. That’s the part I don’t understand,” Dionne said after one of her calls to the city’s 311 service center.</p>

<div id="map_camping"></div>

<p>With San Francisco’s homeless crisis showing no sign of letting up, some residents and businesses are demanding the city do more to control the fallout: stop open-air drug use, end threatening behavior, get rid of mushrooming tent camps.</p>

<p>Earlier this year, police led the clearing of a 250-person tent city under an elevated freeway on Division Street. Some residents would like to see smaller encampments similarly targeted, rather than be allowed to remain for weeks or months.</p>

<p>Such a crackdown would require the city to reassign dozens of officers from their current duties to camp sweeps. If the inhabitants refused to move, the city could have to spend money on additional prosecutors, courts and jails to enforce antivagrancy laws.</p>

<p>But policy experts say — and city history confirms — that law enforcement can accomplish only so much when it comes to the people who live on the streets, given the stew of poverty, drug addiction and mental illness. Issuing tickets and locking people up doesn’t get at the causes of homelessness, much less find people homes.</p>

<p>This does not mean, however, that there’s no role for policing.</p>

<p>Law enforcement and city officials, as well as advocates for the homeless, are nearly unanimous in arguing that the justice system works best when it’s used to steer homeless people to get the help they need to stabilize their lives — financial and housing assistance, drug rehab and counseling.</p>

<p>In many ways, this is what San Francisco is already doing. Police officers routinely work with health and human-service agencies, as do the courts. But there are ways to get better results, the experts say, and almost all involve support from outside criminal justice.</p>

<p>Among the ideas:</p>

<p>Increase the number of outreach workers and psychiatric experts who patrol with police, offering homeless people help or referrals to care.</p>

<p>Expand the city’s shelters and make more accommodations to homeless people, such as allowing pets and longer stays, to give police something to sell when they’re trying to talk a person off the streets.</p>

<p>Build a system for enforcing nuisance-behavior citations, which many homeless people are now free to ignore because the courts seldom follow up. Enforcing them could be a way to leverage people into getting help.</p>

<p>Allow officers who have cause to arrest someone on the streets to divert them to immediate addiction treatment.</p>

<div class="text-hed">‘A revolving door’</div>

<p>On a recent morning, two blocks from Sweet Peas Preschool, Officer Gary Kunaboot made the rounds on his homeless beat, asking about a half dozen people near 18<sup>th</sup> and Florida streets to take down their tents and leave.</p>

<p>It’s the same thing Kunaboot did the day before. And he wasn’t the only one. Twenty-six San Francisco cops assigned to work with homeless people regularly respond to complaints. Some work with Public Works crews to clear camps and wash sidewalks in a vast predawn exercise that repeats daily.</p>

<p>“It’s a revolving door,” Kunaboot said. “We often see the same subjects over and over. Sometimes we see them more than their families do.”</p>

<p>Kunaboot and other officers carry a list of resources that might benefit those on the sidewalk — telling them where to get a shelter bed and where to seek help for a problem. Sometimes they’re accompanied by members of the city Homeless Outreach Team, or HOT, which has had success diagnosing people’s needs on the spot and directing them to treatment.</p>

<p>On this day, the campers roused from sleep weren’t interested in services — they’d heard the menu of programs before. Instead, the small group grudgingly packed up sleeping bags, clothes and other belongings in old suitcases and shopping carts.</p>

<p>In San Francisco, at least three dozen statutes govern conduct on the street, including a ban on residing on property without permission and quality-of-life rules against loitering, drinking in public and blocking the sidewalk. Most are low-level infractions that yield a citation, not an arrest.</p>

<p>While Kunaboot has at times pressed for charges against homeless people, he said he didn’t cite those near the preschool because they were cooperative. Taking action takes time, he noted, especially making an arrest and jailing someone, which can keep him from responding to complaints on the next block.</p>

<p>“Is the solution really to book?” he said. “They’ll just be back right here and do it again.”</p>

<div class="text-hed">Tickets brushed aside</div>

<p>Among the campers in the Mission was Martell Serrao, 34, a San Francisco native who two years ago was studying at City College and catering banquets. He lost his job, he said, and couldn’t afford rent. He said he won’t stay in shelters because they’re uncomfortable and have too many rules — he would have to come and go at certain times and limit what he keeps with him. The shelters also tend to fill up.</p>

<p>“I saw people camping out here and I said, ‘Hey, I might try that,’” he said.</p>

<p>Serrao has been cited 20 to 30 times for obstructing sidewalks, by his count, and spent a few days in jail.</p>

<p>“I can’t pay the fines. I don’t have a job,” Serrao said while stuffing everything he owns into a single backpack. “I guess they (cite you) to scare you away, so you won’t come back. But just because we got a citation doesn’t mean we’ll run away or disappear.”</p>

<p>As many as 90 percent of homeless people cited by police don’t pay the average $150 penalty, according to the San Francisco Coalition on Homelessness. People who are cited have the option of going to court, where a judge will often drop the fine if they agree to perform community service or enroll in a program aimed at helping them off the streets.</p>

<p>Like Serrao, however, most don’t do anything — and rarely is there consequence. Although the courts can issue arrest warrants for those who don’t pay penalties or go to court, the Sheriff’s Department doesn’t have room at the jail for all the scofflaws.</p>

<p>What’s more, Superior Court leaders decided last fall to stop issuing arrest warrants for people who ignore quality-of-life citations. Officials say the decision was made in part to put such crimes on par with other infractions — such as traffic violations, which trigger an additional $300 penalty for those who don’t settle up, but not an arrest — and in part to save staff time and taxpayers’ money.</p>

<p>Court officials also have long contended that arresting homeless people doesn’t deal with underlying problems. However, some, including retired Judge and former city Supervisor Quentin Kopp, say the lack of follow-up on tickets diminishes the integrity of the courts and has repercussions for others in the justice system, like police officers.</p>

<p>“If I’m a cop and my actions over multiple citations and arrests result in no judicial enforcement, naturally as a human being, you say, ‘Why bother?’” Kopp said.</p>

<div class="text-hed">A humbling history</div>

<p>The poster program for cracking down in San Francisco remains the Matrix program, a policy of sweeps rolled out between 1993 and 1996 by then-Mayor Frank Jordan, a onetime police chief.</p>

<p>The effort coincided with the introduction of a handful of laws targeting nuisance street crime, including a prohibition on panhandling next to ATMs. It led to tens of thousands of quality-of-life citations and arrests.</p>

<p>Jordan defends the program to this day, saying it enabled the city to clear camps and dangerous elements from downtown areas like Union Square. Critics, however, say it only pushed people into adjacent neighborhoods, and most estimates suggest the city’s homeless count didn’t change much in those years.</p>

<p>Jordan, now retired and still living in the city, said Matrix teamed police with social and health care workers to help homeless people. He disputed criticism, which he called political, that it was just heavy-handed policing.</p>

<p>“As a former chief of police, people painted it as a semi-militaristic program,” he said.</p>

<p>The controversy contributed to Jordan’s election defeat in 1995, but citations for nuisance behavior continued at a similar pace under Mayors Willie Brown and Gavin Newsom. In 2010, Newsom shepherded the sit-lie law, which targeted the young street population in the Haight-Ashbury. Both mayors emphasized housing as pivotal to reducing homelessness.</p>

<div class="text-hed">Complaints key, and rising</div>

<p>Today, the city continues to enforce quality-of-life crimes, issuing more than 27,000 citations in 2014, the latest full year of data available. Although police don’t track whether such offenses are committed by people with or without a home, officials say the bulk of the violations are linked to homelessness.</p>

<p>Almost all of the enforcement stems from complaints from residents and businesses rather than proactive police sweeps. And complaints are increasing, hitting about 65,000 in 2015, according to the Department of Emergency Management.</p>

<div id="barchart_camping"></div>

<p>The reactive approach is expensive. The Board of Supervisors’ budget analyst reported in May that police response to quality-of-life complaints last year cost $18.5 million, and in the vast majority of cases, the review found that no enforcement action was taken.</p>

<p>Critics on all sides say something has to change.</p>

<p>“It’s a phenomenal waste of money,” said Jennifer Friedenbach, executive director of the Coalition on Homelessness, which advocates for homeless people. “We’re putting all these police resources into moving people maybe a block. Instead, we could be housing people. Then we wouldn’t have the suffering that people are experiencing, and there wouldn’t be the complaints from residents.”</p>

<div class="text-hed">Moving forward</div>

<p>Lt. Michael Nevin, who heads the Police Department’s homeless unit and organizes the morning patrols with Public Works crews and the HOT team, says assistance from outside law enforcement is vital to getting people off the streets.</p>

<p>“If I thought issuing citations would guarantee that people turn their lives around, I would encourage officers to issue thousands more than they currently do,” Nevin said. “But at the end of the day, something has to turn in a more positive direction.”</p>

<p>One possible shift, which could not only save money but target the root causes of homelessness, is getting more counselors and clinicians instead of police to respond to complaints about homeless people. It’s a goal the city is already moving toward: In 2014, the city doubled the number of outreach workers on the HOT team, which now has 31.</p>

<p>Outreach specialists and social workers generally cost the city between $64,000 and $103,000 annually in salary and benefits.</p>

<p>In some of San Francisco’s high-profile crackdowns on encampments in recent years, outreach workers sought to find places to stay for homeless people before the police moved in. At a camp at Fifth and King streets in the shadow of Interstate 280, 50 residents were moved into a church, then directed to housing and services before the settlement was cleared in 2012.</p>

<p>The sweep on Division Street under Highway 101 in March didn’t go quite as smoothly. But opening a temporary 150-bed shelter at Pier 80 was key to the effort, a component that many police officers say needs to be expanded.</p>

<p>“I would hope to see enough resources to provide adequate shelter for folks who need it,” Nevin said. “I think any cop would tell you that. We don’t want to see anyone living on the streets.”</p>

<p>The city maintains about 1,300 shelter beds — well short of the estimated 3,500 people who sleep on San Francisco streets each night. The city’s biennial count of homeless people totaled around 6,700 in 2015, though many officials and advocates for the homeless say the true number could be 10,000 or more.</p>

<p>Some say money for shelters is better spent on long-term housing. But more shelter beds with fewer limitations could help police make their case to homeless people to move indoors.</p>

<p>The Navigation Center in the Mission District, a dormitory-style shelter with few preconditions and robust ties to city services, has gained national praise for its success getting people off the street. On June 14, the Board of Supervisors voted to commit the city to adding six more such shelters over the next two years. The cost of a 75-bed center could be up to $3 million to open and $6 million a year to operate.</p>

<div class="text-hed">A role for the robes</div>

<p>The court system can also do more to direct homeless people off the streets.</p>

<p>San Francisco Superior Court, the district attorney’s office and the public defender’s office have united behind diversion programs that steer those charged with nonviolent crimes into treatment rather than jail.</p>

<p>“Incarceration is actually inimical to trying to end criminal conduct,” said Judge Jeffrey Ross, who runs an alternative courtroom where military veterans are urged to get help to stabilize their lives.</p>

<p>Although diversion efforts have succeeded in getting help for defendants facing jail time for crimes like theft, such programs generally haven’t worked for those who commit quality-of-life crimes. These offenses typically carry no threat of incarceration — and no incentive for people to agree to services.</p>

<p>Some critics say the city is hamstrung by its liberal ethic and needs to pursue stiffer charges and penalties for nuisance crimes, in part by bringing misdemeanor cases against those who don’t resolve multiple citations. This would probably require an expansion of the courts and possibly more jail space. But it would also give the justice system more power to push defendants into programs.</p>

<p>As it is, the courts are moving in the other direction, having done away with arrest warrants for people who fail to show up to answer for quality-of-life citations. Before, under a multiagency effort aimed at chronic offenders, prosecutors could charge people who ignored 20 or more citations with a misdemeanor for failing to appear. That allowed sheriff’s deputies to arrest the offender and get the case before a judge.</p>

<p>“With no bench warrants being issued, it takes away an avenue,” said Alex Bastian, a spokesman for the district attorney’s office.</p>

<p>Prosecutors are still going after repeat violators, but by building public-nuisance cases instead. In April, the district attorney’s office won a one-year jail sentence, tied to drug treatment, for a woman who consistently harassed people in the Castro neighborhood. But the effort required many hours of police work, far more than the chronic offender program.</p>

<p>The Police Department is working to launch a plan to get some violators help before they’re arrested. Partnering with city health workers, police intend to give suspected drug users in the Tenderloin and Mission the option of going into immediate treatment rather than being booked for a crime.</p>

<p>What is clear is that while few want homelessness criminalized, policing that is compassionate but insistent must play a role in helping people and getting them off the streets.</p>

<div class="text-hed">Finding a ‘middle ground’</div>

<p>Sam Dodge, director of the mayor’s Housing Opportunity, Partnerships and Engagement office, acknowledges the fine line between too little law enforcement and too much.</p>

<p>“We want to lead with social services, but you also want to say it’s not OK to squat here indefinitely,” Dodge said. “We need to find this middle ground.”</p>

<p>For many along Florida Street in the Mission, the scales have tipped too far in one direction.</p>

<p>Employees at McCalls Catering and Events, which operates out of a building near Sweet Peas Preschool, said the tents on the sidewalk have become scary to walk past, especially at night. Some of the campers, they said, are engaged in drug use, prostitution and bike theft.</p>

<p>“They’re clearly high and unpredictable,” said Kirsty Gumina, a manager at McCalls who described herself as a “liberal Oaklander” who never thought she’d be calling the police to complain about homeless people. “Police should enforce the laws that are on the books. It’s not legal to put a tent on the street.”</p>

<p>At the preschool, Dionne, the director, bristled at the thought that she and the children have to accept the deterioration of their community.</p>

<p>“It’s unfortunate,” she said, “that this is what we have to get used to in San Francisco.”</p>
