<p>How many people are homeless in San Francisco?</p>

<p>That question is the basis for the most frequent Google search in the city regarding homelessness. The answer, though, is elusive.</p>

{% include '_components/_infobox.html' %}

<p>Multiple government agencies have attempted to calculate the scope of homelessness, but accurately measuring it or its social and economic impacts is difficult, if not impossible. Homelessness can take many forms and is often a temporary status, making it hard to reliably track.</p>

<p>The city hopes to build a more comprehensive information system, making it easier to count and provide assistance to homeless people. Currently, however, estimates on the number of people living on San Francisco’s streets — and the costs associated with them — vary dramatically.</p>

<p>The figure 6,686 is the most widely circulated approximation of homeless adults in the city. That number comes from a count made on a single night in January 2015, when volunteers fanned out across San Francisco and identified people who appeared to be sleeping on the streets, in parks, in cars, or anywhere else not meant for human habitation.</p>

<div class="float-img-container">
  <div class="float-img right">
      <img src="../static/graphics/data/sfhomeless.jpg">
      <div class="credit">Rahul Mukherjee/The Chronicle</div>
      <div class="credit second">Source: San Francisco’s Biennial Homeless Count</div>
  </div>
</div>

<p>Those staying in a temporary shelter that evening were also counted to come up with the final estimate.</p>

<p>The biennial survey — conducted in cities across the country at the behest of the federal Department of Housing and Urban Development — provides the only consistent and uniform data enumerating street people. The information from those counts influences everything from federal funding for homeless services to newspaper headlines to discussions at City Hall. But they stem from an imprecise science.</p>

<div id="bycity"></div>

<p>In some cities, including San Francisco, volunteers are told not to speak with the people they’re counting for safety reasons, forcing them to rely on visual cues. Some, like a person curled up in a sleeping bag on the street, are pretty clear. Others, like someone pushing a cart full of recyclables, are less definitive.</p>

<p>“It’s a big undercount, because they just look at someone and assume a housing status,” said Jennifer Friedenbach, executive director of the San Francisco advocacy group Coalition on Homelessness.</p>

<div class="float-img-container">
  <div class="float-img right">
      <img src="../static/graphics/data/hud.jpg">
      <div class="credit">Rahul Mukherjee/The Chronicle</div>
      <div class="credit second">Source: Housing and Urban Development</div>
  </div>
</div>

<p>The HUD survey also excludes people sleeping on a friend’s couch or waiting for a shelter bed, as well as individuals who evaded the canvassers. The thousands of formerly homeless residing in permanent supportive housing — which offers a suite of services along with an apartment room for life — are also excluded from the figure.</p>

<p>“It’s not perfect, but it’s a good snapshot in time of the homeless,” said Eduardo Cabrera, a spokesman for HUD who participated in San Francisco’s most recent survey. “At this point, it’s the best tool we have to measure the extent of homelessness.”</p>

<div class="text-hed">9,975 homeless in the city?</div>

<p>San Francisco’s Department of Public Health maintains a robust database that accounts for every homeless person that uses medical, mental health or substance abuse services in the city.</p>

<p>Unlike the HUD count, which takes place over just a few hours, Public Health’s database, called the Coordinated Care Management System, tracks people who have experienced homelessness at any point during an entire fiscal year.</p>

<p>“It’s better for getting a sense of how many people in a community are touched by homelessness over a longer time span,” said Barry Lee, a Penn State sociology professor familiar with similar tracking systems. “By its nature, homelessness is episodic, it’s fluid.”</p>

<div class="float-img-container">
  <div class="float-img right">
      <img src="../static/graphics/data/ccms.jpg">
      <div class="credit">Rahul Mukherjee/The Chronicle</div>
      <div class="credit second">Source: Department of Public Health’s Coordinated Care Management System</div>
  </div>
</div>

<p>In fiscal 2014-15, Public Health’s CCMS reported 9,975 homeless individuals in the city, a figure nearly 50 percent higher than the biennial homeless count’s estimate (32 percent higher when including the supplemental youth count). The database, which provides a detailed breakdown of the health conditions and demographics of the people it tracks, paints a stark picture.</p>

<p>In the 2014-15 fiscal year:</p>

<li><p>More than half of the homeless people in CCMS had a history of depression or psychosis.</p></li>

<li><p>Roughly 60 percent had a history of drug or alcohol abuse.</p></li>

<li><p>A third had been intermittently homeless for longer than a decade, up from 9 percent in 2007. Nearly half of those individuals were African American. Just 6 percent of the city’s general population is black.</p></li>

<li><p>The number of homeless people age 60 or older jumped 30 percent, from 856 individuals in 2007 to 1,103 last year.</p></li>

<li><p>79 homeless people died in 2014-15. As of April, 87 homeless individuals had died in 2015-16, with three months left in the fiscal year.</p></li>

<div id="historical"></div>

<p>Homeless people cost the city nearly $150 million in emergency health care last year, including ambulance rides, emergency room visits, placements in sobering centers and other services. A relatively small number accrued significantly high care costs.</p>

<p>The 1,320 homeless people needing the most aid required $106 million in emergency medical and mental health services last year — or roughly $80,000 on average — accounting for more than a fifth of all such costs in San Francisco.</p>

<p>“They’re a very vulnerable, very sick, and very high-cost group,” said Maria X Martinez, a Public Health director who helps oversee CCMS.</p>

<p>Public Health’s information system has helped San Francisco target and track its most needy residents, but it has a practical limitation: It only captures those using medical, mental health or substance abuse services.</p>

<div class="float-img-container">
  <div class="float-img right">
      <img src="../static/graphics/data/sfusd.jpg">
      <div class="credit">Rahul Mukherjee/The Chronicle</div>
      <div class="credit second">Source: San Francisco Unified School District</div>
  </div>
</div>

<p>Younger street people, who are typically healthier, are under-represented, according to Friedenbach. The more than 2,000 schoolchildren living without a stable home, according to the San Francisco Unified School District, are also probably missing from the database.</p>

<p>Friedenbach estimates there are closer to 13,000 homeless people in the city over the course of an entire year.</p>

<div class="text-hed">Growing or shrinking?</div>

<p>While Public Health’s database shows the homeless population is getting older, sicker, and spending more time on the streets, it also suggests there are now fewer of them in San Francisco. In 2007, the city health department recorded nearly 12,000 homeless individuals.</p>

<p>The data run counter to the point-in-time estimates. Both HUD and the biennial count show the number of homeless, particularly those without shelter, has grown over the past decade — a trend that matches public perception in the city.</p>

<p>“I’ve been here 26 years, and the homeless problem is worse than it has ever been,” said Candace Combs, a massage studio owner and president of the Mission Creek Merchants Association. “When I walk by these encampments, as a woman, it doesn’t feel safe.”</p>

<p>Combs isn’t the only person concerned about the growing number of tarps and tents on the sidewalks; there has been a surge in 311 complaints regarding encampments in recent years.</p>

<div id="map311"></div>

<p>In 2013, the city’s 311 line recorded 898 encampment-related grievances, or between two and three per day, according to a Chronicle analysis. As of mid-May this year, there had been 6,982 complaints about homeless camps, or more than 50 per day. (Andy Maimoni, deputy director of 311, attributed some of the growth to a new category for homeless camps added to the mobile app in October.)</p>

<p>311 complaints, of course, don’t measure the number of homeless people, but public sentiment. The spike in such grievances may not reflect a growing homeless population, just a more visible one.</p>

<p>“There used to a be a lot of marginal space, but that has become valuable real estate in a lot of places,” Lee, of Penn State, said, referring not just to the situation in San Francisco, but many parts of the nation. “You might be seeing more people out and about, but it could be because they have nowhere else to go.”</p>

<div class="text-hed">Creating a better system</div>

<p>The difficulty of accurately tracking how many people are homeless isn’t unique to San Francisco. Due to its often transient and temporary nature, it’s virtually impossible to make a precise count of homeless individuals.</p>

<p>“I don’t think any city will ever say, ‘We feel confident that we have counted every single homeless person,’” said Nan Roman, president of National Alliance to End Homelessness in Washington, D.C. “But you can get close, you can get the dimensions, and if you’re consistent in the count methodology, you can measure progress from year to year.”</p>

<p>Currently, San Francisco doesn’t have a single information network to track homeless people, but rather a number of separate databases managed by different service providers. Jeff Kositsky, director of San Francisco’s new Department of Homelessness and Supportive Housing, hopes to solve that problem.</p>

<p>Kositsky plans to unite the disparate homeless information systems, including the Department of Public Health’s CCMS, allowing the city to better track its neediest residents and connect them to appropriate services — whether that’s housing, a shelter bed or medical care.</p>

<p>Putting all services under one roof should not only make it easier for the city to track the number of people living on the streets, it should also make it simpler for homeless people to access care.</p>

<p>“If you’re homeless, you may need to be assessed three, four different times, answering the same questions each time; it’s unfair, inefficient and not respectful of people we’re trying to serve,” Kositsky said. “Clients have to get into many different lines to access services, and we’re going to ask them to get into one line.”</p>

<p>Kositsky anticipates the new homeless system will be partially running by next October, and fully functional by the fall of 2018.</p>
