<p>Brian Devlin set five alarm clocks to make sure he wouldn’t miss his appointment — two cell phones, two digital clocks and an iPad.</p>

<div id="infobox">
  <p>About this project:</p>
  <div class="project-logo small">
    <a  href="http://www.sfchronicle.com/homeless/" target="_blank"><img src="../static/logos/SFHomelessProject_square_02.png"></img></a>
  </div>
  <p>The San Francisco Chronicle has joined with more than 80 other news organizations to focus attention on the seemingly intractable problem of homelessness in our region.</p>
  <p><a href="http://www.sfchronicle.com/bayarea/article/SF-Homeless-Project-What-has-changed-in-response-10688659.php" target="_blank">Read about the second part of the project.</a></p>
  <p>Read more stories and see multimedia elements from this project at <a href="http://sfchronicle.com/homeless"> SFChronicle.com/homeless</a>.</p>
</div>

<p>He and his girlfriend, who had been living on the streets of San Francisco until the city helped them find a one-bedroom apartment with a shared bathroom down the hall, are trying to get federal disability assistance so they can continue their rebound from homelessness.</p>

<p>City social workers are helping them negotiate the notoriously difficult process of applying for Supplemental Security Income, or SSI. The benefit would replace the local aid Devlin gets with about twice as much federal money while he deals with long-term injuries from a car accident.</p>

<p>“I don’t know any person who made it (applying for SSI), at least the first time,” Devlin, 30, said outside his apartment on busy Sixth Street, adding that his girlfriend struggles with anxiety and was denied the benefit a few weeks ago after her second application.</p>

<p>As cities like San Francisco struggle to fight homelessness, SSI represents a critical pot of money that can help save people from the streets while significantly relieving local budgets. But across California, thousands of people who are homeless or living in temporary housing are not enrolled in SSI even though they are likely eligible because of a disability, including mental illness.</p>

<div class="inline-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/11878358/5/1000x0.jpg">
    <p class="caption">Brian Devlin, who used to live on the streets, walks home after applying for disability benefits at the San Francisco Human Services Agency. <span class="byline"> Liz Hafalia, The Chronicle</span></p>
</div>

<p>Thefederal government’s rigid review procedures — and the difficulty disabled people have applying — mean tens of millions of dollars remain in Washington instead of getting to those who could use it to steady their lives.</p>

<p>“SSI helps a lot in getting a roof over people’s heads,” said Edwin Batongbacal, director of San Francisco’s adult behavioral health division.</p>

<p>Rough estimates suggest 6,700 to 10,000 people are homeless in San Francisco, with 40 percent or more disabled. At any given time, close to 2,000 of them may be eligible for SSI’s nearly $1,000-a-month stipend but aren’t getting it.</p>

<div id="infobox" class="ssi">
	<p><b>What is SSI?</b></p>
  	<p>Supplemental Security Income, or SSI, is money provided by the federal government to the nation’s poorest people who are elderly, blind or permanently disabled, including those who are mentally ill. In California, beneficiaries typically receive as much as $973 a month, which is intended to provide financial stability and keep a person from spiraling into homelessness. The Social Security Administration runs SSI, although the benefits are paid with general tax dollars, not Social Security taxes. The state of California contributes a small amount.</p>
</div>

<p>The city’s health and human services agencies have launched sweeping programs to help people sign up for the benefit, committing counselors, doctors and lawyers to the effort. The work largely pays for itself as local cash aid is swapped for federal dollars.</p>

<p>But some advocates say more can and should be done. Reaching out to more disabled people and providing greater support to those going through the application process are among the suggestions.</p>

<p>“Yes, there’s a strong program in San Francisco, but what they’ve done needs to be expanded,” said Alex Briscoe, a managing director at the antipoverty group Tipping Point Community and the former health director of Alameda County. “If what we were doing was sufficient, we wouldn’t have thousands of people sleeping outside every night.”</p>

<p>In a cubicle at San Francisco’s Human Services Agency, Devlin told his case manager he’d had trouble working since being hit by a truck several years ago, an accident that left him in a coma for six days and still impairs his mobility and concentration.</p>

<div class="inline-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/11878360/5/1000x0.jpg">
    <p class="caption">Alexander James (left) with the Homeless Advocacy Project helps Douglas Tam file for disability benefits in San Francisco. <span class="byline"> Paul Chinn, The Chronicle</span></p>
</div>

<p>When he lost his construction job, he explained, he couldn’t pay rent. He ended up living in a tent beneath a railroad trestle in the Bayview neighborhood and later under Highway 101 in the Mission District.</p>

<p>“I wish I would have taken a lot better care of myself when I was younger,” Delvin said.</p>

<p>Case manager Kelli Grotzke’s first task was to help Devlin chase down his medical records. She said if they can document his ailments, she’ll try to get an SSI application filed within two months. But it’s likely to be a month or more after that before they hear back, she said — and if he’s not approved, it could take a year or longer to appeal.</p>

<p>Fewer than a third of SSI applicants are accepted the first time they make a claim, federal statistics show. The percentage of approvals has dropped over the past two decades, and social services experts fear rates could slip further under a Trump administration.</p>

<p>The $54.8 billion program, launched in 1974, is designed to help poor people who have difficulty working because they’re elderly, blind or permanently disabled. It serves about 1.3 million Californians, according to federal data. How many are homeless is not known.</p>

<p>Those applying include people with major injuries and physical disabilities — who are often approved more quickly — as well as those with mental issues such as schizophrenia, bipolar disorder or anxiety, whose diagnosis and job limitations may be less clear. In many cases, these conditions are intertwined with drug use and addiction, which are typically not grounds for enrollment.</p>

<p>For SSI recipients under age 65, about 60 percent have a mental disorder, federal data show.</p>

<p>Social Security officials who manage SSI declined to comment on the difficulty of the application process. In an email to The Chronicle, the agency said: “The allowance or denial of a claim for SSI benefits is determined on an individual basis.”</p>

<p>But people who work with SSI applicants speculate that approvals may be influenced by concerns that the benefit creates welfare dependency or facilitates drug use. At times, disabled people themselves resist the program because they’re ashamed of being labeled as handicapped.</p>

<p>“There’s a whole level of humiliation involved in the whole thing, talking about personal matters, mental health issues,” said Katie Danielson, senior supervising attorney for the Homeless Advocacy Project, a nonprofit that provides legal and support services for the needy. “These issues are not things that people feel comfortable talking to bureaucrats about.”</p>

<div class="inline-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/11878359/5/1000x0.jpg">
    <p class="caption">Douglas Tam gets help filing for disability benefits with the Homeless Advocacy Project in S.F. <span class="byline"> Paul Chinn, The Chronicle</span></p>
</div>

<p>Among those hoping SSI will alter their lives is San Francisco resident Douglas Tam, 59, who was recently sleeping at a homeless shelter in the Tenderloin and waiting to hear whether his severe depression and trauma from being victimized in a robbery will qualify him for the benefit.</p>

<p>“I know it can take a long time to get SSI, so I’m not frustrated,” said Tam, who is getting help from the Homeless Advocacy Project. “I just want to move out of the shelter as soon as possible.”</p>

<p>What is certain is that when disabled people get outside support applying for SSI, they’re far more likely to be enrolled. Acceptance rates soar as high as 90 percent when attorneys are involved, according to advocates.</p>

<p>To that end, the city’s Human Services Agency has dedicated more than three dozen people to SSI advocacy at an annual cost of $1.7 million. That’s in addition to two major nonprofits, including the Homeless Advocacy Project, that do similar work for the city’s Department of Public Health.</p>

<p>The effort doesn’t only help disabled people by boosting their payment to nearly $1,000 a month, up from the city’s maximum of $473 in general assistance. The money that the city spends on advocacy nets a return as high as $3 for every dollar spent as people move from local to federal aid, city officials say. The savings can be reinvested in more application support and other social services.</p>

<p>SSI payments are generally retroactive to the date a person applied.</p>

<p>“It’s a win for the client: They get more monthly cash. And it’s a win for the county because it offsets our costs and avoids future costs,” said Trent Rhorer, executive director of the Human Services Agency, who helped spearhead the city’s expansion of SSI advocacy over the past decade.</p>

<p>About 750 people a year are signed up for SSI through the department, officials say, and about a quarter of them are homeless or in the process of getting housing.</p>

<div class="full-width-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/11878356/5/2000x2000.jpg">
    <p class="caption">A Human Services Agency sign is installed in San Francisco. <span class="byline"> Liz Hafalia, The Chronicle</span></p>
</div>

<p>Devlin and his girlfriend, 28-year-old Ashley Borst, were encouraged to apply for SSI after homeless outreach workers found them living under Highway 101 near San Bruno Avenue and referred them to the Human Services Agency.</p>

<p>Both were told by social workers that they might have a disability, which neither was particularly happy to hear.</p>

<p>“To say that I felt embarrassed doesn’t even begin to scratch the surface,” said Borst, who once had a job as a caretaker assisting disabled people. “Nobody wants to be called disabled. You can’t say that to me. But would the money help? Yes. I would have curtains on my windows.”</p>

<p>Like San Francisco, many counties in the Bay Area provide some level of SSI application assistance. However, advocates say more help is needed, even in places that already have robust advocacy programs like San Francisco.</p>

<p>“Over the last several years, we’ve seen groups in the East Bay, and more recently in Los Angeles and to some degree San Francisco, start to do a more intensive hand-holding process for applicants,” said Mike Herald, director of policy advocacy for the Western Center on Law and Poverty. “They really need to expand.”</p>

<p>In Alameda County, social workers have begun giving disabled people more money when they apply for SSI — $318 a month on top of their local assistance checks, typically for housing — as well as offering medical care. The idea is to help stabilize applicants so they’re more likely to stick with the long and demanding SSI review process.</p>

<p>The county’s added cost, officials say, is recouped when people succeed in obtaining the benefit and when retroactive SSI checks pay down the initial outlay.</p>

<p>Alameda County also has been adding attorneys to represent those seeking SSI — more than 40 at last count. By comparison, San Francisco has fewer than 10 such attorneys, according to a report this year by the city budget and legislative analyst.</p>

<p>Los Angeles County, home to the state’s largest homeless population, is in the process of overhauling how it helps SSI applicants. The city is putting an outside contractor in charge of signing people up instead of spreading the work across departments and nonprofit groups, a practice that led to wasteful duplication. The county is also offering housing subsidies for applicants, similar to Alameda County.</p>

<div class="inline-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/11878355/5/1000x0.jpg">
    <p class="caption">Douglas Tam files for disability benefits with the Homeless Advocacy Project in San Francisco. <span class="byline"> Paul Chinn, The Chronicle</span></p>
</div>

<p>In other parts of the state, communities are exploring ways to expand SSI enrollment beyond their regular clientele — those on local assistance rolls. One possible focus is jails, where some inmates may need help upon release.</p>

<p>“San Francisco and other counties right now should be looking at what populations are not being served and propose getting enough capacity to provide representation and advocacy for those folks,” said Steve Weiss, an attorney for Bay Area Legal Aid who has long helped disabled people apply for SSI. “This has been proven to work. It gets them off the street. It gets them housing.”</p>

<p>New California legislation put forth by state Senate President Pro Tem Kevin de León, D-Los Angeles, dubbed the “No Place Like Home” initiative, commits $45 million in state money to counties for SSI advocacy. Applications for the cash, which require a local match, will be accepted early next year.</p>

<p>“Any county that doesn’t do this is just neglectful,” Weiss said.</p>

<p>San Francisco officials have expressed interest in the state dollars and are eyeing possibilities to expand their SSI enrollment efforts. The city’s current program is equipped to screen everyone who gets local assistance for disabilities — and provide application help as needed — but officials acknowledge there are more people on the streets who probably are eligible.</p>

<p>Rhorer, with the Human Services Agency, estimates that at any point in time as many as 1,800 to 1,900 homeless people are not enrolled in SSI and could be targeted by stepped-up outreach.</p>

<p>Such an expansion, he said, would require as many as 90 employees, up from his department’s current 37. The staffing would cost more as workers go further afield to find disabled people, and provide more intensive help to applicants who are less certain of winning the benefit. That means less financial payback for the city.</p>

<p>“I think the direction we want to go is to expand in that way,” Rhorer said, noting that it’s still unclear whether his agency or another would take the lead.</p>

<p>On a recent evening, Devlin and Borst sat on the twin-size bed in their apartment wondering whether SSI money would allow them to move to someplace nicer. At the same time, they had a more immediate concern: making their next rent payment.</p>

<p>“Trying to save for housing, trying to save for food, it’s hard,” Borst said. “I’m from Texas. I don’t take help easily. ... But I don’t know what else to do.”</p>
