<h1 class="long">San Francisco has plans to do more</h1>

<p><b>By Ed Lee</b></p>

<div class="inline-mayor">
	<img src="/static/images/insight/sketches/edlee.png">   
</div>

<p>Our city is struggling with the humanitarian crisis of people experiencing homelessness on our streets. This challenge isn’t unique to San Francisco — cities up and down the West Coast, and in fact across the nation, are seeing spikes in their homeless populations.</p>

<p>In San Francisco, we’ve moved 20,000 homeless individuals indoors over the last decade, and given them the social and emotional support they need in our city or back to their hometowns. But, clearly, we need to do more.</p>

<div class="inline-img">
    <img src="/static/images/insight/lee1.jpg">
    <p class="caption"><span class="year">2016</span> Caption.<span class="byline"> Photo by: Lea Suzuki, The Chronicle</span></p>
</div>

<p>As we house and serve thousands, they’re replaced by new thousands — people who fall into homelessness here, people sent here by other states or people who arrive every day seeking a better life. As a result, people live on our streets, under freeways and even in tents on our sidewalks. This is unhealthy, unsafe and unacceptable.</p>

<p>That’s why I have pledged that over the next four years the city will help at least 8,000 people get off our streets and into housing or services to help them stay permanently off our streets. Through coordinated, compassionate and high-quality services provided by the newly created Department of Homelessness and Supportive Housing, we are building a system that ends a person’s homelessness before it becomes chronic.</p>

<p>I’ve budgeted the funding necessary to support these plans and have worked closely with the Board of Supervisors on a proposed sales tax for the November ballot to sustain these investments.</p>

<div class="float-img-container">
    <div class="float-img left">
        <img src="/static/images/insight/lee2.jpg">
        <p class="caption"><span class="year">YYYYY</span>Caption.
        <span class="byline"> Photo: Person Person, The Chronicle</span></p>
    </div>
</div>

<p>But in order to be successful, we must learn from the past. We know if we simply move people into shelter or from corner to corner without a longer-term plan for their success, we are not meeting the challenge of homelessness. We’re prolonging the problem.</p>

<p>That’s why we started the Navigation Center, which has quickly become a model for serving people who are homeless. It maximizes existing resources, strategically invests in creative programs, and effectively matches individuals with the services they need.</p>

<p>These centers break down barriers that homeless people face when moving off the streets by allowing 24-hour access to shelter and opportunities to bring their partners, possessions and pets with them. This approach allows us to stabilize individuals and take care of their immediate needs. Then we can help them focus on a long-term plan for their lives off the streets.</p>

<div class="inline-img">
    <img src="/static/images/insight/lee3.jpg">
    <p class="caption"><span class="year">YYYY</span> Caption.<span class="byline"> Photo by: Person Person, The Chronicle</span></p>
</div>

<p>As we expand Navigation Centers, we also have to expand our permanent supportive housing options. That’s why I have made an additional 700 housing units available in the last year alone. After people enter the Navigation Center, they then can move into housing with the mental health and other services they need — on-site —to remain housed. This is San Francisco’s largest expansion of supportive housing in more than a decade.</p>

<p>We have all the ingredients for success to end homelessness for thousands of our fellow citizens. I see it every day in the passion and energy of our service providers, city staff and everyday San Franciscans. It is with this passion and these investments that we push toward one goal: to end homelessness one by one, with the compassion and dignity that defines San Francisco.</p>

<p><i>Ed Lee is the mayor of San Francisco.</i></p>
