<h1 class="long">Solution calls for courage, creative ideas, new resources</h1>

<p><b>By Frank Jordan</b></p>

<div class="inline-mayor">
	<img src="../static/images/insight/sketches/frankjordan.png">
</div>		

<p>San Francisco has a proud reputation as a compassionate, caring, tolerant city — a place of new beginnings with opportunities for a second chance in life. Unfortunately, with all our good intentions and different strategies, we are still unable to resolve the problem of homelessness. Every mayor has devoted public resources and tax dollars, but homelessness continues to be a complex social issue with highly charged political ramifications.</p>

<p>If there were simple solutions, then our city’s elected officials — with the assistance of human-services organizations such as the Salvation Army, St. Anthony’s Outreach, Glide Memorial Church, Hamilton House, the Tenderloin Neighborhood Development Corp., A Woman’s Place and Swords to Plowshares (to name a few) — would have resolved homelessness. As it is, every major U.S. city is struggling with the issue.</p>

<div class="inline-img">
    <img src="{{ url_for('static', filename='images/insight/jordan1.jpg') }}">
    <p class="caption"><span class="year">1988</span> CAPTION TK.<span class="byline"> Photo: Person Person, The Chronicle</span></p>
</div>

<p>The reasons for homelessness are many: families are out of work; veterans return home with post-traumatic stress disorder or drug or alcohol dependency; a state adopts a policy whereby the state psychiatric hospitals closed and patients released to cities ill-equipped to provide them necessary services. Adding to the mix is the high cost of living and diminishing number of blue-collar jobs in San Francisco. Unfortunately, periodic economic downturns and a variety of complicated medical conditions provide a never-ending supply of new people to take the place of those who have been helped.</p>

<p>At the same time, San Francisco’s taxpaying citizens and business owners are entitled to and expect a reasonable level of public safety and quality of life. As a city, we must extend a helping hand while encouraging civil behavior in public places.</p>

<p>I suggest we need, with a coordinated effort and resources from the state and federal governments:</p>

<ol id="jordan-list">

<li><p>Community support for the police, allowing realistic enforcement of quality-of-life laws.</p></li>

<li><p>Courts working in concert with law enforcement, health care and social-service workers. Too often, cases are dismissed, and the revolving door continues. Rather than penalties, impose mandatory treatment.</p></li>

<li><p>Sufficient housing and care facilities.</p></li>

<li><p>Laura’s Law, which requires treatment of mentally ill people when they are a danger to themselves and others.</p></li>

<li><p>The legal means to have people in need of alcohol, drug or mental health services to accept them.</p></li>

</ol>

<p>It will take courage, commitment and creative elected officials to successfully navigate the difficult road ahead. We must all stay positive and hopeful.</p>

<p>Remember: “It is better to light a candle than to curse the darkness.”</p>

<div class="text-hed">Homeless Approaches</div>

<p><b>What I tried:</b></p>

<p>The Matrix program was an effort to address the escalation in the number of homeless persons on our streets. The goal was to assist in providing shelter and psychiatric or substance-abuse treatment to homeless individuals, provided that they would agree.</p>

<p><b>What worked:</b></p>

<p>Matrix was delivered through teams, each with a police officer, a public health worker and a social worker. The social worker would attempt to sign up homeless individuals for food stamps and a $345 monthly general assistance check. Monthly rent was paid directly to landlords of single-room occupancy hotels. This eliminated the problem of homeless people with drug/alcohol or mental health issues having cash to spend on their addiction or having other street people take advantage of them.</p>

<p>The police officer would enforce laws against public inebriation, obstructing the sidewalks, trespassing, aggressive panhandling, public defecation or camping, and sleeping in neighborhood parks. We found we can’t be tolerant of inappropriate behavior or it will only get worse.</p>

<div class="float-img-container">
    <div class="float-img right">
        <img src="../static/images/insight/jordan2.jpg">
        <p class="caption"><span class="year">YYYY </span>Caption.
        <span class="byline"> Photo: Person Person, The Chronicle</span></p>
    </div>
</div>

<p>To put Matrix into practice, the Mayor’s Office initiated and voters approved ballot measures involving quality-of-life issues and procedural changes in general-assistance funding. For example, panhandling was not allowed in the immediate area of automatic bank teller machines so customers withdrawing funds would not feel intimidated.</p>

<p><b>What didn’t work:</b></p>

<p><b>Housing the homeless </b>proved insurmountable: The city was unable to provide large-scale funding for long-term, low-income housing to keep homeless individuals permanently off the streets. This is a much bigger problem for local governments to solve without a dedicated stream of funding from the state and federal governments.</p>

<p><b>The program name </b>was a problem: “Matrix” came across to some as a semi-militaristic title — too strong! More citizen acceptance possibly would have occurred with a more sensitive title. In succeeding years, the city launched a program very similar in practice but whose name, “Care Not Cash,” conveyed a softer tone. Semantics can help — or hinder — a program as it begins to unfold.</p>

<p><i>Frank Jordan was mayor of San Francisco from 1992-1996.</i></p>