<h1 class="long">A response that goes ‘Beyond Shelter’</h1>

<p><b>By Art Agnos</b></p>

<div class="inline-mayor">
	<img src="/static/images/insight/sketches/artagnos.png">
</div>

<p>When I became mayor in 1988, existing government policy for homelessness consisted of the “American disaster model” employed in natural disasters like floods and tornadoes. Cities opened armories and served coffee and doughnuts in what was expected to be temporary relief. Afterward, the homeless “victims” would resume their lives.</p>

<p>My administration recognized that the homelessness created by disasters like drug abuse, mental illness, domestic violence, alcoholism, runaway children, unemployment or low wages required a different approach than homelessness created by floods and hurricanes.</p>

<p>In 1989, San Francisco homeless advocates, religious leaders, nonprofit and social service staff gathered to invent a first-of-a-kind plan. That plan, “Beyond Shelter,” is a solution but not a fast solution — there are no fast solutions. Sadly, we, the politicians and the public, have lacked the conviction and commitment to realize success in solving homelessness.</p>

<p>“Beyond Shelter” was developed to deal with the aftershocks of national political and economic decisions that put hundreds of homeless people on city streets.</p>

<div class="inline-img">
    <img src="{{ url_for('static', filename='images/insight/agnos1.jpg') }}">
    <p class="caption"><span class="year">1988</span> Mayor Art Agnos dishes up mixed vegetables for the needy at St. Anthonys Thanksgiving dinner.<span class="byline"> The Chronicle file photo</span></p>
</div>

<p>The Reagan administration had cut the U.S. Department of Housing and Urban Development’s budget from $32 billion to $8 billion for affordable housing — as well as minimum financial assistance such as Supplemental Security Income. The combined effect was terrible.</p>

<p>Then, just as “Beyond Shelter” got under way, the Loma Prieta earthquake hit on Oct. 17, 1989, and the city faced a new homeless crisis.</p>

<p>Devastation in the Marina neighborhood suddenly forced residents from their homes. Emergency shelter and services were quickly put in place by national agencies. Not as much attention was paid to more than a thousand formerly homeless people living in the South of Market single-room-occupancy hotels made homeless again. The Red Cross and Federal Emergency Management Agency offered immediate housing aid to homeowners and renters, but denied the same housing aid to those who had been living on public assistance in SRO hotels.</p>

<p>I demanded, received and shared with other badly damaged cities, donated earthquake funds totaling more than $30 million, which was surreptitiously taken from the city by the Red Cross and deposited in its Washington, D.C., accounts.</p>

<p>“Beyond Shelter” was inaugurated with San Francisco’s share with the opening of two centers totaling 480 beds. These facilities initially were modeled after the magnificent Delancey Street Foundation, a successful program that never compromises with the highest standards of quality and design.</p>

<div class="float-img left">
    <img src="{{ url_for('static', filename='images/insight/agnos.jpg') }}">
    <p class="caption"><span class="year">1990</span> Caption.<span class="byline"> Photo by: Person Person, The Chronicle</span></p>
</div>

<p>The homeless in the Civic Center encampment, which I had allowed to exist in the months between the earthquake and the opening of the centers nine months later, were peacefully moved to the multiservice centers with priority for placement in the new “Beyond Shelter” programs.</p>

<p>At the multiservice centers, social service and health professionals would evaluate each new arrival to determine what services he or she needed to recover a productive life. Compassion and aggressiveness were balanced in a case management system designed to help homeless people recover by, first, housing them and then linking them with appropriate services.</p>

<p>“Beyond Shelter” had three levels of service:</p>

<div class="text-hed">Assessment</div>

<p>MultiService Centers (think today’s Navigation Centers) accepted individuals and families — with pets — for a diagnostic stay to identify the conditions responsible for their homeless “disaster.”</p>

<p>A part of this was the McMillan Emergency Drop-in Center, where individuals could crash — with no questions asked or be brought there in “Mobile Assistance Patrol” vans, always on standby for that purpose.</p>

<div class="text-hed">Transition</div>

<p>Once they were diagnosed, the homeless entered the appropriate transitional housing with supportive services matching their evaluation. Some might need a short stay — others a longer one.</p>

<div class="text-hed">Permanent housing</div>

<p>Permanent housing — the ultimate goal of the program.</p>

<p>“Beyond Shelter” had two essential assets:</p>

<p>— A Community Housing Partnership to develop, maintain and employ homeless people in their housing. Today, this agency houses and supports more than 1,000 formerly homeless people. The director, Jeff Kositsky was just named as the first director of the new San Francisco Department of Homelessness and Supportive Housing.</p>

<p>— A “modified payment” program to stabilize existing SRO housing by guaranteeing rent payments to landlords in exchange for rent discounts. This helped secure the existing housing stock as well as complement the longer-term commitment to nonprofit housing development.</p>

<p>The final, and more controversial, element called for severely troubled homeless individuals who acted out in socially unacceptable or uncivilized ways to be sent by court order to a “rehabilitation farm” for treatment.</p>

<p>The cost estimates to build out “Beyond Shelter” were about $125 million in today’s dollars for a target population of 6,000. It certainly fit within the current budget spending of $245 million.</p>

<p>Nevertheless, we knew that San Francisco needed the buy-in of the Bay Area cities. In May 1990, mayors from San Jose, Oakland, Berkeley, Richmond and San Francisco signed a joint action plan and encouraged every city around the bay to join the effort.</p>

<div class="inline-img">
    <img src="{{ url_for('static', filename='images/insight/agnos2.jpg') }}">
    <p class="caption"><span class="year">1989</span> Caption.<span class="byline"> Photo by: Sam Forencich, The Chronicle</span></p>
</div>

<p>By 1991, we had added 444 beds in transitional housing, and awarded funding to construct 645 more for a total of 1,500 new places.</p>

<p>So why didn’t this state-of-the-art plan work?</p>

<p>The monumental human tragedy that is homelessness cannot be solved by constantly changing plans at election day. Elected officials must be willing to assume immediate political risks in order to achieve a long-term solution. Further, the public must accept responsibility for its fair share of the solution.</p>

<p>NIMBYism threatened any effort to locate a necessary component of a homeless plan anywhere except the Tenderloin. People want the issue to be solved, but not at their inconvenience. But it can be done — just look at the magnificent Delancey Street facilities located in Pacific Heights and now along the high-end waterfront.</p>

<p>The media has the responsibility to do more than the occasional special feature. Recently, homelessness came into the news because of the tent crisis on Division Street. This teachable moment must be continued regularly to inform the community about honest, workable solutions.</p>

<p>No plan will succeed until we demonstrate that we have the commitment to do all that is necessary to make an effective plan work for the most unpopular group of needy Americans.</p>

<p><i>Art Agnos was mayor of San Francisco from 1988 to 1992.</i></p>