<h1 class="long">Major changes needed before complex issue can be solved</h1>

<p><b>By Willie Brown</b></p>

<div class="inline-mayor">
	<img src="../static/images/insight/sketches/williebrown.png">   
</div>

<p>The 1995 contest for mayor had a major issue: homelessness. Everyone was asking “Does the Jordan administration’s ‘Matrix’ program work?” My answer was a loud and forceful “no.” After all, this was a political campaign. My answer tracked with what the public opinion survey showed.</p>

<p>I, of course, in the pursuit of votes and with the true belief that the problem was solvable, campaigned on the promise that I could solve it — ASAP. I called for a summit on homelessness shortly after taking the oath of office. Then, a series of meetings with city staff, neighborhood representatives, small-business owners and homeless advocates led me to the conclusion that the summit was not needed.</p>

<div class="inline-img">
    <img src="{{ url_for('static', filename='images/insight/brown3.jpg') }}">
    <p class="caption"><span class="year">1997</span> Then-Mayor Willie Brown wields a broom as part of his litter-removal program, while neighborhood youth look on in 1997. Brown says his “only option was to manage” homelessness.<span class="byline"> Photo: Person Person, The Chronicle</span></p>
</p>
</div>

<p>This is what I learned:</p>

<p>The homeless population was more complicated than my campaign rhetoric had acknowledged. This population was composed of military veterans, victims of drug addiction, persons with mental challenges, people with serious health issues, persons suffering from poverty, and families displaced by multiple uncontrolled circumstances. We addressed all of these populations as best as we could, given the legal limitations.</p>

<div class="float-img-container">
    <div class="float-img right">
        <img src="/static/images/insight/brown2.jpg">
        <p class="caption"><span class="year">YYYY </span>Willie Brown sports a cap reading “Da Mayor” while claiming victory in the San Francisco mayor’s race over incumbent Frank Jordan in a runoff election on, Dec. 12, 1995. During the campaign, Brown promised to solve the city’s homeless problem but eventually concluded that was not possible.
        <span class="byline"> Photo: Person Person, The Chronicle</span></p>
    </div>
</div>

<p>Governments — national, state, county or city — did not have the power legally to address homelessness. When you can’t force people to accept shelter or medication — even for their own benefit — it renders you helpless.</p>

<p>My only option was to manage — not end — the problem. This included:</p>

<p>Contracting with nonprofit care organizations, partnering with faith-based groups, supporting community and neighborhood food and health care programs and, of course, operating city homeless shelter and drop-in facilities — all subject to only voluntary use by homeless people.</p>

<p>Washing down the downtown streets, at hours recommended by city staff.</p>

<p>Dismantling and removing campsites (a staple of our program). Also effective was hiring an ex-homeless person to be the homeless program troubleshooter.</p>

<div class="inline-img">
    <img src="{{ url_for('static', filename='images/insight/brown1.jpg') }}">
    <p class="caption"><span class="year">YYYY</span> Pheona Tippens, sat near shopping carts laden with her belongings on Market Street in 1999. She said then that God would take care of her if Mayor Brown and the police took away her carts. Brown said at the time that homelessness could not be solved.<span class="byline"> Photo: Person Person, The Chronicle</span></p>
</p>
</div>

<p>Each of these steps was designed to legally control the issue. In my judgment, they worked but we did not wipe out homelessness. I said — to my regret to this day — homelessness cannot be solved.</p>

<p>My conclusion was — and is — that to solve homelessness requires massive change of many laws, rules and regulations which, without careful control, could impact the general population’s cherished freedoms.</p>

<p><i>Willie Brown was mayor of San Francisco from 1996 to 2004.</i></p>