<p>Like you, we are frustrated, confused and dismayed by the seemingly intractable problem of homelessness in our city. Like you, we want answers — and change.</p>

<p>We see the misery around us — the 6,600 or more people who live on the streets of San Francisco — and we sense it is worsening. We feel for the people who live in doorways and under freeways, and for the countless others who teeter on the edge of eviction. We empathize with the EMTs, the nurses and doctors, the social workers and the police. They are on the front lines of this ongoing human catastrophe.</p>

<p>Numerous noble, well-intentioned efforts by both public and private entities have surfaced over the decades, yet the problem persists. It is a situation that would disgrace the government of any city. But in the technological and progressive capital of the nation, it is unconscionable.</p>

<p>So beginning today, more than 70 media organizations are taking the unprecedented step of working together to focus attention on this crucial issue.</p>

<p>We will pool our resources — reporting, data analysis, photojournalism, video, websites — and starting June 29, will publish, broadcast and share a series of stories across all of our outlets. We intend to explore possible solutions, their costs and viability.</p>

<p>Though this is a united effort, we do not claim to speak with one voice. There are many lenses through which the issue of homelessness can be viewed. However, we do not intend to let a desire for the perfect solution become the enemy of the good. We want to inspire and incite each other as much as we want to prod city and civic leaders.</p>

<p>Fundamentally, we are driven by the desire to stop calling what we see on our streets the new normal. Frustration and resignation are not a healthy psyche for a city.</p>

<p>Our aim is to provide you with the necessary information and potential options to put San Francisco on a better path. Then it will be up to all of us — citizens, activists, public and private agencies, politicians — to work together to get there.</p>

<p>Signed,</p>

<p>The SF Homeless Project</p>
