<p>Everyone has seen them. They are the men and women walking barefoot down Market Street, talking to themselves or yelling obscenities at no one in particular. Or sitting quietly in dim doorways, rocking back and forth, or sprawling on nests of dirty blankets in BART corridors.</p>

{% include '_components/_infobox.html' %}

<p>The sickest people living on San Francisco’s streets are not only the most noticeable, but the most vulnerable and hardest to reach. Public health experts believe roughly a third — and maybe many more — of all homeless people in San Francisco are mentally ill, many of them battling severe conditions like schizophrenia, post-traumatic stress and bipolar disorder.</p>

<p>So intertwined are homelessness and mental health that it is impossible to resolve one without addressing the other. But on this fundamental issue, San Francisco is struggling at every level, unable to keep the most needy people from cycling between the street, emergency rooms, shelters and jail cells, at great expense and often without real progress.</p>

<p>“We have to look at this as a public health crisis,” said Jacob Kaminker, president of the San Francisco Psychological Association, who has worked with homeless people throughout the Bay Area. “At some point we have to ask: Are we going to offer better services to these people? Or are we going to spend that money on law enforcement and prison and emergency room bills? Are we just going to leave these people untreated?”</p>

<div class="inline-img">
    <div class='embed-container'><iframe src='https://player.vimeo.com/video/171661161' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
    <p class="caption"><span class="byline">Video: TBD, The Chronicle</span></p>
</div>

<p>To keep people with mental illness off the streets permanently, many experts and advocates say, San Francisco needs a fully supported system of mental health care that’s matched to individuals’ needs and provides seamless, uninterrupted housing.</p>

<p>Specifically: San Francisco needs dozens, maybe even hundreds of inpatient psychiatric beds to treat the most severely mentally ill. The city needs more transitional housing units to give people safe places to stay in between levels of mental health care, so there’s less risk of them falling out of the system. And it needs thousands more supportive housing units to keep open the pipeline of care and give people with mental illness a permanent home.</p>

<p>Mental health may be San Francisco’s most stubborn obstacle to ending homelessness. It’s arguably the most challenging and expensive to overcome.</p>

<p class="text-hed">Root of the problem</p>

<p>Ashley Trueva has lived in St. Mary’s Square, a pocket of a park on the outskirts of Chinatown, for six years. She’s been homeless for nearly half of her 32 years.</p>

<p>“This is the only safe place in the city,” said Trueva, who calls herself Shorty. “But if there was housing for me, I’d take it.”</p>

<p>She is a tiny woman, swimming in a white overcoat that, she notes with pride, is remarkably clean. It’s a gray Thursday morning in June and she’s been visited by someone with the Homeless Outreach Team, a Public Health Department group that works with the chronically homeless, trying to inch them into care and, ideally, housing.</p>

<p>They’ve gotten to know Shorty over several months. She’s talked about her constant stress, about symptoms of post-traumatic stress and bipolar disorder, about her addiction to methamphetamine. But for Shorty, and so many like her, there’s a massive gap between what she says she wants and what the city is able to provide.</p>

<p>The problem confronting San Francisco is rooted in staggering figures. It’s generally believed that of all homeless people, a third are mentally ill. But among the sickest and most chronically homeless the percentage is much higher. A city database that tracks homeless people who use medical and psychiatric services shows that in fiscal year 2014-15, more than half — about 5,300 people — had a history of mental illness.</p>

<div id="illness_mental"></div>

<p>Mayor Ed Lee told The Chronicle recently that the city needs “several hundred” more psychiatric beds for people who need the most intensive care. The city has about 160 such beds that are accessible to homeless people. Earlier this month, the district attorney’s office proposed the city create a new behavioral health justice center to alleviate a shortage of mental health services that is leading to jail time as well as homelessness.</p>

<p>Public and mental health experts say there’s a need for more beds across the community health care spectrum — from inpatient psych wards to supportive housing, where people can live mostly independently with easy access to services.</p>

<p>What would all of this cost? It’s difficult to estimate. No one can put a firm number on the shortage of beds and homes.</p>

<p>A hundred additional beds in a hospital psychiatric ward, the most expensive level of care, could cost $80 million a year, according to the Department of Public Health. The same number in a locked facility like a skilled nursing home or other non-hospital treatment center could cost up to $20 million.</p>

<p>The city also needs thousands more supportive housing units for those who don’t need institutional care, at a cost of at least $50 million a year.</p>

<p>But there could also be cost savings as a result.</p>

<p>Among the most needy homeless people — the 338 people in the city’s public health database who use the most emergency services — 80 percent have a history of serious mental illness. Nearly two-thirds have a physical and substance abuse problem, too.</p>

<p>This group makes up just 3 percent of the homeless people in the public health database, but they account for a third of all costs. Treating them in emergency and urgent care costs $51 million a year, or more than $150,000 per person on average.</p>

<div id="costs_mental"></div>

<p>“If you could just provide care for those people, you’ve freed up services for the rest,” said John Snook, executive director of Treatment Advocacy Center, a Washington, D.C., nonprofit that works for people with severe mental illness. “It’s a matter of getting in front of this problem.”</p>

<p class="text-hed">Some left behind</p>

<p>Some mental health experts say San Francisco and other cities need to be more assertive in intervening in the lives of those stuck on the street due to severe mental illness. Many of them would benefit from medication, but refuse to take it because of side effects or because they don’t believe they need it. Others might need to be forced into hospital care, at least for a time.</p>

<p>Less restrictive mental health programs are ideal — and mandated by state and federal law — for most people who need help. But “there is a subset (of mentally ill people) that will fail there,” said Dominic Sisti, an expert in medical ethics at the Perelman School of Medicine at the University of Pennsylvania. Last year, Sisti wrote a widely circulated paper in the Journal of the American Medical Association arguing for a return to institutional care.</p>

<p>“We’re talking about a specific population of individuals with very severe mental illness,” Sisti said. “They need structure and safety, at least for a time.”</p>

<div class="inline-img">
    <img src="../static/images/mental/12.jpg">
    <p class="caption"><span class="year">2015</span> Hot team member Joanna Gobea helped a homeless woman with some paperwork as she cleared out of an encampment Monday April 20, 2015. A homeless encampment near the corner of 16th Street and Shotwell in San Francisco, Calif. was dismantled and the people moved to the new navigation center a few blocks away.<span class="byline"> Photo by: Brant Ward, The Chronicle</span></p>
</div>

<p>San Francisco General Hospital sees about 6,100 patients brought in on psychiatric holds every year, a third of whom are homeless. Roughly 80 percent of people on psychiatric holds are released without being admitted to the hospital.</p>

<p>Many just need to sober up. Substance-abuse disorders — in particular, methamphetamine addiction — are common among people with mental illness, and symptoms of both can be similar. When people are brought to the emergency room behaving erratically, doctors can’t always tell right away if they’re high or having a psychotic episode.</p>

<p>Psychiatrists in San Francisco emergency rooms want more beds that will allow them to admit more people — either voluntarily or by extending what’s known as a 5150 hold, which under state law allows someone deemed either gravely disabled or dangerous to themselves or others to be hospitalized for up to three days.</p>

<p>Many patients would benefit from much longer stays — weeks, or even months. Psychiatric holds can last up to six weeks, with patients constantly assessed for release, and most aren’t kept that long. In San Francisco, about 40 people a year are placed in permanent conservatorships, meaning they can be held indefinitely.</p>

<p class="text-hed">Abuses feared</p>

<p>Institutional care is extremely controversial, though, freighted by past abuses and shifting philosophies toward medical care. Reforms that swept through the mental health field a half-century ago, thanks in part to advances in medication, ended mass institutionalization and focused on a new vision of independence and empowerment.</p>

<p>Today, roughly 38,000 people in the United States are in locked mental institutions, down from a peak of nearly 560,000 in 1955.</p>

<p>It’s unlikely San Francisco will ever return to institutions remotely similar to what once existed. But a portion of people with severe mental illness undoubtedly need hospital-level care, either for short- or long-term stays, mental health advocates say. And there aren’t nearly enough beds for all who need them.</p>

<div class="inline-img">
    <img src="../static/images/mental/11.jpg">
    <p class="caption"><span class="year">2016</span> Nurse practitioner Jason Blantz, right, talks to a homeless camper on Thursday, June 9, 2016 in San Francisco, Calif. The Homeless Outreach Team regularly visits areas where homeless frequent to offer a wide variety of resources.<span class="byline"> Photo by: Tim Hussin, The Chronicle</span></p>
</div>

<p>A 2016 report from the Treatment Advocacy Center suggests that California needs to nearly double the number of people housed by state psychiatric hospitals or other locked mental health facilities, which now largely serve defendants in the criminal justice system.</p>

<p>San Francisco has roughly 400 public psychiatric beds that are available to homeless people. About 150 of those are in the city, and another 250 are at places like Napa State Hospital or skilled nursing facilities in nearby counties that contract with San Francisco. Some of these beds are for brief crisis treatment, others for stays of several months. Depending on the level of care, each bed costs from $85,000 in a nursing home to $800,000 a year on what’s basically a psychiatric intensive care unit.</p>

<p>Ten more beds will be added at San Francisco General’s behavioral health center soon. The behavioral health justice center proposed by the district attorney’s office would provide some inpatient beds, but such a center, if it’s even approved, would be years away from opening. There are no other firm plans to add significantly to the city’s bed supply.</p>

<p>In fact, San Francisco continues to lose psych beds.</p>

<p>The city has lost 155 psych beds over the past five years, mostly at skilled nursing facilities. These beds are being sacrificed to the same booming market that’s making affordable housing such a burden: Owners of a nursing home with a dozen residents can make a lot more money selling their house than they can caring for mentally ill patients.</p>

<p>The result of these shortages: Doctors who work in emergency services say they sometimes have to release mentally ill patients earlier than would be beneficial for their longer-term recovery.</p>

<p>These people, whose recovery has only just begun, may go back to a homeless shelter or tent encampment or alley, losing whatever progress they have made.</p>

<p>“You get to the point where you get somebody stabilized,” Snook said, “and they’re still going to be in the hospital ten times that year.”</p>

<p class="text-hed">Transitional care</p>

<p>Efforts to move people from crisis into housing have shown promise. A New York City program that focuses on the most troubled homeless people, called Frequent User Service Enhancement or FUSE, targets those most likely to end up in jail or emergency rooms with intense case management and access to housing.</p>

<p>In a 2014 report on 72 participants, 86 percent were still in housing two years after entering into care, compared with 42 percent of people in a comparison group. The cost: a little over $25,000 per person per year.</p>

<p>That program places people into supportive housing straight from an emergency room, homeless shelter or the street. It’s known as a “housing first” model of care — get people off the street, then get them connected to mental health and other services. Many San Francisco mental health experts say they’d rather see a staggered approached to housing and care.</p>

<p>Under such a ladder-type model, people released from the hospital would move first into residential treatment programs, perhaps focused on addiction, or group homes where they can learn to navigate a new life — shopping, taking public transit, maybe getting a job.</p>

<p>As their conditions improve, they may move into supportive housing, which provides more independence but still offers on-site services.</p>

<p>This ladder approach is effective. It’s used in San Francisco and many other cities around the country. But it also creates a fractured system that can lose track of people between levels of care and housing. When people are ready to move from a 90-day alcohol abuse program to permanent housing, for example, there may not be a room waiting for them. And again, they’re at risk of ending up homeless.</p>

<div class="inline-img">
    <img src="../static/images/mental/02.jpg">
    <p class="caption"><span class="year">2015</span> DATE HERE: A homeless man sleeps on the sidewalk, as SF Homeless Outreach Team's Pau Liu unsuccessfully tries to convince another homeless man to relocate to the Navigation Center in San Francisco, Calif., on Tuesday, October 13, 2015.<span class="byline"> Photo by: person person, The Chronicle</span></p>
</div>

<p>That’s where transitional housing can come in. These facilities typically provide medical and mental health services that fall somewhere between a hospital and supportive housing. They cost around $109,000 a year per bed.</p>

<p>They are meant for short stays of a couple weeks to a couple months, during which time residents work with counselors and other staff to make sure they’re prepared for more independence — that they can take medications without supervision, make their doctors’ appointments, and handle the stress of facing the “real world.”</p>

<p>But there’s a shortage of beds in transitional housing, too.</p>

<p class="text-hed">Losing people along the way</p>

<p>Tracey Helton, now 46, was depressed, addicted to drugs and had been homeless in San Francisco for six years when she finally decided to seek help. She started with rehab to kick a heroin habit, and then spent four years in a sober living facility in the Tenderloin, which was safe and affordable and helped ease her back into an independent life free of drugs.</p>

<p>That was almost 20 years ago. Similar programs now are difficult to find, and where they do exist, stays typically max out at 90 days, maybe six months.</p>

<p>Helton manages a Public Health Department program called Hummingbird Place that offers peer support to people who are dealing with mental health problems and are often homeless, or nearly so. She finds, to her great frustration, that she sometimes has nowhere to send them.</p>

<p>“There’s so much need and so few places to put people,” Helton said. “The system has really broadened over time to meet people’s multiple needs. But at the same time, the housing options have really severely been limited.</p>

<p>“I’ve told clients before, ‘If I were to become homeless today, I don’t even know where I’d start,’” she said.</p>

<p>At the Progress Foundation, San Francisco’s oldest nonprofit provider of mental health care to the homeless, staff often fear losing clients when they’re transitioning from one level of care to another, said Executive Director Steve Fields.</p>

<p>“When we have clients who move through all our levels of care, we have a less than 5 percent return to hospital, because they’re stable, more normalized,” Fields said. If more people were able to stay in the system, he said, “we’d see less cycling through the hospitals.”</p>

<p>Cycling may be the most heartbreaking dimension of working with people who are homeless and mentally ill. It’s not unusual for people to travel up and down the community mental health ladder, getting better along the way, only to end up with no housing at some point.</p>

<p class="text-hed">Permanent housing at the end of the line</p>

<p>The goal of the so-called continuum of care is to get people into a permanent home where they feel safe and their mental health is stabilized. For many people, that home is in supportive housing, where they live largely independently but have access to on-site resources like counseling, nurses or case managers.</p>

<p>Supportive housing has dominated mental health and homeless programs in recent years, and many cities, including San Francisco, have plans to expand such housing.</p>

<p>But San Francisco could learn something from other cities, said Joshua Bamberger, an associate clinical professor in family and community medicine at UCSF, who’s provided mental health care to the homeless for 26 years.</p>

<p>The city, he said, needs to be more creative in finding funding to develop housing units. In Los Angeles, for example, the Housing for Health program uses a combination of sources, including federal and state money, nonprofit agencies and individual philanthropists.</p>

<p>“When they identify someone they think should be housed, they look across a diverse portfolio. They have a diversity of funds to find a way to pay for the housing,” Bamberger said. “We have done nothing like that in San Francisco.”</p>

<p>Ultimately, everything comes back to the housing supply, said Margot Antonetty, head of the city’s Direct Access to Housing program, which provides housing surrounded by health care and other services.</p>

<p>Though supportive housing is generally considered permanent, there may be hundreds of people living in these rooms who don’t need the extra support anymore — who would do just fine in apartments on their own. If they could afford it.</p>

<div class="inline-img">
    <img src="../static/images/mental/04.jpg">
    <p class="caption"><span class="year">2016</span> Ken Smigelski would park his car at Fort Funston when he lost his home after his wife died. It was during this time that his depression took hold and he plotted his suicide. He rented a motel room nearby and planned to hang himself. In the middle of this attempt, he fell asleep and awoke in the morning to a changed mind. He told his doctor of his plan and she immediately got an ambulance to take him to Langley Porter Psychiatric Institute where he got the help he needed. He then got into a program that helped him find housing.<span class="byline"> Photo by: Tim Hussin, The Chronicle</span></p>
</div>

<p>A lack of affordable housing in San Francisco creates a logjam in the community mental health structure. People in supportive housing aren’t leaving because they have no place to go, which means there isn’t room for many of the people ready to move up from more intensive recovery programs.</p>

<p>“With the San Francisco housing situation, even if I gave you a subsidy, you wouldn’t be able to afford housing. That makes it difficult for people to leave,” Antonetty said. “And if people stay forever in permanent supportive housing, then the only way new people come in is by new units coming online. We need more exits.”</p>

<p>Ken Smigelski was one of the lucky ones.</p>

<div class="float-img-container">
    <div class="float-img left">
        <img src="../static/images/mental/05.jpg">
        <p class="caption"><span class="year">YYYY </span>Caption.
        <span class="byline"> Photo: Person Person, The Chronicle</span></p>
    </div>
</div>

<p>He lost his Pacifica home to foreclosure in 2010, and spent nearly three years couch-surfing among friends and family before ending up living in his car on the streets of San Francisco. He’d suffered from severe depression his entire life, but being homeless pushed him to new lows. After three weeks in his car, he decided to kill himself.</p>

<p>He’d gone so far as to rent a cheap hotel room and fashion a noose out of a necktie when some survival instinct kicked in, and he told a doctor of his plans. He was put on an emergency psychiatric hold, then hospitalized for two weeks. But as his condition improved, a familiar burden settled over him. He’d be released soon and had nowhere to go.</p>

<p>“That was half of my stress — where the hell am I going to live?” Smigelski said. “I was still very suicidal, partly because of that. Housing was the No. 1 pressing factor.”</p>

<div class="float-img-container">
    <div class="float-img right">
        <img src="../static/images/mental/06.jpg">
        <p class="caption"><span class="year">YYYY </span>Caption.
        <span class="byline"> Photo: Person Person, The Chronicle</span></p>
    </div>
</div>

<p>That was two years ago, and Smigelski, now 71, finally has a home again. Just a day before his release from the hospital he found a bed in a transitional home where he could stay for 90 days. Then two days before that stint ended, he got a room in a group home run by the Progress Foundation.</p>

<p>He pays a third of his Social Security retirement income for rent at the brown-shingled Mission District house. His room is cramped, but the walls are plastered with his artwork, an easel before the window.</p>

<p>He can live there, he’s told, for the rest of his life.</p>

<div class="inline-img">
    <div class='embed-container'><iframe src='https://player.vimeo.com/video/171661477' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
    <p class="caption"><span class="byline">Video: TBD, The Chronicle</span></p>
</div>
