<p>
    Fifty years ago, the destitute figures who dotted America’s streets were called winos and hobos, and in San Francisco they mainly stuck to Third Street’s
    Skid Row.
</p>

{% include '_components/_infobox.html' %}

<p>
    Then, with the end of the Vietnam War, battle-shocked veterans began filling urban alleyways. The 1980s brought Reaganomics’ decimation of federal social
    and housing programs, and a cascade of the poor and mentally ill landed on the streets.
</p>
<p>
    By the end of that decade, a new term had entered the lexicon of San Francisco and the rest of the nation: homeless.
</p>
<p>
    Today, despite the efforts of six mayoral administrations dating back to Dianne Feinstein, homelessness is stamped into the city so deeply it’s become a
    defining characteristic.
</p>
<p>
    San Francisco initially responded by providing temporary, spartan shelters. Now, it permanently houses thousands of people salvaged from the streets
    through multimillion-dollar housing and counseling programs. But still, the city remains home to sprawling tent cities, junkies squatting on blankets
    shooting heroin, and all manner of beggars holding out hands.
</p>
<p>
    The city’s last official count, in 2015, put the adult homeless population at 6,686, though many officials and advocates for homeless people say the number
    is much higher.
</p>
<p>
    Whatever the case, homelessness in San Francisco doesn’t look much different than it did 10 years ago. Or 20.
</p>
<p>
    Money has always been part of the problem — no matter how much the city has spent, it has never been enough. But homelessness has also persisted because of
    a lack of focus, and because good intentions have fallen short.
</p>

<div class="inline-img">
    <img src="/static/images/setup/politicians/01.jpg">
    <p class="caption"><span class="year">1986</span> From left to right: Tom Eastham, press secretary, David Werdegan, director of Public Health, Thomas Dalton, mayor of Shantytown and Mayor Dianne Feinstein check out the condemned shantytown near 7th and Berry on January 28, 1986.<span class="byline"> Photo: Steve Ringman, The Chronicle</span></p>
</div>

<p>
    <div class="text-hed">Shelters weren’t answer</div>
</p>

<p>
    In the mid-1980s, as a growing number of street people began living out of shopping carts downtown, Mayor Feinstein joined the rest of the country in
    adopting the shelter-bed-and-a-sandwich approach. Offer a place of respite, the thought was, and they can turn it around.
</p>
<p>
    It didn’t work.
</p>

<div class="inline-img">
    <img src="{{ url_for('static', filename='graphics/setup/barchart.png') }}">
    <p class="caption"><span class="byline"> Graphic: Rahul Mukherjee, The Chronicle</span></p>
</div>

<p>
    Cities from San Francisco to New York learned that without dealing with the underlying factors that cause the most acutely troubled people to lose their
    housing — mental illness, substance abuse, disabilities and joblessness — temporary shelters accomplish little. That realization led to another:
    Doing more than just providing a cot for the night is incredibly expensive.
</p>
<p>
    San Francisco has been a national leader in getting people off the streets and into housing where they receive the counseling services they need. Since
    2004, it has put more than 22,000 people under roofs. But it now spends $241 million a year on homeless programs — more than the budget for the city Public
    Works Department.
</p>
<p>
    Such spending can seem like sand shoveled into a tide. Workers at the eight city departments and 76 private and nonprofit organizations who devote
    themselves to restoring street-ravaged lives say there has been a lot of progress, but no end of frustration and criticism.
</p>
<p>
    “Sometimes I shake my head and think, ‘What are we trying to do here?’” Mayor Ed Lee said one day as he watched a homeless camp being disassembled and its
    inhabitants moved into the city’s one-stop Navigation Center of homeless housing services. “Some people here — all they really need is a place to live
    because they’re impoverished. In some ways, what we’re doing is reinventing public housing. But there are so many needs.
</p>
<p>
    “We’re trying everything we can,” Lee said. “It takes time. It is not easy.”
</p>
<p>
    <div class="text-hed">‘Why can’t they do more?’</div>
</p>
<p>
    Khalid Abdul-Rahim, who works as a security guard along the Embarcadero, regularly has to shoo homeless people away from Justin Herman Plaza.
</p>
<p>
    “They do new shelters like that Navigation Center, but why can’t they do more real housing permanently?” he asked one rainy night last winter as he watched
    three people shiver under thin blankets in a bus shelter. “I had one guy pull a fork on me to stab me once out here. I see people all the time hungry,
    sleeping outside, miserable. How can this be in a city this rich? It’s about humanity. Shouldn’t be this way.”
</p>

<div class="inline-img">
    <img src="/static/images/setup/daniel/01.jpg">
    <p class="caption"><span class="year">2016</span> Daniel Pledger rests against a building on Florida Street as he sits under  blankets covering him on Friday, April 29, 2016 in San Francisco, California.  Pledger says he's been homeless since last August.<span class="byline"> Photo: Brant Ward, The Chronicle</span></p>
</div>

<p>
    Few understand the misery of homelessness better than Daniel Pledger. Born and raised in San Francisco, he’s been without a roof off and on for many of his
    65 years — a notable exception being when he played bass in the locally popular punk band Seizure in the 1970s and ’80s.
</p>
<p>
    Pledger has spent most of the past year sleeping on the streets around Potrero Hill. He kicked heroin five years ago, but his struggles with alcohol have
    gotten him evicted from one place after another.
</p>
<p>
    “I used to have a wife,” he said recently, sitting on a Tenderloin sidewalk with a Hefty bag full of his clothes. “I had a place to live.
</p>

{% import '_components/_slideshow.html' as slide %}
<div class= "photoGallery1">
  <div class="scrollLeft-Gallery1 first" id="scrollLeft-Gallery1"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
  <div class="scrollRight-Gallery1" id="scrollRight-Gallery1"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
  {{ slide.info(1,0,"/static/images/setup/daniel/02.jpg","active","Daniel Pledger places linens on the one night bed at Next Door Shelter on Tuesday, May 24, 2016.","Lea Suzuki" ) }}
  {{ slide.info(1,1,"/static/images/setup/daniel/03.jpg","","Pledger drinks  the last of a bottle of vodka he found while walking on the street on Friday, May 20, 2016 in San Francisco","Lea Suzuki" ) }}
  {{ slide.info(1,2,"/static/images/setup/daniel/04.jpg","","Pledger carries his belongings after receiving a spot on the shelter list as he walks past a truck clearing a tent encampment on Tuesday, May 24 , 2016 in San Francisco.","Lea Suzuki" ) }}
  {{ slide.info(1,3,"/static/images/setup/daniel/05.jpg","","Pledger arrives at the Next Door shelter where he received a one night bed on Tuesday, May 24, 2016.","Lea Suzuki" ) }}
  {{ slide.info(1,4,"/static/images/setup/daniel/06.jpg","","Pledger rubs his head as he sits on a bed at Next Door shelter where he received a one night bed.","Lea Suzuki" ) }}
  {{ slide.info(1,5,"/static/images/setup/daniel/07.jpg","","Pledger collects cash for a cash voucher that he got after using a coin-counting kiosk on Friday, May 20, 2016 in San Francisco.","Lea Suzuki" ) }}
  {{ slide.info(1,6,"/static/images/setup/daniel/08.jpg","","Pledger looks over different beers displayed in a store before making a selection on Friday, May 20, 2016 in San Francisco.","Lea Suzuki" ) }}
  {{ slide.info(1,7,"/static/images/setup/daniel/09.jpg","","Pledger kicks at an item on the street to see what it is as he walks through the Tenderloin district on Friday, May 20.","Lea Suzuki" ) }}
  {{ slide.info(1,8,"/static/images/setup/daniel/10.jpg","","Pledger talks with his therapist Lauren Calderon (not shown) during an appointment at the Tenderloin Outpatient Clinic on Wednesday, May 25, 2016.","Lea Suzuki" ) }}
  {{ slide.info(1,9,"/static/images/setup/daniel/11.jpg","","Pledger folds up his bedding after sleeping for the night on Utah Street on Friday, May 20, 2016.","Lea Suzuki" ) }}
  {{ slide.info(1,10,"/static/images/setup/daniel/12.jpg","","Pledger holds a quote on a piece of paper that he had in his pocket and that he thought he had copied out of a magazine on Tuesday, May 10, 2016.","Lea Suzuki" ) }}
  {{ slide.info(1,11,"/static/images/setup/daniel/13.jpg","","Pledger walks up to the Coalition on Homelessness offices to check on a documentary that was filmed in San Francisco that he says he was filmed for on Friday, May 20, 2016.","Lea Suzuki" ) }}
</div>

<p>
    “Now I am the invisible man. People walk right by me. I have to get control of this demon — of the booze — but there are a lot of guys like me out here.
    Have they given up on us?”
</p>
<p>
    <div class="text-hed">First innovation</div>
</p>

<p>
    Mayor Art Agnos took the first step in San Francisco to move beyond overnight shelters. In the late 1980s, he created two large complexes with not just
    beds, but also mental health and substance-abuse counselors on site — what have come to be called supportive services. He envisioned a program that would
    direct street people from there into permanent housing.
</p>

<div class="inline-img">
    <img src="/static/images/setup/politicians/03.jpg">
    <p class="caption"><span class="year">1988</span> Mayor Art Agnos dishes up mixed vegetables for the needy at St. Anthonys Thanksgiving dinner.<span class="byline"> The Chronicle file photo</span></p>
</div>

<p>
    But there wasn’t enough housing available. As Agnos struggled to ramp up his plans, a colony of homeless people in front of City Hall grew into the
    hundreds and was derisively dubbed “Camp Agnos.”
</p>
<p>
    In July 1990, Agnos finally ordered police to sweep out the Civic Center squatters, abandoning his promise to transition them inside. But the stench of
    civic ineffectiveness had set in. The homelessness issue Agnos had taken on with such hope sank his bid for re-election.
</p>

<div id="usmap" class="interactive"></div>

<p>
    Today, the shelter-counseling complexes that Agnos created are mere shelters — and he remains frustrated.
</p>

<div id="sfmap" class="interactive"></div>

<p>
    “We do know what to do, but we haven’t had the conviction or the commitment to make it happen,” Agnos said. “We could end homelessness as a commonplace
    occurrence in American cities if we adopted the same kind of commitment we did in addressing World War II: if we treat it like we want to win.
</p>
<p>
    “But until the public and the politicians who serve them say we are going to win this, we won’t. There is a bright spot here and there, and bleakness in
    everything else.”
</p>

<div class="float-img-container">
    <div class="float-img left">
        <img src="/static/images/setup/politicians/05.jpg">
        <p class="caption"><span class="year">1988</span> Police Chief Frank Jordan introduces himself to homeless person Jim Singer from Powell, Wyoming, at Hallidie Plaza at Powell and Market, and explained to him where he could find a shelter for the night on November 7, 1988.
        <span class="byline"> Photo: Brant Ward, The Chronicle</span></p>
    </div>
</div>


<p>
    The man who succeeded Agnos as mayor, former Police Chief Frank Jordan, changed tactics, using police as outreach workers as well as enforcers. Under his
    Matrix program, their job was to clear the streets of homeless camps and aggressive panhandlers and steer them into housing and counseling programs.
</p>

<p>
    But again, there weren’t enough programs to handle the thousands of indigents on the streets. And enlisting police as social workers drew ceaseless attacks
    from the city’s progressives, torpedoing Jordan’s re-election bid as well.
</p>
<p>
    Mayor Willie Brown followed with efforts at supportive housing, but ultimately — and famously — declared the homeless problem unsolvable.
</p>
<p>
    <div class="text-hed">10-year plan</div>
</p>
<p>
    His successor, Gavin Newsom, took the most aggressive stance yet toward tackling the issue. In 2004, he announced a 10-year plan to end chronic
    homelessness.
</p>
<p>
    While it failed to reach that goal, it did result in moving 22,000 homeless people off the streets into either housing or onto buses headed home. And in
    the past few years, the majority of the city’s indigent military veterans — many suffering post-traumautic stress from as far back as the 1970s — have been
    moved indoors, thanks in part to a national effort led by the U.S. Department of Veterans Affairs.
</p>
<p>
    And yet the city’s streets look the same today.
</p>

<div class="inline-img">
    <img src="/static/images/setup/politicians/02.jpg">
    <p class="caption"><span class="year">2004</span> Mayor Gavin Newsom of San Francisco went into the streets to talk with the homeless, even counseling some during a walk in the Tenderloin area.<span class="byline"> Photo by: Brant Ward, The Chronicle</span></p>
</div>

<p>
    “There’s a mythology that you can, quote unquote, end homelessness at any moment,” Newsom said in 2014. “But there are new people coming in, suffering
    through the cycles of their lives. It’s the manifestation of complete, abject failure as a society. We’ll never solve this at City Hall.”
</p>
<p>
    Former Supervisor Angela Alioto, who was in charge of crafting the 10-year plan, says it failed because it didn’t create enough counseling and engagement,
    not just for street people, but for those already housed — some of whom still panhandle, making the homeless landscape look even worse than it is.
</p>
<p>
    “You have to do housing, what I call ‘minute clinics’ for health and counseling in every building, and get the homeless involved in things that make them
    feel good about themselves — volunteer work, charity, whatever,” Alioto said recently as she handed out dollar bills to a couple of panhandlers in North
    Beach. “It’s about dignity. Housing is not the end, it’s the beginning, if you really want to get everyone off the streets.”
</p>
<p>
    <div class="text-hed">Different types of homeless</div>
</p>
<p>
    What became clear over all the years is that the city’s homeless population is anything but homogeneous.
</p>

<div id="sfmap"></div>

<p>
    Today, there are about 1,500 homeless people in San Francisco in either individual or family shelters, and another 1,500 in jail, transitional housing,
    hospitals or otherwise indoors. Some 3,500 are estimated to be “unsheltered,” and about half of those make up the hard-core street population — the most
    obvious, most troubled and most expensive homeless people in the city to care for.
</p>

<div class="inline-img">
    <img src="{{ url_for('static', filename='graphics/setup/piecharts.png') }}">
    <p class="caption"><span class="byline"> Graphic: Rahul Mukherjee, The Chronicle</span></p>
</div>

<p>
    Estimates by officials here and at the Silicon Valley Economic Roundtable are that each of those chronic cases costs about $80,000 a year in police, jail,
    ambulance and other tabs. By contrast, it costs about $20,000 a year to keep a person in a supportive environment — the permanent housing where on-site
    mental therapists, substance abuse counselors and other social workers can help keep a person off the streets.
</p>
<p>
    Many chronically homeless people crowd into the Tenderloin, where soup kitchens, rehab clinics and poverty-aid organizations are centered. Homeless drug
    addicts have spread into areas where their dealers are easiest to find: heroin in the Mission District, methamphetamine around Division Street, crack in
    the Tenderloin.
</p>
<p>
    <div class="text-hed">Mental illness</div>
</p>
<p>
    Perhaps the most heart-rending subpopulation is made up of the mentally ill. Here, good intentions are at the heart of how San Francisco’s streets became
    an open-air mental ward, with deranged people railing at telephone poles or passersby, or muttering to themselves for hours.
</p>
<p>
    Back in the 1960s and ’70s, state-run mental institutions, where troubled people were once committed against their will, came to be seen by advocates as a
    means of violating individuals’ rights. Closing them saved money.
</p>
<p>
    With their demise, the plan, supported by both conservatives and liberals, was for community-based centers across the country to help people instead — but
    those were underfunded. The result: A growing population of mentally ill people were turned loose to fend for themselves.
</p>
<p>
    Today, it’s estimated that more than a third of homeless people in San Francisco suffer from mental illness. The city would need hundreds of new
    psychiatric-care beds to get them off the sidewalks — the current inventory of fewer than 1,000 is not nearly enough.
</p>
<p>
    But even if it created those beds, getting people into them is difficult. Unless they are judged a danger to themselves or others, the mentally ill can’t
    be forced into care.
</p>
<p>
    A prime example: Tatiana and her daughter, Oksana, Ukrainian immigrants who speak little English and give no last name. They’ve been on the streets for at
    least a decade, with brief stints in emergency housing.
</p>
<p>
    The pair pose no threat as they push their heaped shopping cart through downtown and the Mission, sleeping in doorways and glancing suspiciously at
    everyone who passes by, so they can’t be compelled to leave the streets. Any conversation with them veers quickly, wildly off track.
</p>
<p>
    Two social workers, barred by state privacy rules from being identified, interviewed them along with a reporter several times. They concluded that Tatiana
    is in her 50s and Oksana is in her 30s, and that they are probably mentally ill or impaired. For three years, social workers have tried to get them to sign
    papers authorizing psychiatric care — but the pair won’t sign.
</p>
<p>
    The two women have repeatedly told The Chronicle through Ukrainian translators they don’t need help.
</p>
<p>
    “We’re afraid of everyone, afraid we’ll be sent back to the old country,” Tatiana said. “Russians want us to leave the city, they are bad, they are
    everywhere, but we won’t go. We’re not homeless. We are just on the street. We will not go inside where the Russkies can get us.”
</p>
<p>
    <div class="text-hed">Supportive housing</div>
</p>
<p>
    Mental health programs weren’t the only ones bludgeoned by budget cuts. Federal housing aid and social programs were slashed by as much as 90 percent in
    the 1980s, and state and local governments couldn’t catch up. Many of the people who wound up homeless that decade have never left the street, pushing the
    average age among the street population to 58.
</p>
<p>
    Today, with minimum wage supplying about half or less of the buying power it did in 1980 and a third of Americans living at or near poverty level, there is
    a continual flow of people becoming homeless, said Peter Edelman, a Georgetown University law professor specializing in poverty.
</p>
<p>
    “We never even replaced the affordable-housing support that was destroyed in the 1980s, so if you want to solve homelessness, you need to not have so much
    poverty,” Edelman said. “What we’ve got is a problem of homelessness created because we haven’t done what we should have in the first place, so now we have
    to handle it in the second place — with techniques like supportive housing.”
</p>
<p>
    That’s one area in which San Francisco, with among the highest rents and greatest gulfs between rich and poor in the country, is actually a leader in
    innovation.
</p>
<p>
    Over the past decade, the city has refined a system of sending outreach counselors into the street to persuade the chronically indigent to accept housing,
    shelter, employment or medical help — and then move into permanent supportive housing before they can wander off again. In the past 12 years, San Francisco
    has put about 12,000 people into such housing.
</p>
<p>
    The trouble is that the city is at least 2,500 supportive-housing units short of what it needs to clear the streets of the most expensive and visible
    chronically homeless people — about 1,500 of them — and to stay ahead of the incoming chronic population every year. But that’s not insurmountable.
</p>
<p>
    The situation could be dramatically improved through new private-public funding models, cheaper forms of modular housing, and streamlining techniques for
    helping people move out of supportive housing after they’ve been stabilized.
</p>
<p>
    If the city’s shelters were expanded by hundreds of beds, and fashioned more along the lines of the 15-month-old Navigation Center, they could finally
    become the routing tools into housing that Agnos envisioned a quarter-century ago. The center at Mission and 16th streets takes in street campers with
    their partners, pets and gear and surrounds them with case managers to help them get their lives together quickly.
</p>
<p>
    With the city’s creation this spring of the Department of Homelessness and Supportive Housing, streamlining city services for street people under one roof
    into a more direct focus on housing and counseling, San Francisco has its best opportunity in years to clear the streets.
</p>
<p>
    “We know how to do what we need to do,” said Jeff Kositsky, head of the new department. “The approach now is the same — we just have to be creative.”
</p>
<p>
    <div class="text-hed">Bit of optimism</div>
</p>
<p>
    Jennifer Friedenbach, whose Coalition on Homelessness advocacy group has spent decades pushing the city to create more housing and services for the
    indigent, is skeptically optimistic.
</p>
<p>
    Even though Matrix is in the trash bin of history and police leaders insist cracking down isn’t the way to solve homelessness, Friedenbach said, the city
    still puts too much emphasis on breaking up camps whose residents have nowhere good to go and issuing tickets for quality-of-life violations like sitting
    on sidewalks.
</p>
<p>
    A city report in May that found taxpayers spend $20 million a year enforcing such laws quantifies the futility of the effort, she said. To Friedenbach,
    ticketing street people boils down to just two things: “San Francisco is either ruining homeless people’s lives and wasting money, or harassing homeless
    people and wasting money.
</p>
<p>
    “With little to show for it, it is time for a new approach,” she said. For Friedenbach, “new” actually means ramping up old concepts — more efficiently.
</p>
<p>
    “It’s about money,” she said. “We need a sustained revenue source to double the housing units for homeless people, and to do prevention to keep people in
    their homes and to not become homeless to begin with.
</p>
<p>
    “It’s not that complicated,” she said. “I think in San Francisco, people are ready to do something different. But then, I’ve seen that before.”
</p>
