<p>A group of men sat slumped in plastic chairs watching television and awaiting their dinner of chili, carrots and rice. Later, they would be among a group of 30 to sleep crammed together on bunk beds or mats on the floor. At 8 a.m., they’d have to leave for another day on the street.</p>

{% include '_components/_infobox.html' %}

<p>It was in front of that television that the men at Hospitality House, a homeless shelter in the Tenderloin, learned of a different sort of facility for people like themselves. The 15-month-old Navigation Center in San Francisco’s Mission District has been the talk of City Hall and nightly newscasts, leaving the men at Hospitality House to wonder why none of its relaxed rules and assistance in finding permanent housing had come their way.</p>

<p>“I’ve heard they pick up people off the streets, but they don’t think of the people already in the shelters,” said Ramon Thibodeaux, 44. “That’s what hurts the most. We’re homeless, too. It’s just that we’re in here.”</p>

<p>Shelters, run by nonprofits but paid for by the city, have become a forgotten footnote to San Francisco’s homeless crisis over the past decade — their beds cut by a third to save money and their hours and staffing slashed. Getting a bed in one of them is a time-consuming bureaucratic process that requires joining a waiting list. And they have many rules, including prohibitions on men and women sleeping together, and bringing along pets and belongings, that discourage many from using them.</p>

<div class="inline-img">
    <img src="../static/images/shelters/07.jpg">
    <p class="caption"><span class="year">March 7, 2016 </span> Jonathan Payne organizes his area while Marin Santi relaxes on her bed in their sleeping quarters at the Navigation Center in San Francisco’s Mission District. The innovative facility offers the homeless an array of supportive services including shelter and help finding permanent housing.<span class="byline"> Photo: Gabrielle Lurie, Special to The Chronicle</span></p>
</div>

<p>But what if the city’s traditional homeless shelters, with their rigid rules, were run along the lines of the far-more-welcoming Navigation Center, which has case managers on hand to help shelter residents get their lives together? What if the city added hundreds more beds to accommodate those on its waiting list for shelters rather than making them pass the time on the streets until their names come up? What if the city considered shelters part of the answer to homelessness and not just way stations?</p>

<p>It is possible to make changes to shelters so men like Thibodeaux, stuck cycling endlessly in and out of them, could instead get help finding permanent housing quickly, say many city officials and those who operate the shelters.</p>

<div class="inline-graphic mobile">
    <img src="{{ url_for('static', filename='graphics/shelters/piestogether.jpg') }}">
    <div class="credit">Rahul Mukherjee/The Chronicle</div>
    <div class="credit second">Source: San Francisco Budget and Legislative Analyst's Office</div>
</div>

<div class="inline-graphic no-mobile">
    <img src="{{ url_for('static', filename='graphics/shelters/pie2.jpg') }}">
</div>

<div class="inline-graphic no-mobile">
    <img src="{{ url_for('static', filename='graphics/shelters/pie1.jpg') }}">
    <div class="credit">Rahul Mukherjee/The Chronicle</div>
    <div class="credit second">Source: San Francisco Budget and Legislative Analyst's Office</div>
</div>

<p>It would mean turning the shelters for single adults — at 1,203 beds, they’re the vast majority of the system, which also has some separate facilities for families and youth — into places more like the Navigation Center, with case managers to offer intensive help, all-day staffing allowing for 24-hour access, and relaxed rules to allow partners to sleep together alongside their pets and belongings. The shelter system costs the city about $16 million a year. Doubling that amount could pay for such an overhaul, according to a city controller’s analysis.</p>

<p>In mid-June, the Board of Supervisors voted to create five more Navigation Centers over the next two years. Those new centers would accommodate about 400 additional homeless people, a considerable proportion of the shelter waiting list, which fluctuates from 600 to 900 people. Building five new centers would cost around $10 million to $20 million — although the board’s action left open the possibility that converting some existing shelters into Navigation Centers would be acceptable. Operating them would cost upward of $20 million to $30 million a year.</p>

<p>If the city built those centers — which would be in addition to the 15-month-old model that has 75 beds and a second Navigation Center opened this week at Market and 12th streets with 93 beds — and upgraded existing shelters, a combined 1,771 homeless people would have more than just a place to sleep at night. They would have a place to be during the day and get help figuring out how to live a life off the streets.</p>

<div class="float-img-container">
    <div class="float-img right">
        <img src="../static/images/shelters/10.jpg">
        <p class="caption"><span class="year">Dec. 18, 2006 </span> Teresa Hernandez wraps herself in a blanket at the corner of Golden Gate Avenue and Jones Street in San Francisco on a cold day. Hernandez was living on the streets at the time and feared spending another night outdoors in freezing weather.
        <span class="byline"> Photo: Brant Ward, The Chronicle</span></p>
    </div>
</div>

<p>That number is far from the city’s entire homeless population — estimates for several years have varied from 6,400 people to more than twice that. The city’s most recent official biennial count, conducted during one night in January 2015, put the total at 6,686 people. Getting 1,771 people into improved shelters with case managers to help them move out of the shelters more quickly would unclog the current shelter system, freeing up space for others still on the street.</p>

<p>“It would really go a long way,” Sam Dodge, deputy director of Mayor Ed Lee’s new Department of Homelessness and Supportive Housing, said of improving the current shelters and adding 400 Navigation Center beds. “You start to make things efficient and you start to expand access and coordinate everything, and you start to make some progress.”</p>

<p class="text-hed">Broad support</p>

<p>The idea of retooling San Francisco’s homeless shelter system is gaining traction with everyone from the destitute people who live in the shelters to the people who operate them to President Obama’s homeless policy adviser.</p>

<p>“For too long, we have fallen into the mistake of thinking it’s either emergency shelter or permanent housing,” said Matthew Doherty, executive director of the U.S. Interagency Council on Homelessness. “We need to look at the role emergency shelters can play in helping people find permanent housing. It’s not one or the other.”</p>

<div class="inline-img">
    <img src="../static/images/shelters/02.jpg">
    <p class="caption"><span class="year">May 16, 2015 </span> Monique Webb smokes outside the Civic Center Hotel, the site of San Francisco’s second Navigation Center to aid the homeless. The facility at 12th and Market streets will provide an array of supportive services including shelter and help finding permanent housing.<span class="byline"> Photo: Gabrielle Lurie, Special to The Chronicle</span></p>
</div>

<p>Hospitality House opened in 1967 as a Tenderloin neighborhood center. In 1982, it was converted into an overnight shelter after President Ronald Reagan cut funding for public housing and low-income housing vouchers, increasing the number of homeless people dramatically.</p>

<p>More shelters opened over the next decade, but in time they became afterthoughts in the city’s homelessness efforts. In 2004, Mayor Gavin Newsom promised to close the shelters as part of a 10-year plan to end homelessness. He said a shift to permanent, supportive housing would eliminate the need for them. “Shelters solve sleep. Housing solves homelessness,” he repeated throughout his tenure.</p>

<p>But rather than getting to the point where shelters could be closed, the city cut the number of beds by a third to save money. In 2004, there were 1,910 beds for single adults — now, there are 1,203. While there are a few dozen vacant shelter beds each night, often because people didn’t show up for a space they were granted, Dodge said earlier this year, “There’s a tremendous demand for shelter.”</p>

<p>The recession that hit in 2008 prompted more cuts, so the city closed shelters during the day. Since 2004, the city has also closed half of its daytime homeless drop-in centers, forcing indigent people outside, where they are more visible to residents and tourists.</p>

<div class="float-img-container">
    <div class="float-img left">
        <img src="../static/images/shelters/09.jpg">
        <p class="caption"><span class="year">March 22, 2016 </span> Pamala Deffee with Solutions SF addresses a tenant as she works the front desk at the Civic Center Hotel in San Francisco.
        <span class="byline"> Photo: Leah Millis, The Chronicle</span></p>
    </div>
</div>

<p>Last year, Lee’s administration took a different approach. It opened the first Navigation Center in March 2015, near the 16th Street BART Station in the Mission District — and its popularity led quickly to plans for the second center that just opened at the Civic Center Hotel.</p>

<p>The centers are operated differently than typical homeless shelters. At a Navigation Center, homeless partners can sleep beside each other and have space for pets to sleep on the floor next to them. People can bring all of their belongings for safe storage.</p>

<p>Shelters don’t allow that. Instead, homeless people in traditional shelters can store their belongings at a facility on Jones Street, which is accessible only from 9 a.m. to 4 p.m. Monday through Friday and requires a state identification card, which many homeless people don’t have.</p>

<p>At the Mission Navigation Center, a courtyard with shaded picnic tables serves as an all-day gathering spot and animal play area. Homeless people can come and go as they please and eat whenever they want. Most shelters are closed during the day, have strict nightly curfews with no in-and-out privileges and stick to set meal times.</p>

<div class="float-img-container">
    <div class="float-img right">
        <img src="../static/images/shelters/11.jpg">
        <p class="caption"><span class="year">May 16, 2015 </span> A man leaves the Civic Center Hotel, which is now San Francisco’s second Navigation Center to aid the homeless.
        <span class="byline"> Photo: Gabrielle Lurie, Special to The Chronicle</span></p>
    </div>
</div>

<p>Many homeless people see shelter rules as so rigid, they won’t sleep in them. But they are eager to enter a Navigation Center.</p>

<p>Tony Roberson, 63, who’s been homeless for two years and has stayed in various shelters including Hospitality House, said those who score beds at a Navigation Center are lucky.</p>

<p>“The resources they’re putting into that one shelter is crazy when they have all these other shelters that need help,” he said. “It would be nice if 10 percent, 15 percent of what they send to the Navigation Center could be sent here to Hospitality House. It would make a big difference.”</p>

<p>Services are the biggest difference between the two models. Case managers at a Navigation Center help homeless people “navigate” into something else. They’ll work intensely with center residents to make medical appointments, get proper identification cards, qualify for government benefits, find permanent housing or secure a bus ticket home. And until there’s a solution beyond the center, residents are allowed to stay indefinitely.</p>

<p>Some shelters have a few social workers or nurses, but the ratio to residents is much higher at a Navigation Center. And the city’s scant permanent housing spaces are given first to Navigation Center residents, meaning there’s none left for those in shelters.</p>

<div class="inline-img" style="max-width:560px;">
    <img src="../static/graphics/shelters/bars.jpg">
    <div class="source">
    <em>Rahul Mukherjee  &bull; <a href="mailto:rmukherjee@sfchronicle.com">rmukherjee@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/ruhlmuk" target="_blank">@ruhlmuk</a></em><br>
    <em>About the data: Based on data collected from the first six months of operation.</em><br>
    <em>Source: San Francisco Budget and Legislative Analyst's Office</em></div>
</div>

<p>As of mid-June, 545 clients had been housed at the Mission Navigation Center since March 2015. Of those, 216 received a free bus ticket through the city’s Homeward Bound program, which pays to send people to their home cities or states as long as a willing relative or friend is waiting for them. An additional 206 moved into housing, 13 moved into the Civic Center Hotel, and the rest were still living there, had left or had been asked to leave, or went into other programs.</p>

<p class="text-hed">Dramatic differences</p>

<p>Perhaps nobody knows the inequities of Navigation Centers versus traditional shelters better than Ken Reggio, director of Episcopal Community Services, which manages the Mission District center as well as two traditional shelters, Sanctuary and Next Door.</p>

<p>At the 26-year-old Next Door Shelter, there are just two case managers to work with those who stay in its 334 beds. At the Mission Navigation Center, the ratio is 1 to 12.</p>

<div class="inline-img">
    <img src="../static/images/shelters/03.jpg">
    <p class="caption"><span class="year">June 1, 2016 </span> Next Door homeless shelter staff member Tiffany Tate cleans up in the cafeteria after breakfast at the San Francisco facility.<span class="byline"> Photo: Leah Millis, The Chronicle</span></p>
</div>

<p>Entering Next Door requires walking through a metal detector manned by a security guard.</p>

<p>“We always have weapons problems,” Reggio explained. When one homeless man appeared to pick a fight with another in the elevator, Reggio shrugged. “I’d be angry too if I was sleeping only 22 inches away from someone else and surrounded by 300 people,” he said.</p>

<p>In the lobby is a wall decorated with photographs of former shelter residents holding houseplants — the gift they receive when they leave. Compare that to the basket of sheets and towels, hot plate and microwave given to those who leave the Navigation Center, Reggio said.</p>

<div class="float-img-container">
    <div class="float-img right">
        <img src="../static/images/shelters/12.jpg">
        <p class="caption"><span class="year">June 1, 2016 </span> Volunteer Susan Geraghty (left) and staff member Tiffany Tate serve breakfast to clients at the Next Door homeless shelter in San Francisco.
        <span class="byline"> Photo: Leah Millis, The Chronicle</span></p>
    </div>
</div>

<p>There are other ways homeless people could benefit if the city retools the shelter system and increases the number of Navigation Centers.</p>

<p>A homeless person can gain access to a Navigation Center in a couple of hours. The city’s Homeless Outreach Team goes out knowing the daily number of beds available, finds people in tents to fill them and drives them, their pets and belongings there in a van. The center’s staff gives them a tour and teams them with a case manager.</p>

<p>Getting a shelter bed takes far more time. The homeless person must visit one of four reservation sites, complete a profile, get tested for tuberculosis and call 311 to get on the waiting list. Once the person’s name comes up, he or she gets a bed for 90 days. It’s possible to extend a stay by 30 to 60 days, but then the person must begin the process again. Emergency shelter beds can be obtained for a night, but only by visiting the same reservation sites and only if there are any available that day.</p>

<p>In a way, the system gives homeless people the incentive to stay on the street in hopes of being selected for a Navigation Center rather than bothering with the complexities of securing a shelter bed.</p>

<p class="text-hed">More help available</p>

<p>Thibodeaux, who was a Hospitality House resident for four months before relocating to the Sanctuary shelter, learned how different a Navigation Center was while watching TV one night.</p>

<p>“They help people get housing — we even saw it on the news,” he said. “A couple of people who were homeless went to the Navigation Center, and they got housing. I saw it on their faces, the relief.”</p>

<div class="float-img-container">
    <div class="float-img left">
        <img src="../static/images/shelters/05.jpg">
        <p class="caption"><span class="year">June 3, 2016 </span> A client feeds his dog, R.J., while making himself a sandwich at the Navigation Center for the homeless in the Mission District, where clients are allowed to live with their pets and partners and receive an array of support services.
        <span class="byline"> Photo: Leah Millis, The Chronicle</span></p>
    </div>
</div>

<p>Thibodeaux wound up in city shelters after losing his job as a janitor, losing his South of Market studio apartment and falling into depression. When the shelters close during the day, he works on his resume in Hospitality House’s adjacent employment center.</p>

<p>He’d get more help finding a job and securing housing at a Navigation Center, but scoring one of its coveted beds would mean setting his progress in reverse. He’d have to give up his shelter bed, live on the streets and become part of a tent encampment. Those who have been on the streets for six months without accessing a traditional shelter bed are given priority for a Navigation Center.</p>

<p>Jackie Jenks, executive director of Hospitality House, is co-chair of the city’s Homeless Emergency Service Providers Association, a group that has been calling for shelters to be given resources comparable to those at Navigation Centers. Lee responded this month by putting $900,000 into his proposed budget for a pilot program that would do just that, easing the association’s fears that shelters would be overlooked in favor of new Navigation Centers.</p>

<p>“We believe everyone should have housing, but as long as people have to stay in shelters they should have all the same services given now at Navigation Centers to help them exit into housing when it becomes available,” Jenks said.</p>

<div class="inline-img">
    <img src="../static/images/shelters/04.jpg">
    <p class="caption"><span class="year">March 9, 2016 </span> Dr. Justin V. Morgan, a San Francisco Department of Public Health physician, conducts a medical assessment of Pier 80 shelter client John Armstead.<span class="byline"> Photo: Lea Suzuki, The Chronicle</span></p>
</div>

<p>Shelter operators have the city controller’s office on their side. In December, it published a report on the first six months of the Mission Navigation Center and recommended that “city leaders and service providers explore policy changes that will help make traditional shelters similarly welcoming for clients and foster a sense of working together toward tangible goals.” An update to that report last month reinforced that contention.</p>

<p>In a survey of Navigation Center clients, the controller’s office found that the top three reasons they had resisted going to traditional shelters were the crowded accommodations, curfews and the inability to sleep with partners.</p>

<p>City officials are mostly on board with improving shelters, but have taken little concrete action.</p>

<div class="table">

    <div class="hed">Why Navigation Centers clients avoid shelters</div>
    <div class="chatter">More than three out of four clients at the Mission District Navigation Center said they did not spend a single night in a traditional San Francisco shelter in the 12 months before being admitted, suggesting the referral process is targeting the intended clients — those not generally served by the existing shelter system.</div>

    <table border="0" cellspacing="0" cellpadding="0">
        <tr style="border-bottom: 3px solid black;">
            <th style="width: 20%; text-align: left">Reason</th>
            <th style="width: 40%; text-align: left">Description</th>
            <th colspan="2" class="last-column" style="width: 40%;">Number of mentions</th>
        </tr>
        <tr>
            <td style="width: 20%; text-align: left">People</td>
            <td colspan="2" style="width: 75%; text-align: left">Too many people in general, as well as the "wrong types" of people</td>
            <td class="last-column" style="width: 5%;">24</td>
        </tr>
        <tr>
            <td>Restrictions</td>
            <td colspan="2">Curfew, kicked out in the morning, rules and regulations</td>
            <td class="last-column">23</td>
        </tr>
        <tr>
            <td>Partners</td>
            <td colspan="2">Can't shelter with partner, or partner does not want to be in shelter</td>
            <td class="last-column">19</td>
        </tr>
        <tr>
            <td>Not connected</td>
            <td colspan="2">Did not know about shelter or could not get into shelter</td>
            <td class="last-column">16</td>
        </tr>
        <tr>
            <td>Violence or safety concerns</td>
            <td colspan="2">Experienced or heard of violence, afraid of violence or assault</td>
            <td class="last-column">14</td>
        </tr>
        <tr>
            <td>Poor service</td>
            <td colspan="2">Had poor experiences with shelter staff</td>
            <td class="last-column">13</td>
        </tr>
        <tr>
            <td>Stealing</td>
            <td colspan="2">Experienced theft or afraid of theft</td>
            <td class="last-column">12</td>
        </tr>
        <tr>
            <td>Not interested</td>
            <td colspan="2">"Prefer the streets"</td>
            <td class="last-column">11</td>
        </tr>
        <tr>
            <td>General environment</td>
            <td colspan="2">"Don't like shelters"</td>
            <td class="last-column">10</td>
        </tr>
        <tr>
            <td>Pets</td>
            <td colspan="2">Pets not allowed in shelters</td>
            <td class="last-column">7</td>
        </tr>
        <tr>
            <td>Cleanliness</td>
            <td colspan="2">Bed bugs, hygiene of others, afraid of illness</td>
            <td class="last-column">7</td>
        </tr>
        <tr style="border-bottom: 0">
            <td>Other</td>
            <td colspan="2">Using drugs, PTSD, homophobia</td>
            <td class="last-column">4</td>
        </tr>
    </table>
    <div class="source"><em>Benjamin Din  &bull; <a href="mailto:benjamin.din@gmail.com">bdin@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/benjamindin" target="_blank">@benjamindin</a></em><br>
    <em>Rahul Mukherjee  &bull; <a href="mailto:rmukherjee@sfchronicle.com">rmukherjee@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/ruhlmuk" target="_blank">@ruhlmuk</a></em><br>
    <em>Source: San Francisco Budget and Legislative Analyst's Office</em></div>
</div>

<p>Jeff Kositsky, head of the mayor’s new Department on Homelessness and Supportive Housing, said he hasn’t been on the job long enough to know how many additional shelter beds should exist, but endorses making shelters more welcoming places.</p>

<p>“I support the idea that shelters should be easy to access and that there are services available that can help people exit homelessness,” he said. “I think that’s a great idea, but it needs to be part of a bigger system.”</p>

<p>He said he wants to create a navigation system that encompasses the city’s entire response to homelessness and makes it easier for individual homeless people to receive targeted services and get off the streets quickly.</p>

<p>Supervisor Mark Farrell, the chairman of the board’s budget committee, said changing traditional shelters would “make a huge difference.”</p>

<p>“Most people think of our shelter system as an emergency place for people to get off the streets for the night, but in reality we have people staying in our shelters for two years at a time,” he said. “Our goal should not only be housing them, but getting them on their own two feet.”</p>

<p class="text-hed">Financial disparity</p>

<p>Cost is a major consideration. The controller’s report found that operating a Navigation Center bed for one night costs $69, compared with the average of $36 for a traditional shelter bed.</p>

<p>The adult shelters — there are separate, smaller facilities for families and those ages 16-24 — receive $13.8 million a year from the city, but cost $16 million to run. Private funding makes up the difference. To operate those shelters as Navigation Centers would mean roughly doubling the city’s annual outlay to $32 million.</p>

<div class="inline-img">
    <img src="../static/images/shelters/13.jpg">
    <p class="caption"><span class="year">June 10, 2016 </span> Enrique Chunpitaz, 74, drinks milk and eats a pastry for lunch while sitting on his bed at the Navigation Center homeless shelter in the Mission District.<span class="byline"> Photo: Leah Millis, The Chronicle</span></p>
</div>

<p>Expanding the number of shelter beds to accommodate more homeless people would be a bigger expense because it would mean building new facilities. A May report from Harvey Rose, the Board of Supervisors’ budget and legislative analyst, estimated that one-time costs of opening five new Navigation Centers would range from $5 million to $15 million. Rose estimated the annual operating costs of those centers at $20 million to $32 million.</p>

<p>The first Navigation Center in the Mission opened thanks to an anonymous $3 million donation from someone in the tech field. To pay for expanded services, the mayor could ramp up efforts to raise more private money from tech titans or other philanthropists.</p>

<p>Regular homeless operations are paid for out of the city’s general fund, and passage of a potential sales tax in November to supplement that money could help pay for running the improved shelters and staffing them with case managers.</p>

<p>That all adds up. But it could be a strategic investment in a city with a $9 billion annual budget and a growing number of residents beyond frustrated with the proliferation of tent cities on their sidewalks.</p>
