<div id="sidebar" class="sidebar-container"> 

<div class="sidebar-content">

<h2>New housing better, but cost is prohibitive</h2>

<p>The kinds of health and safety problems that can arise in the century-old SROs used as supportive housing for San Francisco are all but nonexistent in the city’s new large-scale complexes built from the ground up.</p>

<p>The Bishop Swing Community House, for instance, is a 134-unit building on 10th Street south of Market Street that went up seven years ago at a cost of $34 million. From its wide, tiled hallways, community rooms and outdoor plazas to its modern studio apartments, it looks like the kind of $3,000-a-month housing any techie would jump at.</p>

<p>“This place has good people, good case management, and I couldn’t be happier,” said Gregory “Slim” Slade, 58, who moved in around the time it opened after spending two years in homeless shelters. “I like that it’s out of the way of the kind of trouble you can get into in the Tenderloin, but it’s still close enough to walk to where I need to go.</p>

<p>“I’m done running from the police, drugs, jail and all that,” he said. “That’s long ago for me now, and this place has a lot to do with that.”</p>

<p>Bishop Swing is run by Episcopal Community Services, the same nonprofit that runs the 124-room Crosby Hotel. That revamped 104-year-old Tenderloin residence has been hit with more than 100 city building code violations, some of them serious, since January 2015 — more than any other complex of its kind. Over the same period, Bishop Swing has had eight minor building code violations.</p>

<p>Liz Pocock, Episcopal’s director of housing development and asset management, said she wished she could replicate Bishop Swing over and over until all of those among the city’s 6,700-plus homeless people who need it were housed. But that’s not economically feasible — for Episcopal, or anyone else.</p>

<p>Newly constructed supportive housing sites cost as much as $500,000 per unit to build and take years to develop and fund. The old hotels are quicker to ramp up, need considerably lower up-front investment because they are master-leased from owners, and cost about $1,500 a month per unit to run — which is why they make up more than half of the city’s supply. Most of the rest of the supply is new construction.</p>

<p>Mayor Ed Lee says he wants the city to house thousands more homeless people over the next few years, and his homelessness czar Jeff Kositsky said he is optimistic the city will be able to find new funding to do that. He says it can be done through a combination of new construction, master-leasing, making affordable housing units part of new market-rate buildings, or helping people get back where they were before coming homeless to San Francisco.</p>

<p>And indeed, despite the failure of a city sales tax measure on the November ballot that would have generated $50 million a year in new money for homelessness, there has been momentum this year toward creating new housing for the homeless in the Bay Area — notably in Santa Clara County, where a $950 million affordable housing bond measure passed in November.</p>

<p>The preference among all the housing choices, though, has always been toward new construction whenever possible.</p>

<p>In his book, “Designing for the Homeless: Architecture That Works,” UC Berkeley architecture Professor Sam Davis showed how homeless people were more successful and had fewer complaints in either well-done new places or well-rehabbed old ones. Details such as wider halls, lots of light and inspiring colors on the walls are psychologically healing for former street people, many of whom have been in jails or rehab and are distrustful of anything resembling an institution.</p>

<p>Episcopal has certainly found Davis’ contentions to be true, through everything from tenant surveys to counselor reports. “People do better in beautiful buildings,” Pocock said. “I don’t know how to quantify that, but I just believe it.”</p>

<p class="byline">-- By Kevin Fagan & Joaquin Palomino</p>

</div>
<div class="sidebar-controls">
    <span class="close-sidebar-button">
        <i class="close">X</i>
    </span>
</div>
</div>
