<p>For most homeless people lucky enough to land a placein San Francisco’s sprawling network of 6,000 supportive housing units, where a room comes with in-house counseling to keep them from plunging back into the street, life indoors takes a huge leap forward. No more nights shivering under blankets, getting beaten up in the street. Better access to food and health care. Stability.</p>

<p>But while most of San Francisco’s 75 supportive housing complexes run with relatively few building or health violations and boast high tenant approval rates, life can be challenging for residents and managers alike — especially in some of the century-old single-room occupancy hotels, or SROs, the city uses to house more than half of those lifted from the streets.</p>

<p>A Chronicle investigation has found exasperating maintenance problems, serious health code violations and frustrated residents at a handful of ancient SROs in the city, illustrating the hurdles that can arise in the city’s decade-old supportive housing boom.</p>

<p>City records and interviews with more than a dozen tenants at the SRO that had had more building code violations than any other supportive housing site over the past two years — the Crosby Hotel, in the Tenderloin — revealed vermin infestations that can linger for weeks before being eradicated, regular power and water outages, an unreliable elevator that can strand elderly or disabled tenants, friction among some residents and troubling deaths.</p>

<p>The Crosby is aggressively addressing its maintenance issues, and is an extreme example. But it serves as a warning to those both managing and living in San Francisco’s supportive housing network that, as the city plans a new push to pull people in from a growing number of problematic tent cities, special attention must be paid to the antiquated SROs being relied on for housing.</p>

<p>Sixty percent of the supportive housing sites run by the city are in century-old residential hotels like the Crosby.</p>

<div class="full-width-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/11851124/5/2000x2000.jpg">
    <p class="caption">The Crosby Hotel in San Francisco, Calif., on Wednesday, November 16, 2016.<span class="byline"> Scott Strazzante, The Chronicle</span></p>
</div>

<p>Just five blocks apart, the Crosby and one of its sister complexes, the Henry Hotel, exemplify what can go right and what can go wrong in supportive housing, commonly regarded as the best solution for getting chronically homeless people off the streets and into healthier lives.</p>

<p>At the 104-year-old Crosby on O’Farrell Street, Anna Hobbes’ door has been kicked in so many times by other tenants that it barely latches closed. Her bathtub faucet runs non-stop, a problem ignored for months by the lone maintenance man in the 124-room building. Bedbugs and cockroaches take over her room nearly every other month; Hobbes said she sometimes has to dig into her government disability check – $426 each month after subtracting her $500 rent – to buy pesticides to clear out the vermin.</p>

<p>After one infestation, Hobbes said, she threw her mattress away and replaced it with one she found on the streets.</p>

<div class="inline-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/11849704/5/1000x0.jpg">
    <p class="caption">Anna Hobbs washes her hands in the bathroom of her residence at The Crosby Hotel in San Francisco, Calif., on Monday, October 17, 2016. <span class="byline"> Scott Strazzante, The Chronicle</span></p>
</div>

<p>“It’s a horrible feeling to go to sleep at night and have to think about something crawling on me,” the 63-year old Bay Area native said. “Just living with that thought is not healthy. It wears on you psychologically.”</p>

<p>A five-minute walk away on Sixth Street is the Henry, another SRO built in 1912. Ashante Jones lives there and loves it. The 121-room hotel was a notorious, violence-ridden drug-den before the same nonprofit organizationthat runs the Crosby, Episcopal Community Services, took it over last year and turned it into a showpiece.</p>

<p>“This is the most stable housing I’ve had in a long, long time,” Jones, 40, said the other day as he strolled the Henry’s hallways, painted a cheery blue and white. He moved there in mid-September after years of street life, has made what his case managers term “great progress” on his methamphetamine habit, and now intends to look for work.</p>

<p>“Nobody wants to be homeless,” Jones said. “All we need is the opportunity to not be homeless. And this place — clean, well-run, well-staffed — gives us that opportunity.”</p>

<p>“We repainted everything from a dreary brown, we’re putting in an atrium, added wi-fi and computers to the building, and essentially did everything we could to make it nicer for the residents,” Loretta Olivencia, the Henry’s support services manager, said, standing in the hotel’s modern community room with spacious windows.</p>

<p>“When we took over, people said this place had death to it, and now they say it feels like life and light. That’s what we want. That’s what people deserve.”</p>

{% import '_components/_slideshowtwo.html' as slide %}
<div class= "photoGallery1">
  <div class="scrollLeft-Gallery1 first" id="scrollLeft-Gallery1"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
  <div class="scrollRight-Gallery1" id="scrollRight-Gallery1"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
  {{ slide.info(1,0,"11851228","active","Ashante Jones (second from right) and Leslie Roundtree (right) stop and talk with Steven Bonner (left) as they walk along Howard Street on Wednesday, October 12, 2016 in San Francisco, Calif.","Scott Strazzante" ) }}
  {{ slide.info(1,1,"11851226","","Ashante Jones (l to r) and Leslie Roundtree remove their belongings as they prepare to move from their tent on 13th Street to the navigation center on Tuesday, March 1, 2016 in San Francisco, California.","Scott Strazzante" ) }}
  {{ slide.info(1,2,"11851227","","Ashante Jones holds a crucifix as he packs up his tent and belongings on 13th Street to move to the Navigation Center on Tuesday, March 1, 2016 in San Francisco, California.","Scott Strazzante" ) }}
  {{ slide.info(1,3,"11851229","","Ashante Jones rides his bike at the Navigation Center the day after his tent and others were cleared from under the Central Freeway on Wednesday, March 2, 2016 in San Francisco, California.","Scott Strazzante" ) }}
  {{ slide.info(1,4,"11851223","","Ashante Jones (l to r) and Leslie Roundtree look over a receipt for their rent payment outside the Henry Hotel on Wednesday, October 12, 2016 in San Francisco, Calif.","Scott Strazzante" ) }}
  {{ slide.info(1,5,"11851225","","Ashante Jones talks to others as he passes them in the stairwell at the Henry Hotel as he prepares to leave on Wednesday, October 12, 2016 in San Francisco, Calif.","Scott Strazzante" ) }}
</div>

<p>Back when they were built in the early 1900s, San Francisco’s SROs were smartly kept complexes for single working people, sporting spritely frescoes and modern fixtures. Over the last half century, though, as neighborhoods and society changed, most became run-down flophouses, sporadically populated and often abused.</p>

<p>Then came supportive housing, a technique pioneered here and in New York City in the 1980s. It prioritizes getting people off the streets and into permanent housing as soon as possible, before they’ve conquered the drug, job, mental health or other problems that derailed their lives. Once inside, they can access an array of counseling and support services — and city studies have consistently shown that about 95 percent of those who take the roof stay under it for more than a year. Since 2004, more than 12,000 people have been rescued from the streets into supportive complexes, and Mayor Ed Lee has made housing another 8,000 homeless people a priority of his second term in office.</p>

<p>Given the high cost of real estate in San Francisco, the city’s aging SROs have always been a natural source of quick housing. And in 2004, when it launched a 10-year plan to try to end chronic homelessness, the city pushed the supportive housing concept into overdrive, creating most of the 6,000 units now in use —much of it through the program known as Care Not Cash, which converts welfare payments into modest rents for newly housed homeless people.</p>

<p>Many of the building were master leased, meaning San Francisco leases the hotels from their private owners and contracts with nonprofits to operate them. This is a good deal for owners. In return for upgrading their properties, sometimes at a cost of hundreds of thousands of dollars, they’re guaranteed years of full tenancy with reliable rent from the nonprofits running them.</p>

<p>Now, as it aims to clear city streets of scores of tent camps, San Francisco hopes to expand supportive housing, which has city leaders evaluating what works and what doesn’t. Most experts agree that past efforts have improved the lives of thousands of homeless people, and there are many exemplary models of how to do it right: The Mission Creek complex near AT&amp;T Park, a recently constructed building that houses disabled homeless people, or the Senator Hotel in the Tenderloin, an old SRO that’s been refurbished.</p>

<p>But in some cases, care and maintenance of the older, master-leased buildings like the Crosby can become a major issue, taking the costs far beyond the basic master-leasing tab. Some problems are a product of the environment — old buildings with aging infrastructure filled with traumatized or dysfunctional people coming off the streets who can sometimes be destructive or neglectful. And many nonprofits, operating on razor-thin budgets, rely on the property owners to make major repairs.</p>

<p>The 124-room Crosby, Episcopal Community Services’ largest master-leased supportive housing property, ran $174,000 over budget last year, according to Episcopal Executive Director Ken Reggio. While many such nonprofits’ costs have been going up more than 5 percent each year, budgets funded by the city through a variety of state, local and federal programs are increasing by only 2 percent annually— and there’s often no way to make up the difference other than cutting back on staff.</p>

<p>“There are challenges in a 100-year-old building, whether the people in it were homelesss or not,” said Reggio. “We want to place to be clean, we want it to be beautiful, but we recognize that is a challenge every day. We’ve learned a lot in the past decade about that.”</p>

<p>Jeff Kositsky, director of the Department of Homelessness and Supportive Housing, agrees there’s room for improvement. Since taking his post earlier this year, he has ordered up a full assessment of San Francisco’s supportive housing stock — which requires $112 million annually to operate, nearly half of all the money directed toward handling homelessness in the city.</p>

<p>He’s also starting a fund to repair elevators in the old SROs, with the goal of fixing five in the coming year. Elevators are notoriously balky in old residential hotels all over the Bay Area, but with San Francisco’s now filling up with formerly homeless people— more than half of whom, living inside, are over 55 years old — they are getting more use and breaking down more frequently than they have in decades.</p>

<p>“There’s definitely work to be done, but the bottom line is it’s better than living on the streets,” Kositsky said. “I want everything to be great housing, but it’s a challenge.</p>

<p>“None of this is easy, but if it was, somebody else would have solved it.”</p>

<div class="inline-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/11851232/5/1000x0.jpg">
    <p class="caption">Anna Garcia vacuums the security area in the lobby of The Crosby Hotel in San Francisco, Calif., on Wednesday, November 16, 2016. <span class="byline"> Scott Strazzante, The Chronicle</span></p>
</div>


<p>The Crosby, one of nine housing complexes operated by Episcopal, stands out because it recently had far more building code violations than any other supportive housing site, prompting scores of tenant complaints.</p>

<p>The hotel began housing homeless people in 2006 and received $1.4 million from the city this year to provide clean, safe supportive housing for residents. Even with that kind of budget, Reggio said, it’s among the most troublesome sites it operates.</p>

<p>Plumbing and electrical problems are common, just one maintenance man has been on hand for all 124 units because of budget constraints, and a constant churn of on-site property managers has helped create an unstable environment. The building is owned by Hotels 2000 LLC, and managed by John Stewart Company, which shares upkeep responsibilities with Episcopal.</p>

<p>The public spaces there, at a glance, are attractive: Hallways are mopped daily and coated in fresh paint, the lobby features decorative house plants and new plastic furniture to help avoid bed bugs. It’s generally quiet, and most residents say they’re happy to have a roof over their heads.</p>

<p>But problems that cropped up in recent years have raised alarm among managers and tenants alike, prompting repairs and reforms.</p>

<p>“It’s like a family in a lot of ways: The case managers are helpful, they keep it pretty clean. The bugs are a problem, but it has been a good experience,” said Hobbes, whose room is a study in neatness, its walls filled with pictures of angels. “But people’s needs should be better met...it’s just not right.”</p>

<div class="full-width-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/11851129/5/2000x2000.jpg">
    <p class="caption">The Crosby Hotel in San Francisco, Calif., on Wednesday, November 16, 2016.<span class="byline"> Scott Strazzante, The Chronicle</span></p>
</div>

<p>Between 2015 and August 2016, residents of the Crosby filed dozens of grievances with the Department of Building Inspections, leading to an estimated 149 housing code violations issued. While many infractions were minor, a Chronicle review of hundreds of pages of records from both DBI and the Department of Public Health found a number of more serious infractions as well.</p>

<p>In September, the hotel’s only elevator went out of service for at least four days. A disabled tenant said that left him unable to get back and forth to his room on an upper floor, forcing him to find another place to sleep. Residents told The Chronicle such elevator outages are common.</p>

<p>In February, building inspectors discovered cold water had stopped running in parts of the building; the water that did run had become a potential scalding hazard. According to the complainant, the issue was not addressed by property managers for two weeks. Leaky pipes are common, complaints show, causing walls and ceilings to buckle.</p>

<p>More than a dozen current and former Crosby tenants told The Chronicle that some issues with the building were never reported to the city.</p>

<p>Grafton Wesley Jones, 57, said mice were living in the box-spring of his bed for two years, despite repeated complaints to building management. “I could feel them moving around as I tried to sleep,” he said. The bed was only recently replaced. “I nearly took out the mattress and burned it, that’s how frustrated I was,” Jones said.</p>

{% import '_components/_slideshowtwo.html' as slide %}
<div class= "photoGallery1">
  <div class="scrollLeft-Gallery1 first" id="scrollLeft-Gallery2"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
  <div class="scrollRight-Gallery1" id="scrollRight-Gallery2"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
  {{ slide.info(2,0,"11849705","active",'Crosby Hotel resident Grafton "Wes" Jones watches the television and eats dinner in San Francisco, Calif., on Monday, October 17, 2016. Jones has lived in the Tenderloin SRO for the past 10 years.',"Scott Strazzante" ) }}

  {{ slide.info(2,1,"11849693","",'Crosby Hotel resident Grafton "Wes" Jones eats yogurt in San Francisco, Calif., on Tuesday, October 18, 2016. Jones has lived in the Tenderloin SRO for the past 10 years.',"Scott Strazzante" ) }}

  {{ slide.info(2,2,"11849675","",'Crosby Hotel resident Grafton "Wes" Jones washes a shelf from his mini refrigerator in San Francisco, Calif., on Tuesday, October 18, 2016. Jones has lived in the Tenderloin SRO for the past 10 years.',"Scott Strazzante" ) }}

  {{ slide.info(2,3,"11849710","",'A sign made by Crosby Hotel resident Grafton "Wes" Jones reminds him to not use an electrical outlet in his room in San Francisco, Calif., on Monday, October 17, 2016. Jones has lived in the Tenderloin SRO for the past 10 years.',"Scott Strazzante" ) }}

  {{ slide.info(2,4,"11839965","",'Crosby Hotel resident Grafton "Wes" Jones heads down to the lobby to pick up donated food in San Francisco, Calif., on Tuesday, October 18, 2016.Jones has lived in the Tenderloin SRO for the past 10 years.',"Scott Strazzante" ) }}

  {{ slide.info(2,5,"11851181","","The word \"rodent\" and a phone number for a rodent remover on Crosby Hotel resident Grafton \"Wes\" Jones' freezer in San Francisco, Calif., on Tuesday, October 18, 2016. Jones wrote the number down earlier this year while seeing an ad on television.","Scott Strazzante" ) }}
</div>

<p>Maintenance issues aren’t always quickly addressed. In 2013, a two-month-long cockroach and bed bug infestation prompted the city to issue an abatement order on the Crosby, which is one of the most serious interventions city regulators can take to compel a property owner to fix violations. The hotel received two abatement orders last year regarding widespread chipping paint.</p>

<p>Notably, the Crosby failed to meet city-set goals regarding building upkeep for the past five years, according to a Chronicle review of annual tenant surveys. During the last fiscal year, just 57 percent of residents said they were happy with maintenance and repairs, well below the 80 percent threshold set by the city and met at most other complexes.</p>

<p>“The fact that these issues aren’t fixed (quickly) is just negligence, or an unwillingness to spend the money, I can’t think of anything else,” said Steven MacDonald, a San Francisco attorney who represents both tenants and landlords. “If they’re going to properly manage their building, these are the checklists they have to complete.”</p>

<p><br />
</p>

<p>The most disturbing incident at the Crosby, by all accounts, was the death of 56-year old tenant Julie Mann in February of 2015, a year that also saw a suspicious death in the hotel.</p>

<p>According to medical examiner records, Mann died in her room of a methamphetamine overdose. After she died – despite a growing odor from the room and multiple “wellness checks” in which staff entered her room to check on her – it took property management two months to find her decomposing body beneath a pile of clothes.</p>

<p>Luis Moreno, a long-time Crosby resident, told The Chronicle: “Everyone was saying the same thing: The third floor reeks of decomposing people. ... But they just kept telling us it was the plumbing or something.”</p>

<p>Mann’s death became a turning point for the building.</p>

<p>“We had a ‘come to Jesus’ moment in the summer,” said Liz Pocock, Episcopal’s director of housing development and asset management. “I’m still traumatized, these things don’t go away easily, and they shouldn’t. This was a person. I can only imagine how people who live here and were friends with Julie Mann feel.”</p>

<p>Since the incident, Episcopal has tightened up its policies regarding checking on residents. It also launched a flurry of repairs to the SRO to try to regain tenants’ trust: Replacing public toilets, installing new windows in all the rooms, and providing wi-fi and free communal computers.</p>

<p>In total, the improvements cost the city, the nonprofit and the property owner $700,000 combined. An experienced manager was hired from another building and started in mid-November; a second maintenance worker is scheduled to begin work soon.</p>

<p>Most of the residents interviewed by The Chronicle agreed that conditions have improved. The number of building code violations issued against the property also dropped this year, which Reggio said reflects the work Episcopal has put into the old Tenderloin hotel.</p>

<p>“One thing we do is try to build community, people need to trust one another, they need to trust on-site staff, and I think there was breakdown of trust along the way,” Reggio said. “We’re working very hard to rebuild that.”</p>

<p><br />
</p>

<p>One other master-leased complex, the McAllister Hotel, stands out with the Crosby for having a long list of building and health code violations. The McAllister is operated by the Conard House nonprofit, and over the past two years city inspectors have found a wide array of infractions there: Water in some rooms has run “absolutely brown”; public bathrooms are “filthy,” “stained” and emit “foul odors”; the elevator regularly breaks down; and leaking pipes have caused some subflooring to rot and sink.</p>

<p>In October, the Department of Public Health considered imposing $1,000-per day fines on the hotel for failing to clean mold and mildew in its public bathrooms — a problem that has persisted for years.</p>

<p>Richard Heasley, executive director of Conard House, said the McAllister is the nonprofit’s most difficult property to operate, partially because it’s dependent on the hotel’s owner, Bhakta-Riley Investment Corp, to make major repairs.</p>

<p>“There were a lot of things we didn’t know because the building wasn’t intensively occupied before we took it over,” Heasley said — adding that, like at the Crosby, many of the structural issues are in the process of being fixed.</p>

<p>One thing supportive housing managers and tenants consistently agree upon, however, is that master-leasing an old SRO is worth the trouble, maintenance problems or not.</p>

<p>There are about 581 SROs all told, public and private, in San Francisco — and living conditions always improve significantly when a nonprofit takes over and converts one into supportive housing.</p>

<p>“You have to go into these hotels before and after to see the dramatic improvements that are made,” said Sam Dodge, deputy director of the Department of Homelessness and Supportive Housing. “It’s night and day.”</p>

<p>The latest example is the Winton Hotel. Located on O’Farrell Street just a block from the Crosby, it was taken over by the nonprofit Tenderloin Housing Clinic in November through a city master lease agreement.</p>

<p>Prior to becoming supportive housing, the 105-room hotel was regularly censured by building and health inspectors. In 2014, the city attorney sued its owners for a number of violations in their 15 residential hotels, including rampant vermin infestations, severe mold and mildew, inadequate fire safety, raw sewage leaks, and hazardous dispersal of lead paint chips.</p>

<p>Several lawsuits also were filed by Winton residents against the property owners, who were all members of the Thankor family — which owned some of the city’s most notorious residential hotels.</p>

<p>Now gutted and remodeled, the complex took in its first tenants in late November.</p>

<p>“The Winton is one of the most dramatic transformations of any of our properties,” said Randy Shaw, executive director of the Tenderloin Housing Clinic, the nonprofit that operates the most supportive housing sites in the city. “The place was a complete wreck when I saw it in March, and now it’s beautiful.”</p>

<p>Marquis Clay saw the same kind of transformation at the Henry Hotel, where he’s lived for seven years. Before Episcopal took it over a year ago, he said, it was plagued by shootings, beatings and open crack and heroin deals. Now, its rooms have new paint, reworked plumbing and appliances, and a fully engaged staff of counselors and maintenance managers. Clay, as a grandfathered-in resident, gets to access the same programs that the Henry’s formerly homeless residents are offered.</p>

<p>“It couldn’t be mellower,” said Clay, 46. “Nobody’s beating anybody up. Everything is run really well. … I love it here.”</p>

<p>Episcopal manager Pocock said that short of building more new residences for millions of dollars the government doesn’t readily have, the Henry is her ideal.</p>

<p>“Look, we’re trying to make these places as nice as possible, and it takes a lot of money and a lot of attention and we’re still learning,” she said. “Fixing things is never ending, but it’s worth it. These are human beings. They deserve dignity, and we want to give that to them.”</p>
