<p>For many homeless people who land a spot within San Francisco’s network of 6,000 supportive housing rooms and apartments, being indoors means life gets better. No more nights shivering under blankets, getting beaten up in the street. On-site access to food, health care and counseling. Stability.</p>

<div id="infobox">
  <p>About this project:</p>
  <div class="project-logo small">
    <a  href="http://www.sfchronicle.com/homeless/" target="_blank"><img src="../static/logos/SFHomelessProject_square_02.png"></img></a>
  </div>
  <p>The San Francisco Chronicle has joined with more than 80 other news organizations to focus attention on the seemingly intractable problem of homelessness in our region.</p>
  <p><a href="http://www.sfchronicle.com/bayarea/article/SF-Homeless-Project-What-has-changed-in-response-10688659.php" target="_blank">Read about the second part of the project.</a></p>
  <p>Read more stories and see multimedia elements from this project at <a href="http://sfchronicle.com/homeless"> SFChronicle.com/homeless</a>.</p>
</div>

<p>Most of the 75 complexes, which cost the city $112 million annually to operate, are considered generally safe and well-run. But a San Francisco Chronicle investigation into health and safety issues in those residences found persistent problems among the oldest — the century-old single-room-occupancy hotels, or SROs, that house more than 60 percent of the people in supportive housing.</p>

<p>The Chronicle’s probe found chronic maintenance issues, health code violations and frustrated residents at a handful of these city-funded SROs. The worst among them: the 124-unit Crosby Hotel in the Tenderloin neighborhood. From the start of 2015 to August 2016, it had more building code violations than any other supportive housing site, received more abatement orders from city agencies to fix serious problems, and was last in residents’ ratings for maintenance and repairs.</p>

<p>Public records and interviews with more than a dozen tenants reveal vermin infestations that lingered for weeks before being eradicated, regular power outages, leaky pipes, an unreliable elevator that stranded elderly or disabled tenants and, in one extreme case, a tenant’s death that went undiscovered for two months.</p>

<p>That 2015 tragedy prompted some Crosby residents to file numerous complaints with the city, which contributed to the hotel’s spike in code violations — more than three times that of any other supportive residence over the 20-month period. Since the death, the Crosby owners and operators and the city have spent $700,000 to improve the building, and the number of violations has dropped.</p>

<p>The Crosby’s problems, which have been aggressively addressed in recent months, are not unique to that hotel. As the city plans a new push to house chronically homeless people removed from a growing number of tent cities, hotels like the Crosby serve as a warning that, if not rigorously maintained, the antiquated buildings relied on for the bulk of San Francisco’s supportive housing can endanger or disrupt the already precarious lives of their residents.</p>

<div class="full-width-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/11851124/5/2000x2000.jpg">
    <p class="caption">The Crosby Hotel in San Francisco’s Tenderloin had many code violations. <span class="byline"> Scott Strazzante, The Chronicle</span></p>
</div>

<p>Back when they were built in the early 1900s, San Francisco’s SROs were smartly kept complexes for single working people. Over the last half century, as neighborhoods and society changed, most became rundown flophouses, neglected and sporadically populated.</p>

<p>In the 1980s, San Francisco and New York City pioneered the concept of supportive housing, which prioritizes getting homeless people into permanent homes as soon as possible, before they’ve conquered drug, job, mental health or other problems. It’s commonly regarded as the best solution for helping chronically homeless people to become self sufficient.</p>

<p>Once inside, tenants can access an array of counseling and support services, and city studies show about 95 percent of residents stay for more than a year. Since 2004, more than 12,000 homeless people in San Francisco have entered supportive residences, and Mayor Ed Lee has made housing another 8,000 people a priority of his second term. Given the high cost of the city’s real estate and the years-long approval process to build more units, aging SROs became a key source of quick, inexpensive housing.</p>

<div class="inline-img">
    <div class='embed-container'><iframe src='https://player.vimeo.com/video/193640382' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
    <p class="caption">Grafton Wesley Jones talks about being homeless. <span class="byline">Scott Strazzante, The Chronicle</span></p>
</div>

<p>In 2004, when then-Mayor Gavin Newsom launched a 10-year plan that attempted to end chronic homelessness, San Francisco created many of the 6,000 supportive housing units now in use. A majority are located in SROs, often financed through the program known as Care Not Cash, which converts welfare payments into modest rents for newly housed homeless people.</p>

<p>Many of the buildings are master-leased, meaning the city leases the hotels from private owners and contracts with nonprofit groups to operate them. In return for upgrading their properties, sometimes at a cost of hundreds of thousands of dollars, hotel owners are guaranteed years of full tenancy and reliable rent.</p>

<p>Now, as San Francisco plans to further expand supportive housing, city leaders are evaluating what works and what doesn’t. Most experts agree that past efforts have improved the lives of thousands of homeless people, and there are many models of how to do it right. Examples include the Mission Creek complex near AT&amp;T Park, a recently constructed building that houses disabled homeless people, or the Senator Hotel in the Tenderloin, a refurbished, well-maintained SRO.</p>

<p>In some cases, however, maintenance issues can spiral out of control, as they did at the Crosby. Some problems are a product of the environment: old buildings with aging infrastructure filled with traumatized or dysfunctional people who sometimes can be destructive or neglectful through hoarding, attracting vermin or willfully damaging property.</p>

<responsive-frame src="http://projects.sfchronicle.com/2016/homelessness-sros/SROs-map/index.html"></responsive-frame>

<p>Many nonprofits that manage the buildings, operating on razor-thin budgets, rely on the property owners to make major repairs. Quality staffing at low salaries — typically about $55,000 a year for an on-site manager — can be difficult to maintain.</p>

<p>While costs for many nonprofit operators have been going up more than 5 percent each year, budgets funded through a variety of local, state, local and federal programs have grown by only 2 percent annually. Staff cuts often make up the difference.</p>

<p>The Crosby is one of nine supportive housing complexes run by Episcopal Community Services — one of the biggest and most diversified homeless-aid agencies in the Bay Area — and it’s the largest property it administers. The hotel was operated this past year with $1.4 million from the city, but even with that kind of budget, Episcopal Executive Director Ken Reggio said, it’s among the most troublesome sites the nonprofit group runs.</p>

<p>It ran $174,000 over budget last year, Reggio said, and a constant churn of on-site managers helped create an unstable environment.</p>

<p>“There are challenges in a 100-year-old building, whether the people in it were homeless or not,” Reggio said. “We want the place to be clean, we want it to be beautiful, but we recognize that is a challenge every day. We’ve learned a lot in the past decade about that.”</p>

<div class="inline-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/11849626/5/1000x0.jpg">
    <p class="caption">Former Crosby Hotel resident Mike Lagace walks on O’Farrell Street in San Francisco. <span class="byline"> Scott Strazzante, The Chronicle</span></p>
</div>

<p>The Crosby is owned by Hotels 2000, and managed by John Stewart Co., which shares upkeep responsibilities with Episcopal Community Services. The site began housing homeless people in 2006.</p>

<p>The SROs public spaces appear clean and attractive. Hallways are coated in fresh paint and mopped daily. House plants and new plastic furniture fill the lobby. It’s generally quiet, and most residents say they’re happy to have a roof over their heads.</p>

<p>But in recent years, Crosby residents also have endured a number of serious problems.</p>

<p>From January 2015 through August 2016, residents of the Crosby filed dozens of grievances with the Department of Building Inspection, leading it to issue more than 100 housing code violations. While many infractions were minor, a Chronicle review of hundreds of pages of records from both DBI and the Department of Public Health found a number of more severe difficulties.</p>

<responsive-frame src="http://projects.sfchronicle.com/2016/homelessness-sros/SROs-text/index.html"></responsive-frame>

<p>In September, the hotel’s only elevator went out of service for multiple days. According to a complaint filed with the city, a disabled tenant who lives on an upper floor was forced by the reduced access to either stay in the lobby or find another place to sleep. Residents say such elevator outages are common.</p>

<p>In February, building inspectors discovered cold water had stopped running in parts of the building; the water that did run was so hot it was considered potentially hazardous. According to the complainant, the issue was not addressed by property managers for two weeks. Leaky pipes are common, complaints show, causing walls and ceilings to buckle.</p>

<p>More than a dozen current and former Crosby residents told The Chronicle that other problems were never reported to the city.</p>

<p>One tenant, Anna Hobbs, showed how her door has been kicked in so many times by her neighbors that it barely latches closed. Her bathtub faucet runs nonstop, a problem ignored for months. Bedbug and cockroach infestations are a recurring problem that the contracted pest management company sometimes fails to eradicate. Hobbs said she occasionally has to dig into her government disability check – $426 each month after subtracting her $500 rent — to buy pesticides.</p>

<p>“It’s a horrible feeling to go to sleep at night and have to think about something crawling on me,” the 63-year old Bay Area native said.</p>

<p>Grafton Wesley Jones, 57, said mice nested in his bed’s box spring for two years despite repeated complaints to building management. “I could feel them moving around as I tried to sleep,” he said. The bed was only recently replaced.</p>

{% import '_components/_slideshowtwo.html' as slide %}
<div class= "photoGallery1">
  <div class="scrollLeft-Gallery1 first" id="scrollLeft-Gallery3"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
  <div class="scrollRight-Gallery1" id="scrollRight-Gallery3"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
  {{ slide.info(3,0,"11849704","active",'Anna Hobbs washes her hands in the bathroom of her residence at the Crosby Hotel.',"Scott Strazzante" ) }}

  {{ slide.info(3,1,"11851214","","Anna Hobbs' cat rests on her bed at the Crosby Hotel.","Scott Strazzante" ) }}

  {{ slide.info(3,2,"11851194","",'Anna Hobbs walks down the stairs from the fourth floor when the Crosby’s elevator was broken.',"Scott Strazzante" ) }}

  {{ slide.info(3,3,"11851186","",'Anna Hobbs reaches for her phone in her room at the Crosby Hotel.',"Scott Strazzante" ) }}
  
</div>

<p>In 2013, a cockroach and bedbug infestation in one room at the Crosby lingered for months, prompting the city to issue an abatement order, one of the most serious interventions regulators can take to compel a property owner to fix violations. The hotel received two abatement orders last year for unresolved maintenance issues, particularly widespread peeling and chipping paint.</p>

<p>Hotels 2000, like most owners of master-leased buildings, is responsible for repairing everything from “the walls out and the roof up,” said Charles Custer, an attorney for the Crosby landlords. Episcopal and the John Stewart Co., its building manager, are responsible for conditions inside the building.</p>

<p>“Eleven years ago, when Episcopal took over, all vacant rooms were painted, carpeted, repaired; that’s what Episcopal required,” Custer said. “But over time maintenance issues can come up. ...The ownership just supports (Episcopal).”</p>

<p>Liz Pocock, Episcopal’s director of housing development and asset management, said that even though the Crosby has higher tenant turnover than its other supportive housing sites, many residents have stayed longer than anticipated — which has been a factor in the hotels decline. Rooms are not usually renovated until a tenant moves. So a decade after opening, the list of code violations and tenant complaints has grown, making the property “a little overwhelming,” she said, and prompting many on-site managers to leave after only a few months on the job.</p>

<p>Not everyone agrees enough was done to prevent the deterioration.</p>

<p>“The fact that these issues aren’t fixed (quickly) is just negligence, or an unwillingness to spend the money. I can’t think of anything else,” said Steven MacDonald, a San Francisco attorney who represents both tenants and landlords. “If they’re going to properly manage their building, these are the checklists they have to complete.”</p>

<div class="full-width-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/11851129/5/2000x2000.jpg">
    <p class="caption">Crosby Hotel resident Grafton Wesley Jones visits with fellow SRO resident Anna Hobbes.<span class="byline"> Scott Strazzante, The Chronicle</span></p>
</div>

<p>By all accounts, the most disturbing incident at the Crosby was the death of 56-year-old tenant Julia Mann in February 2015.</p>

<p>According to medical examiner records, Mann died in her room of “probable methamphetamine intoxication.” After she died — despite a growing odor from the room and multiple “wellness checks” in which staff entered her room to check on her — it took property management two months to find her decomposing body beneath a pile of clothes.</p>

<p>Luis Moreno, a longtime Crosby resident, told The Chronicle: “Everyone was saying the same thing: The third floor reeks of decomposing people. ... But they just kept telling us it was the plumbing or something.”</p>

<p>Mann’s death became a turning point for the building.</p>

<p>“We had a ‘come to Jesus’ moment,” said Episcopal’s Pocock. “I’m still traumatized. These things don’t go away easily, and they shouldn’t. This was a person. I can only imagine how people who live here and were friends with Julie Mann feel.”</p>

<p>Since the incident, Episcopal has tightened its policies regarding checking on residents. It also launched a flurry of repairs in hopes of regaining tenants’ confidence in property management. The nonprofit replaced public toilets, installed new windows in all the rooms, fixed the roof and provided Wi-Fi and free communal computers.</p>

{% import '_components/_slideshowtwo.html' as slide %}
<div class= "photoGallery1">
  <div class="scrollLeft-Gallery1 first" id="scrollLeft-Gallery2"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
  <div class="scrollRight-Gallery1" id="scrollRight-Gallery2"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
  {{ slide.info(2,0,"11849705","active",'Resident Grafton Wesley Jones watches television as he eats dinner in the Crosby Hotel. Jones has lived in the Tenderloin SRO for the past 10 years. ',"Scott Strazzante" ) }}

  {{ slide.info(2,1,"11849693","",'Crosby Hotel resident Grafton Wesley Jones eats yogurt in his SRO room.',"Scott Strazzante" ) }}

  {{ slide.info(2,2,"11849675","",'Crosby Hotel resident Grafton Wesley Jones washes a shelf from the mini refrigerator in his SRO room.',"Scott Strazzante" ) }}

  {{ slide.info(2,3,"11849710","",'A sign made by Crosby Hotel resident Grafton Wesley Jones reminds him to not use an electrical outlet in his room.',"Scott Strazzante" ) }}

  {{ slide.info(2,4,"11839965","",'Resident Grafton Wesley Jones heads down to the Crosby Hotel lobby to pick up donated food.',"Scott Strazzante" ) }}
</div>

<p>The improvements cost the city, the nonprofit and the property owner $700,000 combined. An experienced manager was hired from another building and started work in mid-November; a second maintenance worker is scheduled to begin work soon.</p>

<p>Most of the residents interviewed by The Chronicle agreed that conditions have improved — citing their persistent complaints as a motivating factor. The number of building code violations issued against the property also dropped this year, which Reggio said reflects the work Episcopal has put into the hotel.</p>

<p>“I think there was breakdown of trust along the way,” Reggio said. “We’re working very hard to rebuild that.”</p>


<p>All told, there are 581 SRO hotels in San Francisco, including hundreds of privately owned and operated buildings. The consensus is that living conditions in the aging residences always improve when a nonprofit takes over and converts one into supportive housing.</p>

<p>“You have to go into these hotels before and after to see the dramatic improvements that are made,” said Sam Dodge, deputy director of the Department of Homelessness and Supportive Housing. “It’s night and day.”</p>

<p>Just five blocks away from the Crosby on Sixth Street, the 121-room Henry Hotel, also built in 1912 and also operated by Episcopal, is an example of how dramatically different things can be in a newly refurbished SRO.</p>

<div id="infobox" class="sro">
  <p>New housing better, but cost is prohibitive</p>
  <span id="sro-sidebar" class="btn">Read more</span> 
</div>


{% include '_text/sidebar.html' %}



<p>The Henry was a notorious, violence-ridden drug den before Episcopal took it over last year and made it a showpiece. Ashante Jones lives at the hotel and loves it.</p>

<p>“This is the most stable housing I’ve had in a long, long time,” Jones, 40, said the other day as he strolled the Henry’s hallways, painted a cheery blue and white. He moved there in mid-September after years of street life, has made what his case managers term “great progress” on his methamphetamine habit, and now intends to look for work.</p>

{% import '_components/_slideshowtwo.html' as slide %}
<div class= "photoGallery1">
  <div class="scrollLeft-Gallery1 first" id="scrollLeft-Gallery1"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
  <div class="scrollRight-Gallery1" id="scrollRight-Gallery1"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
  {{ slide.info(1,0,"11851228","active","Ashante Jones (second from right) and Leslie Roundtree (right) stop and talk with Steven Bonner (left) as they walk along Howard Street in San Francisco.","Lea Suzuki" ) }}

  {{ slide.info(1,1,"11851226","","Ashante Jones (left) and Leslie Roundtree remove their belongings as they prepare to move from their tent on 13th Street to the Navigation Center in March.","Lea Suzuki" ) }}

  {{ slide.info(1,2,"11851227","","Ashante Jones holds a crucifix as he packs up his tent and belongings on 13th Street to move to the Navigation Center.","Lea Suzuki" ) }}

  {{ slide.info(1,3,"11851229","","Ashante Jones rides his bike at the Navigation Center the day after his tent and others were cleared from Division Street under the Central Freeway in San Francisco.","Lea Suzuki" ) }}

  {{ slide.info(1,4,"11851223","","Ashante Jones (left) and Leslie Roundtree look over a receipt for their rent payment outside the Henry Hotel.","Lea Suzuki" ) }}

  {{ slide.info(1,5,"11851225","","Ashante Jones talks to others as he passes them in the stairwell at the Henry Hotel as he prepares to leave.","Lea Suzuki" ) }}
</div>


<p>“Nobody wants to be homeless,” Jones said. “All we need is the opportunity to not be homeless. And this place — clean, well-run, well-staffed — gives us that opportunity.”</p>

<p>Marquis Clay witnessed the transformation at the Henry, where he’s lived for seven years. Before Episcopal took it over, he said, it was plagued by shootings, beatings and open drug dealing. One violent night in 2014 saw two people shot and killed at or near the troubled hotel in separate incidents.</p>

<p>Now, its rooms have new paint, reworked plumbing and appliances, and a fully engaged staff of counselors and maintenance managers. Clay, as a grandfathered-in resident, gets to access the same programs that the Henry’s formerly homeless residents are offered.</p>

<p>“It couldn’t be mellower,” said Clay, 46. “Nobody’s beating anybody up. Everything is run really well. … I love it here.”</p>

<p>Standing in the hotel’s modern community room, Loretta Olivencia, the Henry’s support services manager, said, “We repainted everything from a dreary brown, we’re putting in an atrium, added Wi-Fi and computers to the building, and essentially did everything we could to make it nicer for the residents.”</p>

<p>The lessons learned from the Crosby will help make sure the Henry avoids its troubles, Pocock said, mainly by addressing health and safety issues more quickly. But the Henry also has some advantages the Crosby didn’t.</p>

<p>“One of the really great things we inherited from The Henry is that all the floors have ceramic tile flooring — no carpets (so less danger of pest infestations),” she said. “The second thing is that before we took over, the owners modernized the elevator. Plus we did a lot of work modernizing the bathrooms. Those things, going forward, will be very helpful because we won’t be trying to play catchup.”</p>

<p>“Vigilance is the key,” she said. “We know that now more than ever before. The minute you get behind on work orders, you’re playing catch-up. And the Crosby was like this perfect storm that just kept going in a circle.”</p>

<p>Jeff Kositsky, director of the city’s Department of Homelessness and Supportive Housing, agrees there’s room for improvement in the huge portfolio of residences that he inherited. Since taking the job earlier this year, he has ordered a full assessment of San Francisco’s supportive housing stock.</p>

<p>He also started a fund to repair elevators in SROs, with the goal of fixing five in the coming year. Elevators in many of the old buildings are notoriously balky, and more than half of supportive housing residents are over 55 years old and dependent on them.</p>

<p>“There’s definitely work to be done, but the bottom line is it’s better than living on the streets,” Kositsky said. “None of this is easy. If it was, somebody else would have solved it.”</p>
