<p>Fixing San Francisco's homelessness problem is possible.</p>

<p>It will require the addition of thousands of housing units for the hardest-core homeless people — the ones who wander the streets, screaming at the invisible, the ones who live in tents on sidewalks and shoot up in plain sight. The ones who make people who live and visit here think San Francisco has lost its way.</p>

{% include '_components/_infobox.html' %}

<p>The solution is compassionate. It puts counselors on the sites of those thousands of new housing units, to help the hard-core homeless with their mental problems and drug addictions. The solution is open-ended. Many of those now-homeless people will be in taxpayer-funded housing for the rest of their lives.</p>

<p>The solution is more than theory. Several cities around the nation are taking the kinds of steps that have either already eliminated chronic homelessness on their streets or are close to doing so.</p>

<p>"Absolutely it can be done," said Dennis Culhane, a University of Pennsylvania professor who specializes in homelessness research. "We know how to solve this. We have the techniques. It's just a matter of marshaling the will and the focus."</p>

<p>And best of all, the solution is familiar. Because San Francisco has tried it, and it has worked.</p>

<div class="inline-img">
    <img src="../static/images/supportive/homeless_supportive_PH2.jpg">
    <p class="caption"><span class="year">May 10, 2016 </span> Kenney Williams (right) checks for the correct bin to throw his plates into after enjoying a Memorial Day barbeque in a community room at Mission Creek Senior Community in San Francisco.<span class="byline"> Photo: Lea Suzuki, The Chronicle</span></p>
</div>

<div class="text-hed">What it takes</div>

<p>Pulling every hard-core homeless person off the streets of San Francisco would require the creation within two years of 2,500 additional supportive housing units — housing where mental-health therapists, substance-abuse counselors and job finders, for those who can handle employment, are right there, in the building. Then, the city would need to start relocating people who have been living in such units — in some cases for years — but can get by in less-intensive housing that is cheaper for taxpayers.</p>

<p>San Francisco already knows how to get its homeless people into supportive housing. For more than a decade, it has been a national leader at it.</p>

<p>The cost to expand its efforts: about $200 million up front to build new apartments, and about $50 million annually to operate those and all the other additional units. Overall, that's equal to about 2 percent of just one annual city budget.</p>

<p>Where could all this housing be created? Throughout San Francisco on scores of city-owned parking plazas and empty lots, and in vacant private buildings for sale.</p>

<p>The main barriers, experts say, are the availability of immediate funding and the need to defuse likely neighborhood opposition. But those barriers have been surmounted elsewhere.</p>

<p>Salt Lake City did it, crafting a widespread network of housing and counseling clusters that keeps its streets cleared. Houston is close to that. So are St. Louis, Long Beach and Glendale in Los Angeles County.</p>

<div class="inline-img">
    <img src="../static/images/supportive/homeless_supportive_PH6.jpg">
    <p class="caption"><span class="year">2014 / Salt Lake City</span>  Case manager Nils Abramson walks the halls of the Sunrise Metro supportive housing complex. The city has crafted a network of housing and counseling clusters that keeps its streets clear.<span class="byline"> Photo: Brant Ward, The Chronicle</span></p>
</div>

<p>San Francisco would not be starting from scratch. It headed down this road more than 10 years ago. But with the lessons learned over the past decade, it can be done better now.</p>

<p>The city's 10-Year Plan to Abolish Chronic Homelessness, created by then-Mayor Gavin Newsom in 2004, laid out the need to house all 3,000 "chronically homeless" people at the time — more than are on the streets today. Twelve years later, the city has about 6,000 units in which formerly homeless people are living.</p>

<p>But because more homeless people keep showing up, the city hasn't been able to get ahead of the problem. It doesn't have to be that way.</p>

<div class="inline-graphic">
    <img src="{{ url_for('static', filename='graphics/support/per100000people.jpg') }}">
    <div class="credit">Rahul Mukherjee/The Chronicle</div>
    <div class="credit second">Source: U.S. Census, U.S. Department of Housing and Urban Development</div>
</div>

<div class="text-hed">The troubled landscape</div>

<p>Here's the core problem facing San Francisco:</p>

<p>The term "chronically homeless" describes severely dysfunctional people who live outside most or all of the time and suffer from multiple problems, including substance abuse or mental illness. An estimated 1,500 of San Francisco's roughly 6,700 street people — the total counted in the city's homeless census of 2015 — are chronically homeless, and each costs the city about $80,000 each year in police, ambulance, hospital and other emergency services.</p>

<p>That cost per person is far higher than for the other 5,100 people considered homeless, but who are generally without homes only intermittently and suffer fewer dysfunctions. Those people can be housed with government rent subsidies, or find jobs with city help, or move in with family — options that don't require extensive taxpayer outlays.</p>

<p>It's the 1,500 hard-core street people — a federal estimate, though the city's limited survey put the total a little higher — who create the Dickensian spectacle of camps and chaos on the streets.</p>

<p>Since the early 2000s, the city's main goal has been to get those chronically homeless people into supportive housing. Once people move into that kind of housing, they stay in it — city studies show that 95 percent of those in the best supportive programs stay indoors long term.</p>

<p>Officials estimate, though, that at least 450 new chronically homeless people appear on San Francisco's sidewalks every year, both from within and outside the city, meaning city services can never catch up.</p>

<div class="inline-graphic too-big">
    <img src="{{ url_for('static', filename='graphics/support/age.jpg') }}">
    <div class="credit">Rahul Mukherjee/The Chronicle</div>
    <div class="credit second">Source: San Francisco Budget and Legislative Analyst's Office</div>
</div>

<p>How to overcome that math? Create enough supportive housing quickly enough to move all 1,500 chronically homeless people off the street, plus another 1,000 units to take in the next two years' worth of new arrivals while the housing is being built.</p>

<p>That's 2,500 new units the city would have to create. It would also then need to ramp up programs to handle the newly housed.</p>

<div class="text-hed">Not cheap</div>

<p>The cost would be significant.</p>

<p>Supportive housing units cost $400,000 each to construct from the ground up, whether they are part of a larger affordable-housing complex or in stand-alone complexes of their own. The city could start its ramp-up by building 500 of those.</p>

<p>That's how about half of the 1,700 units run by the city Department of Public Health's Direct Access to Housing program were created. Long one of the nation's premier programs, it surrounds chronically homeless people with counseling and medical services provided mostly by nonprofits. It will be key to any expansion of housing, absorbing the most dysfunctional people.</p>

<p>"Master lease" housing, on the other hand, comes without construction costs. That's how the majority of the other supportive housing units were created in San Francisco since 2004 — by the city entering into contracts with the owners of existing buildings, generally rundown residential hotels, to have them renovated at the owners' cost. The city then rents them and pays nonprofits to provide supportive services. The advantage for the owners is they get steady, reliable rent checks.</p>

<p>There are roughly another 1,000 such units available to the city that it could easily obtain to lease, said Randy Shaw, who as head of the Tenderloin Housing Clinic has the most contracts with the city for the master-lease complexes. If the city started the process today, he said, those units could be available to house chronically homeless people in two years.</p>

<p>That makes 1,500 newly available units, still 1,000 or so short of what the city would need to make changes quickly. One possibility for filling the gap: tiny homes in "Lego"-style stacking units.</p>

<div class="inline-graphic">
    <img src="{{ url_for('static', filename='graphics/support/projectsandnumbers.jpg') }}">
    <div class="credit">Rahul Mukherjee/The Chronicle</div>
    <div class="credit second">Source: Department of Public Health and Human Services Agency</div>
</div>

<div class="text-hed">Up in months</div>

<p>Resembling metal shipping containers, but attractively appointed, they are prefabricated and can be constructed in months, not years, and cost just $200,000 apiece.</p>

<p>More than 100 have recently been built in both New York and Los Angeles to house homeless people. Now, developer Patrick Kennedy, who has already sold market-rate versions in San Francisco, wants to build as many as 1,000 such units in five or more complexes as supportive housing for the city.</p>

<div class="inline-img">
    <img src="../static/images/supportive/homeless_supportive_PH5.jpg">
    <p class="caption"><span class="year">2014 / San Francisco </span> Developer Patrick Kennedy wants to build up to 1,000 tiny prefabricated homes in five or more complexes as supportive housing for the city.<span class="byline"> Photo: Michael Macor, The Chronicle</span></p>
</div>

<p>The construction would be free. In return for using city land such as vacant fields or parking lots, Kennedy said, he would erect his units and lease them to the city for $1,000 a month each. He's been pitching the plan in private for months, and Mayor Ed Lee and several of his homeless advisers say they like the idea.</p>

<p>"We can build thousands of units on empty parking lots," Lee said. "Tiny houses? I'm open to any idea, and this can bring the cost of construction way down."</p>

<p>"We're ready to go," said Kennedy, who plans to put one of the units on display in front of his office at Ninth and Mission streets in August. "We can build pretty much anywhere — small lots, parking lots, and we can go high-rise to maximize the land space. It's not crappy housing. It's a modern look, nice. And we can build fast — six months, start to finish."</p>

<p>So, the total construction tab for adding 2,500 supportive housing units within two years? About $200 million for 500 conventionally built units, and no cost for 1,000 Lego units and 1,000 converted residential hotel units.</p>

<p>The ongoing annual cost of supportive services for 2,500 people? About $20,000 per person, or $50 million a year.</p>

<div class="text-hed">Two big barriers</div>

<p>There is plenty of public land available, as well as private land that could be bought or leased. The city administrator's office reported this year that there are as many as 50 usable pieces of property, ranging from open spaces to empty lots and community gardens. The obstacles: money, and getting around neighborhood objections.</p>

<p>One way to avoid fights with residents would be to keep the projects small enough so they don't overwhelm a neighborhood, Kennedy and city advisers said. And with the proper amount of on-site counseling, the neighborhood doesn't have to suffer. The Health Department's Direct Access to Housing has shown that repeatedly, such as with its model Mission Creek Housing project near AT&T Park.</p>

<div class="inline-img">
    <div class='embed-container'><iframe src='https://player.vimeo.com/video/171803428' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
    <p class="caption"><span class="byline">Video: Erin Brethauer and Tim Hussin, The Chronicle<br>Edited by Erin Brethauer</span></p>
</div>

<p>There, 51 chronically homeless people live in showpiece apartments alongside million-dollar condos. There is at least one social worker or counselor on hand for every 15 residents. One of the residents is Kenney Williams, a one-armed former heroin addict who has spent many of his 62 years in prison for drug-related crimes.</p>

<p>Today, he's not shooting up or passing out in the street. He looks like any other resident as he strolls past his neighbors' expensive homes. It's impossible to tell the difference between his complex and theirs — a technique used to great effect in the past few years at supportive housing complexes in Glendale, Salt Lake City and Long Beach.</p>

<p>"If not for this, I'd be going downhill fast," Williams said.</p>

<div class="float-img-container">
  <div class="float-img right">
      <img src="../static/images/supportive/homeless_supportive_PH3.jpg">
      <p class="caption"><span class="year">May 10, 2016</span>  Kenney Williams (right) talks with Mission Creek Senior Community tenant Sinnamond on a garden terrace at Mission Creek Senior Community in San Francisco.<span class="byline"> Photo: Lea Suzuki, The Chronicle</span></p>
  </div>
</div>

<p>"You want to fit into the community, not disrupt it," said Margot Antonetty, head of Direct Access to Housing. "I think we've done that pretty well."</p>

<p>Private lots are also available all over the city. "There are a number of sites that have just one-story (buildings) on them, or are vacant, but they're so expensive it makes it very difficult," said Don Falk, head of the Tenderloin Neighborhood Development Corp., one of the leading supportive housing developers in the city. "We've been out looking, and we find places. But we don't have the money."</p>

<div class="text-hed">Paying for it</div>

<p>Funding, however, doesn't have to be a high hurdle.</p>

<p>Culhane, the University of Pennsylvania professor, points out that much of the annual $20,000 per-person cost for supportive services is paid for by the state and federal governments through housing subsidies, disability and other payments — and that assistance is about to grow.</p>

<p>"Medicaid just put out new guidelines for New York and California that say you can now use Medicaid to underwrite almost all of the supportive-service costs, such as housing deposits and counseling that wasn't picked up before," Culhane said. "This is very big."</p>

<p>State and city officials are still calculating the new savings, but program leaders say they will be significant. The Corporation for Supportive Housing, a national nonprofit active in San Francisco, says they could save the city millions of dollars a year.</p>

<p>As for the $200 million cost for new construction: Last year, San Francisco voters approved a $310 million affordable-housing bond. A supportive housing bond measure that promised to end chronic homelessness could hold the same allure for voters. That's certainly what the Santa Clara County Board of Supervisors is hoping for: It just put a bond issue on the November ballot that would raise $700 million for homeless supportive housing, the most ever in the Bay Area.</p>

<p>But in San Francisco, public bond money might not even be necessary.</p>

<p>Philip Mangano, national homeless czar under former President George W. Bush and President Obama, has advised policy leaders from Boston to Santa Clara County on a financing plan he calls "pay for performance." Investors put up millions of dollars to fund government housing or services. Then, if the projects save money, the government pays investors back, with interest, in large part with the savings.</p>

<p>What are the savings in this case? Remember, each chronically homeless person who isn't in supportive housing costs San Francisco taxpayers an average of $80,000 a year in jail expenses, ambulance rides and emergency care. Add it up, that's $120 million total. But if the city can get all those people in supportive housing, the cost is $20,000 per person annually, or $30 million.</p>

<p>In theory, at least, that leaves as much as $90 million in "savings" that could go to homeless-housing investors. Yes, that's money that the city is already spending — but this way it could be spent on clearing the streets and improving lives.</p>

<p>In the past year, hundreds of supportive housing units have been built with this financing near Boston, and hundreds are being planned in Los Angeles. Housing and services for about 200 hard-core street people are in the works in Santa Clara County under the same model.</p>

<p>"Give the investors a 5 to 7 percent return on the investment," said Mangano, who heads the American Round Table to Abolish Homelessness nonprofit. "They would have incentive to work as fast as possible. You'll need wealthy investors — but don't you have a lot of very wealthy people now in the Bay Area?"</p>

<div class="text-hed">Handling the influx</div>

<p>Finally, how can the city handle the influx of 450 new chronically homeless people who begin living on its streets every year?</p>

<p>One way, which would not require building hundreds of additional supportive housing units, is surprisingly simple: Make space available in the supportive housing the city already has.</p>

<p>Not everyone now in supportive housing requires all it offers. Some people simply need affordable housing — apartments or rooms priced low enough that they can pay the rent, probably with the help of government subsidies.</p>

<div class="inline-img">
    <img src="../static/images/supportive/homeless_supportive_web5.jpg">
    <p class="caption"><span class="year">Dec. 9, 2014</span>  Joe Jackson looks over his economics homework in the room he now calls home. Jackson is a formerly homeless military veteran who has moved into the new supportive housing complex for veterans on Kearny Street in San Francisco.<span class="byline"> Photo: Brant Ward, The Chronicle</span></p>
</div>

<p>The city's welfare chief, Trent Rhorer, estimates that nearly one-third of the people now living in supportive housing could be transitioned into simple affordable housing. Considering there are about 6,000 people living in supportive housing, that means about 2,000 spots could be freed up to handle annual influxes for at least four years.</p>

<p>"We can get to an effective zero number of chronically homeless people on the streets, but we have to understand that there are folks who need the wraparound services, and there are many who don't," said Rhorer, who as Human Services Agency executive director oversees the majority of supportive housing in San Francisco.</p>

<p>The 10-year plan for dealing with homelessness that San Francisco produced in 2004 "came up short not in the number of housing units we created, but in that we didn't pick carefully enough," Rhorer said. "There are people who got housed who were just poor — not chronic, not really needing all the support services. So we need to better develop the alternatives. About 30 percent of those in our supportive housing now could actually move into step-up housing — on their own, with family, or in other subsidized affordable housing without the services."</p>

<p>That step-up is tough to pull off, not just because of the tight housing market, but because it can be terrifying to think of leaving a sure thing for less-certain independence. Anakh Sul Rama, 38, has been struggling with that.</p>

<p>He spent years suffering from HIV-related illnesses and warding off homophobic attacks in shelters and on the streets. In 2012, Rama scored a spot in one of Community Housing Partnership's supportive housing complexes. The partnership's case managers helped him get his sickness under control and overcome the trauma of having lived outside, and he's felt ready to shift into a fully independent phase for more than a year now. But he can't.</p>

<p>Rama did move to a subsidized living complex with fewer supportive services two years ago, but he hasn't been able to find an apartment he can afford on his community-organizer salary.</p>

<p>"It's been a crazy, long life dealing with homelessness and doing all the healing I've had to do," Rama said. "But I need to make sure that wherever I go, I won't wind up right back where I was before. We have to create better pathways for people like me to move on."</p>

<div class="text-hed">Success elsewhere</div>

<p>That pathway exists elsewhere. "Moving On," a program being used in New York, Los Angeles, Atlanta and other cities, has been able to shift as many as 25 percent of supportive housing residents annually into less-intensive, more independent housing. Program managers there have found that it generally takes three to five years for people to be stabilized enough to make that move.</p>

<div class="inline-img">
    <img src="../static/images/supportive/homeless_supportive_PH4.jpg">
    <p class="caption"><span class="year">2014 / Los Angeles</span>  Kevin Lewandowski kisses his service dog, Bella, in his new supportive housing in Skid Row. Lewandowski lived on the streets for 25 years before finally ending up in prison, where he found God and also got off drugs and alcohol.<span class="byline"> Photo: Michael Owen Baker, Special to The Chronicle</span></p>
</div>

<p>In San Francisco, Mayor Lee says he wants to create 30,000 units of affordable housing over the next four years, or 7,500 a year. City rules require that 20 percent of affordable-housing units be set aside for homeless people. So if Lee can make good on his promise, that makes 1,500 units a year for the next four years that could be made available to people coming out of supportive housing.</p>

<p>It could be, however, that some people coming out of supportive housing will have to leave the city. The city's biennial counts have shown that about one-third of San Francisco's homeless population were transients before they arrived here.</p>

<p>"People don't go to Beverly Hills and say, ‘Give me a free place to live,' so why do we create the fiction that you can just come here and get housing?" said Shaw, head of the Tenderloin Housing Clinic. "Perhaps it makes sense to compassionately, intelligently help them — but not for staying here. At least for some. The rest of the region should step up its efforts, too, and help in this."</p>

<p>The way to best determine who might be ready for a change, said Jeff Kositsky, head of Lee's newly created Department of Homelessness and Supportive Housing, is to create a system that tracks homeless people to assess their specific troubles and needs. Service-program managers have called for such a system for years. Other cities, such as Houston and Salt Lake City, use them to determine where time is being wasted or opportunities lost.</p>

<p>The Department of Public Health's street counseling team has already identified 1,000 of the neediest chronically homeless people through its in-house tracking system — "and those are the ones we will seek out first and foremost," Kositsky said. Giving those people healthy, life-changing stability, he said, will also help transform the landscape of the city.</p>

<p>"Look, this isn't rocket science," Kositsky said. "We know what to do. We're not going to get it all done at once. But we need to be creative."</p>
