<header>

  <div class="header-bar">
      <div class="logo link"><a href="http://www.sfchronicle.com" target="_blank">
        <img src="http://projects.sfchronicle.com/shared/logos/sfc_logo_white.png"></a>
      </div>
      <a class="mobile-logo link" href="http://www.sfchronicle.com" target="_blank">
        <img src="http://projects.sfchronicle.com/shared/logos/sfletter_c_white.png">
      </a>
      <div class="link"><a class="special-head" href="http://www.sfchronicle.com/homeless/" target="_blank">Beyond Homelessness</a></div>
      <div class="link social"><a id="twitter-icon" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2Fhomeless%2F{{slug}}%2F&text={{twitter_text|urlencode}}&hashtags=SFHomelessProject"><i class="fa fa-twitter"></i></a></div>
      <div class="link social"><a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2F{{slug}}%2F', 'facebook-share-dialog', 'width=626,height=436'); return false;"><i class="fa fa-facebook"></i></a></div>
      <div class="link social"><a id="mail-icon" title="Share via email" href="mailto:?subject={{title|urlencode}}&body={{description|urlencode}}%0A%0Ahttp%3A%2F%2Fprojects.sfchronicle.com%2F2016%2Fhomeless%2F{{slug}}%2F">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a></div>
  </div>

</header>

<div class="navigation">
  <div class="jump-navigation" id="sticky-element">
    <div class="jump-links">
      <div class="logo-link link"><a href="http://www.sfchronicle.com" target="_blank">
        <img src="http://projects.sfchronicle.com/shared/logos/sfletter_c_white.png"></a>
      </div>
      <div class="link special"><a class="special-head" href="http://www.sfchronicle.com/homeless/" target="_blank">Beyond Homelessness</a></div>
      <div class="link social"><a id="twitter-icon" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2Fhomeless%2F{{slug}}%2F&text={{twitter_text|urlencode}}&hashtags=SFHomelessProject"><i class="fa fa-twitter"></i></a></div>
      <div class="link social"><a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2F{{slug}}%2F', 'facebook-share-dialog', 'width=626,height=436'); return false;"><i class="fa fa-facebook"></i></a></div>
      <div class="link social"><a id="mail-icon" title="Share via email" href="mailto:?subject={{title|urlencode}}&body={{description|urlencode}}%0A%0Ahttp%3A%2F%2Fprojects.sfchronicle.com%2F2016%2Fhomeless%2F{{slug}}%2F">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a></div>
    </div>
  </div>
</div>

<div id="sticky-anchor"></div>