<header>
  <a class="logo" href="http://www.sfchronicle.com" target="_blank">
    <img src="http://projects.sfchronicle.com/shared/logos/sfc_logo_black.png">
  </a>
  <a class="mobile-logo" href="http://www.sfchronicle.com" target="_blank">
    <img src="http://projects.sfchronicle.com/shared/logos/sfletter_c_black.png">
  </a>
  <a class="special-head" href="http://www.sfchronicle.com/homeless/" target="_blank">The SF Homeless Project</a>

</header>

<!-- <div class="homeless-title">The SF Homeless Project</div> -->
