<div id="infobox">
	<p>About this project:</p>
	<div class="project-logo small">
		<a  href="https://www.sfchronicle.com/homeless/" target="_blank"><img src="../static/logos/SFHomelessProject_square_02.png"></img></a>
	</div>
	<p>The San Francisco Chronicle has joined with more than 80 other news organizations to focus attention on the seemingly intractable problem of homelessness in our region.</p>
	<p><a href="{{ url_for('letter_of_intent') }}">Read the letter to the city</a>.</p>
	<p>Other stories and multimedia elements of this project can be found at <a href="https://sfchronicle.com/homeless"> sfchronicle.com/homeless</a>.</p>
</div>
