{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

	<div class="title-container">
		<div>
			<h1 class="title">Homeless Camping</h1>
			{% include '_components/_social_links.html' %}

			<div class="whatif-box">
				Would stronger enforcement of laws against street camping and petty crime reduce homelessness?
			</div>

			<p class="author">By Kurtis Alexander</p>
			<p class="date">July 1, 2016</p>
			<div class="full-width-img">
					<img src="/static/images/camping/06.jpg">
					<p class="caption">A San Francisco homeless man drags his tent down the sidewalk on 13th Street between Bryant and Harrison as the San Francisco Public Works Department's "alley crew" begins cleaning an encampment Wednesday, July 1, 2015. The alley crew visits homeless encampments on a daily basis to disinfect the ground and haul away refuse.<span class="byline"> Photo: Unknown??, The Chronicle</span></p>
			</div>

		</div>
	</div>

	{% include '_text/camping.html' %}

	<div class="row">
		<hr>
		<div class="credits">
			{% import '_components/_credits.html' as credit %}
			<!-- Variables are name, email slug and twitter handle -->
			{{ credit.info('Reporter: Kurtis Alexander', 'kalexander', 'kurtisalexander' ) }}
			{{ credit.info("Interactive producers: Emma O'Neill", "eoneill", "emmaruthoneill" ) }}
			{{ credit.info('Lucio Villa', 'lvilla', 'luciovilla' ) }}
			{{ credit.info('Benjamin Din', 'bdin', 'benjamindin' ) }}
		</div>
	</div>

	{% import '_components/_related_stories.html' as related %}
	<div class="max">
		<hr>
		<div  class="divider-text">Read related stories</div>
		<div class="dont-miss">
		<!-- Variables are title, url and image url -->
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
		</div>
	</div>


	{% include '_components/_footer.html' %}
</main>
{% endblock %}

{% block javascript %}

<script src="http://projects.sfchronicle.com/shared/js/pym.min.js"></script>

<script>
	$(document).ready(function() {
		App.init();
	});
	function sticky_relocate() {
		var window_top = $(window).scrollTop();
		var div_top = $('#sticky-anchor').offset().top - 40;
		if (window_top > div_top) {
				$('#sticky-element').addClass('sticky');
				$('.menu-navigation').addClass('sticky');
		} else {
				$('#sticky-element').removeClass('sticky');
				$('.menu-navigation').removeClass('sticky');
		}
	}
	$(function() {
			$(window).scroll(sticky_relocate);
			sticky_relocate();
	});

	var pymParentMapCamping = new pym.Parent('map_camping', 'http://projects.sfchronicle.com/2016/homelessness/map/index.html', {});
	var pymParentBarChartCamping = new pym.Parent('barchart_camping', 'http://projects.sfchronicle.com/2016/homelessness/violations/index.html', {});

</script>
{% endblock %}
