{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block hearst_title %}Camping{% endblock %}
{% block hearst_class %}article{% endblock %}
{% block hearst_date %}2016-06-29 00:00:00{% endblock %}
{% block author %}Kurtis Alexander, Tim Hussin, Lea Suzuki, Lucio Villa, Emma O'Neill, Benjamin Din{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

	<div class="title-container">
		<div>
			<h1 class="title long">Enforcing laws, changing attitudes</h1>
			<div class="whatif-box">
				Would stronger enforcement of laws against street camping and petty crime reduce homelessness?
			</div>

			<p class="author">By Kurtis Alexander</p>
			<p class="date">July 1, 2016</p>
			<div class="full-width-img">
					<img src="{{ url_for('static', filename='images/camping/06.jpg') }}">
					<p class="caption"><span class="year">July 1, 2015 </span> A homeless man drags his tent down the sidewalk on 13th Street between Bryant and Harrison as a Public Works Department crew begins cleaning an encampment. Crews regularly visit encampments to disinfect the ground and remove trash.<span class="byline"> Photo: Loren Elliott, The Chronicle</span></p>
			</div>

		</div>
	</div>

	{% include '_text/camping.html' %}

	<div class="max">
		<hr>
		<div class="credits">
			{% import '_components/_credits.html' as credit %}
			<!-- Variables are name, email slug and twitter handle -->
			<div class="group">
				<p>Reporter</p>
				{{ credit.info('Kurtis Alexander', 'kalexander', 'kurtisalexander' ) }}
			</div>
			<div class="group">
				<p>Interactive producers</p>
				{{ credit.info('Lucio Villa', 'lvilla', 'luciovilla' ) }}
				{{ credit.info('Benjamin Din', 'bdin', 'benjamindin' ) }}
				{{ credit.info("Emma O'Neill", "eoneill", "emmaruthoneill" ) }}
			</div>
		</div>
	</div>

	{% import '_components/_related_stories.html' as related %}
	<div class="max">
		<hr>
		<div class="dont-miss">
		<!-- Variables are title, url and image url -->
			<!-- {{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }} -->
		</div>
	</div>


	{% include '_components/_footer.html' %}
</main>
{% endblock %}

{% block javascript %}

<script src="http://projects.sfchronicle.com/shared/js/pym.min.js"></script>

<script>
	$(document).ready(function() {
		App.init();
	});
	function sticky_relocate() {
		var window_top = $(window).scrollTop();
		var div_top = $('#sticky-anchor').offset().top - 40;
		if (window_top > div_top) {
				$('#sticky-element').addClass('sticky');
				$('.menu-navigation').addClass('sticky');
		} else {
				$('#sticky-element').removeClass('sticky');
				$('.menu-navigation').removeClass('sticky');
		}
	}
	$(function() {
			$(window).scroll(sticky_relocate);
			sticky_relocate();
	});

	var pymParentMapCamping = new pym.Parent('map_camping', 'http://projects.sfchronicle.com/2016/homelessness/map/index.html', {});
	var pymParentBarChartCamping = new pym.Parent('barchart_camping', 'http://projects.sfchronicle.com/2016/homelessness/violations/index.html', {});

</script>
{% endblock %}
