{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

	<div class="title-container">
		<div>
			<h1 class="title long">How many people live on our streets?</h1>
			<!-- {% include '_components/_social_links.html' %} -->
			<p class="author">By Joaquin Palomino</p>
			<p class="date">June 28, 2016</p>
			<div class="full-width-img">
					<img src="/static/images/setup/02.jpg">
					<p class="caption">Grimes is a former famous Fisherman's Wharf act. He used to be known as the Human Jukebox. But times got tough and he lived for a time in a homeless encampment off Evans Street in San Francisco. He was surrounded by discarded clothes. The encampment has since been cleaned up and Grimes now spends his time as a recycler near the Mission district.<span class="byline"> Photo: Brant Ward, The Chronicle</span></p>
			</div>

		</div>
	</div>

	{% include '_text/data.html' %}

	<div class="row">
		<hr>
		<div class="credits">
			{% import '_components/_credits.html' as credit %}
			<!-- Variables are name, email slug and twitter handle -->
			{{ credit.info('Reporter: Joaquin Palomino', 'jpalomino', 'JoaquinPalomino' ) }}
			{{ credit.info("Interactive producer: Emma O'Neill", "eoneill", "emmaruthoneill" ) }}
			{{ credit.info('Interactive producer: Lucio Villa', 'lvilla', 'luciovilla' ) }}
		</div>
	</div>

	{% import '_components/_related_stories.html' as related %}
	<div class="max">
		<hr>
		<div  class="divider-text">Read related stories</div>
		<div class="dont-miss">
		<!-- Variables are title, url and image url -->
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
		</div>
	</div>

	{% include '_components/_footer.html' %}
</main>
{% endblock %}

{% block javascript %}

<script src="http://projects.sfchronicle.com/shared/js/pym.min.js"></script>

<script>
	$(document).ready(function() {
		App.init();
	});
	function sticky_relocate() {
		var window_top = $(window).scrollTop();
		var div_top = $('#sticky-anchor').offset().top - 40;
		if (window_top > div_top) {
				$('#sticky-element').addClass('sticky');
				$('.menu-navigation').addClass('sticky');
		} else {
				$('#sticky-element').removeClass('sticky');
				$('.menu-navigation').removeClass('sticky');
		}
	}
	$(function() {
			$(window).scroll(sticky_relocate);
			sticky_relocate();
	});

	var pymParent311 = new pym.Parent('map311', 'http://projects.sfchronicle.com/2016/homelessness/map/index.html', {});
	var pymParentBycity = new pym.Parent('bycity', 'http://projects.sfchronicle.com/2016/homelessness/bycity/index.html', {});
	var pymParentIllness = new pym.Parent('illness', 'http://projects.sfchronicle.com/2016/homelessness/illness/index.html', {});
	var pymParentCostsData = new pym.Parent('costs_data', 'http://projects.sfchronicle.com/2016/homelessness/costs/index.html', {});

</script>
{% endblock %}
