{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block hearst_title %}Data{% endblock %}
{% block hearst_class %}article{% endblock %}
{% block hearst_date %}2016-06-26 00:00:00{% endblock %}
{% block author %}Joaquin Palomino, Lea Suzuki, Lucio Villa, Emma O'Neill, Rahul Mukherjee, Benjamin Din{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

	<div class="title-container">
		<div>
			<h1 class="title long">How many people live on our streets?</h1>
			<!-- {% include '_components/_social_links.html' %} -->
			<p class="author">By Joaquin Palomino</p>
			<p class="date">June 28, 2016</p>
			<div class="full-width-img">
					<img src="{{ url_for('static', filename='images/data/10-1.jpg') }}">
				    <p class="caption"><span class="year">May 27, 2016 </span> A man pushes a cart of belongings past Christine Boyer (right) as she panhandles at Mission and Second streets.<span class="byline"> Photo: Lea Suzuki, The Chronicle</span></p>
			</div>

		</div>
	</div>

	{% include '_text/data.html' %}

	<div class="max">
		<hr>
		<div class="credits">
			{% import '_components/_credits.html' as credit %}
			<!-- Variables are name, email slug and twitter handle -->
			<div class="group">
				<p>Reporter</p>
				{{ credit.info('Joaquin Palomino', 'jpalomino', 'JoaquinPalomino' ) }}
			</div>
			<div class="group">
				<p>Interactive producers</p>
				{{ credit.info('Lucio Villa', 'lvilla', 'luciovilla' ) }}
				{{ credit.info('Benjamin Din', 'bdin', 'benjamindin' ) }}
				{{ credit.info("Emma O'Neill", "eoneill", "emmaruthoneill" ) }}
			</div>
		</div>
	</div>

	{% import '_components/_related_stories.html' as related %}
	<div class="max">
		<hr>
		<div class="dont-miss">
			{{ related.story("Editorial: SF homeless problem a civic disgrace", '/sf-homeless/civic-disgrace', '../static/images/editorial/thumb.png' ) }}

			{{ related.story("Solution starts with supportive housing", '/sf-homeless/supportive-housing', '../static/images/supportive/thumb.jpg') }}

			{{ related.story("The mentally ill: Streets' costliest residents", '/sf-homeless/mental-health', '../static/images/mental/thumb.jpg') }}

			{{ related.story("Can the shelter system be successful?", '/sf-homeless/shelters', '../static/images/shelters/thumb.jpg') }}

			{{ related.story("Can law enforcement curb the crisis?", '/sf-homeless/encampments', '../static/images/camping/thumb.jpg') }}

			{{ related.story("A problem that looks the same as it did 20 years ago", '/sf-homeless/overview', '../static/images/setup/01_thumb.jpg') }}

			{{ related.story("Faces of homelessness: Portraits of life on SF's streets", '/sf-homeless/faces-of-the-streets', '../static/images/portraits/07_thumb.jpg') }}

			{{ related.story("In their words: How SF's last 5 mayors tackled homelessness", '/sf-homeless/letters-from-the-mayors', '../static/images/insight/mayors.jpg') }}

		</div>
	</div>

	{% include '_components/_footer.html' %}
</main>
{% endblock %}

{% block javascript %}

<script src="http://projects.sfchronicle.com/shared/js/pym.min.js"></script>

<script>
	$(document).ready(function() {
		App.init();
	});
	function sticky_relocate() {
		var window_top = $(window).scrollTop();
		var div_top = $('#sticky-anchor').offset().top - 40;
		if (window_top > div_top) {
				$('#sticky-element').addClass('sticky');
				$('.menu-navigation').addClass('sticky');
		} else {
				$('#sticky-element').removeClass('sticky');
				$('.menu-navigation').removeClass('sticky');
		}
	}
	$(function() {
			$(window).scroll(sticky_relocate);
			sticky_relocate();
	});

	var pymParent311 = new pym.Parent('map311', 'http://projects.sfchronicle.com/2016/homelessness/map/index.html', {});
	var pymParentBycity = new pym.Parent('bycity', 'http://projects.sfchronicle.com/2016/homelessness/bycity/index.html', {});
	var pymParentHistorical = new pym.Parent('historical', 'http://projects.sfchronicle.com/2016/homelessness/historical/index.html', {});

</script>
{% endblock %}
