{% extends 'base.html' %}

{% block title %}For San Francisco's disabled homeless, federal benefits remain elusive{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block hearst_title %}SSI{% endblock %}
{% block hearst_class %}article{% endblock %}
{% block hearst_date %}2016-12-06 00:00:00{% endblock %}
{% block author %}Kurtis Alexander, Lucio Villa{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

	<div class="title-container">
		<div id="ssi" class="background-img">
		    <div class="dim ssi"></div>
			<div class="over-img ssi">
				<h1 class="title long">Federal disability aid an elusive solution</h1>
				<p class="author">Dec. 6, 2016 | By Kurtis Alexander</p>
				<p class="deck ssi">S.F. is boosting efforts to help thousands eligible for SSI payments qualify and get off the streets</p>
			</div>
		</div>
		<p class="caption">Brian Devlin and his girlfriend, Ashley Borst, are trying to get federal disability assistance to continue their rebound from homelessness. <span class="byline">Liz Hafalia, The Chronicle</span></p>
	</div>


	{% include '_text/federal.html' %}

	<div class="max">
		<hr>
		<div class="credits">
			{% import '_components/_credits.html' as credit %}
			<div class="group">
				<p>Reporter</p>
				{{ credit.info('Kurtis Alexander', 'kalexander', 'kurtisalexander' ) }}
			</div>
			<div class="group">
				<p>Photographers</p>
				{{ credit.info('Liz Hafalia', 'lhafalia' ) }}
				{{ credit.info('Paul Chinn', 'pchinn', 'chinnski' ) }}
			</div>
			<div class="group">
				<p>Interactive producer</p>
				{{ credit.info('Lucio Villa', 'lvilla', 'luciovilla' ) }}
			</div>
		</div>
	</div>

	{% import '_components/_related_stories.html' as related %}
	<div class="max">
		<hr>
		<div  class="divider-text"></div>
		<div class="dont-miss">

			{{ related.story("Aging hotels, chronic problems", 'http://projects.sfchronicle.com/sf-homeless/hotels', 'http://projects.sfchronicle.com/sf-homeless/static/images/hotels/thumb.jpg' ) }}

			{{ related.story("Editorial: SF's homeless problem a civic disgrace", 'http://projects.sfchronicle.com/sf-homeless/civic-disgrace', 'http://projects.sfchronicle.com/sf-homeless/static/images/editorial/thumb.png' ) }}
			
			{{ related.story("The mentally ill: Streets' costliest residents", 'http://projects.sfchronicle.com/sf-homeless/mental-health', 'http://projects.sfchronicle.com/sf-homeless/static/images/mental/thumb.jpg') }}

			{{ related.story("Can the shelter system be successful?", 'http://projects.sfchronicle.com/sf-homeless/shelters', 'http://projects.sfchronicle.com/sf-homeless/static/images/shelters/thumb.jpg') }}

			{{ related.story("Can law enforcement curb the crisis?", 'http://projects.sfchronicle.com/sf-homeless/encampments', 'http://projects.sfchronicle.com/sf-homeless/static/images/camping/thumb.jpg') }}

			{{ related.story("A problem that looked the same 20 years ago", 'http://projects.sfchronicle.com/sf-homeless/overview', 'http://projects.sfchronicle.com/sf-homeless/static/images/setup/01_thumb.jpg' ) }}

			{{ related.story("How many people live on our streets?", 'http://projects.sfchronicle.com/sf-homeless/numbers', 'http://projects.sfchronicle.com/sf-homeless/static/images/data/10_thumb.jpg' ) }}

			{{ related.story("Portraits of life on SF's streets", 'http://projects.sfchronicle.com/sf-homeless/faces-of-the-streets', 'http://projects.sfchronicle.com/sf-homeless/static/images/portraits/07_thumb.jpg' ) }}
		</div>
	</div>

	{% include '_components/_footer.html' %}

</main>
{% endblock %}

{% block javascript %}
<script>
	$(document).ready(function() {
		App.init();
	});
</script>
{% endblock %}
