{% extends 'base.html' %}

{% block title %}For San Francisco's disabled homeless, federal benefits remain elusive{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block hearst_title %}SSI{% endblock %}
{% block hearst_class %}article{% endblock %}
{% block hearst_date %}2016-12-06 00:00:00{% endblock %}
{% block author %}Kurtis Alexander, Lucio Villa{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

	<div class="title-container">
		<div id="ssi" class="background-img">
		    <div class="dim ssi"></div>
			<div class="over-img ssi">
				<h1 class="title long">Federal disability aid an elusive solution</h1>
				<p class="author">Dec. 6, 2016 | By Kurtis Alexander</p>
				<p class="deck ssi">S.F. is boosting efforts to help thousands eligible for SSI payments qualify and get off the streets</p>
			</div>
		</div>
		<p class="caption">Brian Devlin and his girlfriend, Ashley Borst, are trying to get federal disability assistance to continue their rebound from homelessness. <span class="byline">Liz Hafalia, The Chronicle</span></p>
	</div>


	{% include '_text/federal.html' %}

	<div class="max">
		<hr>
		<div class="credits">
			{% import '_components/_credits.html' as credit %}
			<div class="group">
				<p>Reporter</p>
				{{ credit.info('Kurtis Alexander', 'kalexander', 'kurtisalexander' ) }}
			</div>
			<div class="group">
				<p>Photographers</p>
				{{ credit.info('Liz Hafalia', 'lhafalia' ) }}
				{{ credit.info('Paul Chinn', 'pchinn', 'chinnski' ) }}
			</div>
			<div class="group">
				<p>Interactive producer</p>
				{{ credit.info('Lucio Villa', 'lvilla', 'luciovilla' ) }}
			</div>
		</div>
		<hr>
	</div>

	{% import '_components/_related_stories.html' as related %}
	<div>
		
		<div class="related-links-title"><a href="http://projects.sfchronicle.com/sf-homeless/"><h3>Beyond Homelessness Coverage</h3></a></div>
		<div class="dont-miss two">

			{{ related.story("After Division Street: No simple path to ending tent cities", 'http://projects.sfchronicle.com/sf-homeless/division-street/', 'http://projects.sfchronicle.com/sf-homeless/static/images/division-street/thumb.jpg') }}

{{ related.story("Interactive map: 7 lives, 7 paths, little change", 'http://projects.sfchronicle.com/sf-homeless/division-street-map/', 'http://projects.sfchronicle.com/sf-homeless/static/images/division-street-map/thumb.gif') }}

{{ related.story("Chronicle investigation: Aging hotels, chronic problems", 'http://projects.sfchronicle.com/sf-homeless/hotels', 'http://projects.sfchronicle.com/sf-homeless/static/images/hotels/thumb.jpg') }}

{{ related.story("Long-term view: A problem that looked the same 20 years ago", 'http://projects.sfchronicle.com/sf-homeless/overview', 'http://projects.sfchronicle.com/sf-homeless/static/images/setup/01_thumb.jpg' ) }}

{{ related.story("Solution possible: Answer starts with supportive housing", 'http://projects.sfchronicle.com/sf-homeless/supportive-housing', 'http://projects.sfchronicle.com/sf-homeless/static/images/supportive/thumb.jpg') }}

{{ related.story("The mentally ill: Streets' costliest residents", 'http://projects.sfchronicle.com/sf-homeless/mental-health', 'http://projects.sfchronicle.com/sf-homeless/static/images/mental/thumb.jpg') }}

{{ related.story("Shelter system: Can a smarter model find success?", 'http://projects.sfchronicle.com/sf-homeless/shelters', 'http://projects.sfchronicle.com/sf-homeless/static/images/shelters/thumb.jpg') }}

{{ related.story("Law enforcement: Can stricter rules curb the crisis?", 'http://projects.sfchronicle.com/sf-homeless/encampments', 'http://projects.sfchronicle.com/sf-homeless/static/images/camping/thumb.jpg') }}

{{ related.story("Data analysis: How many people live on our streets?", 'http://projects.sfchronicle.com/sf-homeless/numbers', 'http://projects.sfchronicle.com/sf-homeless/static/images/data/10_thumb.jpg' ) }}

{{ related.story("Photographer’s lens: Portraits of life on SF's streets", 'http://projects.sfchronicle.com/sf-homeless/faces-of-the-streets', 'http://projects.sfchronicle.com/sf-homeless/static/images/portraits/07_thumb.jpg' ) }}

{{ related.story("Interactive guide: How to help homeless in Bay Area", 'http://projects.sfchronicle.com/sf-homeless/how-to-help/', 'http://projects.sfchronicle.com/sf-homeless/static/images/how-to-help/thumb.jpg') }}

{{ related.story("Election 2016: How the candidates view homelessness", 'http://projects.sfchronicle.com/2016/candidates-homeless-survey/', 'http://projects.sfchronicle.com/2016/candidates-homeless-survey/assets/social.jpg') }}

{{ related.story("In their voices: How SF's last 5 mayors tackled homelessness", 'http://projects.sfchronicle.com/sf-homeless/letters-from-the-mayors', 'http://projects.sfchronicle.com/sf-homeless/static/images/insight/thumb.jpg' ) }}

{{ related.story("Editorial: Homelessness remains a civic disgrace", 'http://projects.sfchronicle.com/sf-homeless/civic-disgrace', 'http://projects.sfchronicle.com/sf-homeless/static/images/editorial/thumb.png' ) }}

{{ related.story("Letter to the City: The time to act is now", 'http://projects.sfchronicle.com/sf-homeless/letter-to-the-city/', 'http://projects.sfchronicle.com/sf-homeless/static/images/social/letter-to-the-city.jpg') }}

		</div>
	</div>

	{% include '_components/_footer.html' %}

</main>
{% endblock %}

{% block javascript %}
<script>
	$(document).ready(function() {
		App.init();
	});
</script>
{% endblock %}
