{% extends 'base.html' %}

{% block title %}Beyond Homelessness{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block hearst_title %}Landing Page{% endblock %}
{% block hearst_date %}2016-06-26 00:00:00{% endblock %}

{% block content %}

    <div class="intro">
        <div class="full-width-img">
            <img class="landing-img" src="{{ url_for('static', filename='images/frontpage/bg.jpg') }}">
            <img class="mobile-landing-img" src="{{ url_for('static', filename='images/frontpage/bg-mobile.jpg') }}">
        </div>

        <div class="navigation">
          <div class="jump-navigation" id="sticky-element">
            <div class="jump-links">
              <div class="logo-link link"><a href="http://www.sfchronicle.com" target="_blank">
                <img src="http://projects.sfchronicle.com/shared/logos/sfletter_c_white.png"></a>
              </div>
              <div class="link special"><a class="special-head" href="http://www.sfchronicle.com/homeless/">Beyond Homelessness</a></div>
              <div class="link social"><a id="twitter-icon" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fsfchronicle.com%2Fhomeless&text={{twitter_text|urlencode}}&hashtags=SFHomelessProject"><i class="fa fa-twitter"></i></a></div>
              <div class="link social"><a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojects.sfchronicle.com%2Fsf-homeless%2F', 'facebook-share-dialog', 'width=626,height=436'); return false;"><i class="fa fa-facebook"></i></a></div>
              <div class="link social"><a id="mail-icon" title="Share via email" href="mailto:?subject={{title|urlencode}}&body={{description|urlencode}}%0A%0Ahttp%3A%2F%2Fsfchronicle.com%2Fhomeless">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </a></div>
            </div>
          </div>
        </div>

        <div id="sticky-anchor"></div>

        <div class="header">
            <h1 class="headline">Beyond Homelessness</h1>
            {% include '_components/_social_links.html' %}
            <p class="subhead">
            The Chronicle has joined with more than 70 other news organizations to focus attention on the seemingly intractable problem of homelessness in the Bay Area. As part of the SF Homeless Project, The Chronicle's Beyond Homelessness series explores possible solutions that might ease, if not end, the suffering of thousands of people living on our streets, and improve the quality of life for all residents. To date, the SF Homeless Project has been emulated in more than a dozen U.S. cities where homelessness remains a humanitarian crisis.</p>

            <div class="button radius" id="btn-stories">Read the stories</div>
            <div class="button radius btn-videos">View the Videos</div>
        </div>

    </div>

    <div id="stories">

        <div class="stories-container-2">
            <a href="{{ url_for('sro') }}">
                <div class="banner">
                    <p class="cat">CHRONICLE INVESTIGATION</p>
                     <h2>Aging hotels, chronic problems</h2>
                    <p class="deck">Most S.F. housing for the homeless is a century old; even refurbished, severe health and safety issues can abound</p>
                </div>
            </a>
        </div>

        <div class="stories-container small-up-1 medium-up-3 large-up-3" style="width: 100%; clear: both;">

            <div class="column">
                <a href="{{ url_for('supportive') }}"><img class="thumbnail" src="{{ url_for('static', filename='images/supportive/thumb.jpg') }}">
                    <h5>Solution starts with supportive housing</h5>
                </a>
            </div>
            <div class="column">
                <a href="{{ url_for('mental') }}">
                    <img class="thumbnail" src="{{ url_for('static', filename='images/mental/thumb.jpg') }}">
                    <h5>The mentally ill: Streets' costliest residents</h5>
                </a>
            </div>
            <div class="column">
                <a href="{{ url_for('shelters') }}"><img class="thumbnail" src="{{ url_for('static', filename='images/shelters/thumb.jpg') }}">
                    <h5>Can the shelter system be successful?</h5>
                </a>
            </div>
            <div class="column">
                <a href="{{ url_for('camping') }}"><img class="thumbnail" src="{{ url_for('static', filename='images/camping/thumb.jpg') }}">
                    <h5>Can law enforcement curb the crisis?</h5>
                </a>
            </div>

            <div class="column">
                <a href="{{ url_for('setup') }}"><img class="thumbnail" src="{{ url_for('static', filename='images/setup/01_thumb.jpg') }}">
                    <h5>A problem that looked the same 20 years ago</h5>
                </a>
            </div>
            <div class="column">
                <a href="{{ url_for('data') }}"><img class="thumbnail" src="{{ url_for('static', filename='images/data/10_thumb.jpg') }}">
                    <h5>How many people live on our streets?</h5>
                </a>
            </div>
            <div class="column">
                <a href="{{ url_for('photos') }}"><img class="thumbnail" src="{{ url_for('static', filename='images/portraits/07_thumb.jpg') }}">
                    <h5>Portraits of life on SF's streets</h5>
                </a>
            </div>
            <div class="column">
                <a href="{{ url_for('insight') }}">
                    <img class="thumbnail" src="{{ url_for('static', filename='images/insight/mayors.jpg') }}">
                    <h5>How SF's last 5 mayors tackled homelessness</h5>
                </a>
            </div>
             <div class="column">
                <a href="{{ url_for('opinion') }}">
                    <img src="http://projects.sfchronicle.com/sf-homeless/static/images/editorial/thumb.png">
                    <h5>Editorial: Homelessness a civic disgrace</h5>
                </a>
            </div>

        </div>        
        <div id="button-links">
            <div class="btn-stories">
                <a href="{{ url_for('letter_of_intent') }}"><div class="button radius">Read the letter to the city</div></a>
            </div>
        </div>
    </div>
    <hr class="video-hr">
    <!-- VIDEO PLAYER -->
    <div id="videos" class="video-embed">
        <h2>Videos</h2>
        <div class='embed-container'><iframe src='https://verse.com/story/private/640/' frameborder='0'     webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
    </div>

    

    <div class="max">
        <hr>
        <div class="partners">
            <h2>SF Homeless Project: Partners</h2>
            {% import '_components/_partners.html' as partner %}
            <!-- Variables are name, link -->
            {{ partner.info("San Francisco Chronicle", "http://www.sfchronicle.com" ) }}
            {{ partner.info("SFGATE", "http://www.sfgate.com" ) }}
            {{ partner.info("KQED", "http://www.kqed.org/" ) }}
            {{ partner.info("California Sunday Magazine", "http://www.californiasunday.com" ) }}
            {{ partner.info("Pop-Up Magazine", "http://www.popupmagazine.com" ) }}
            {{ partner.info("KRON", "http://www.kron4.com" ) }}
            {{ partner.info("Potrero View", "http://www.potreroview.net" ) }}
            {{ partner.info("San Francisco Examiner", "http://www.sfexaminer.com" ) }}
            {{ partner.info("San Francisco Public Press", "http://www.sfpublicpress.org" ) }}
            {{ partner.info("Renaissance Journalism", "http://www.renjournalism.org" ) }}
            {{ partner.info("Hoodline", "http://www.hoodline.com" ) }}
            {{ partner.info("San Francisco Business Times", "http://www.sanfranciscobusinesstimes.com" ) }}
            {{ partner.info("Sing Tao Daily", "http://std.stheadline.com" ) }}
            {{ partner.info("Medium", "http://www.medium.com" ) }}
            {{ partner.info("Marina Times", "http://www.marinatimes.com" ) }}
            {{ partner.info("Castro Courier", "http://www.castrocourier.com" ) }}
            {{ partner.info("Mid-Market News", "http://www.mid-marketnews.com" ) }}
            {{ partner.info("KALW", "http://www.kalw.org" ) }}
            {{ partner.info("Mission Local", "http://missionlocal.org" ) }}
            {{ partner.info("KGO-TV/ABC7", "http://www.abc7news.com" ) }}
            {{ partner.info("Bay Area Reporter", "http://www.ebar.com" ) }}
            {{ partner.info("KTVU", "http://www.ktvu.com" ) }}
            {{ partner.info("San Francisco magazine", "http://www.modernluxury.com/san-francisco/" ) }}
            {{ partner.info("BuzzFeed News", "http://www.buzzfeed.com/news" ) }}
            {{ partner.info("Mother Jones", "http://www.motherjones.com" ) }}
            {{ partner.info("Timeline", "http://www.timeline.com" ) }}
            {{ partner.info("CityLab", "http://www.citylab.com" ) }}
            {{ partner.info("KKSF Talk 910", "http://talk910.iheart.com" ) }}
            {{ partner.info("SFist", "http://www.sfist.com" ) }}
            {{ partner.info("Mashable", "http://www.mashable.com" ) }}
            {{ partner.info("World Journal", "http://www.worldjournal.com" ) }}
            {{ partner.info("Central City Extra", "http://studycenter.org/test/cce/" ) }}
            {{ partner.info("Golden Gate Xpress", "http://www.goldengatexpress.org" ) }}
            {{ partner.info("KPIX", "http://sanfrancisco.cbslocal.com" ) }}
            {{ partner.info("Mercury News", "http://www.mercurynews.com" ) }}
            {{ partner.info("East Bay Times", "http://www.eastbaytimes.com" ) }}
            {{ partner.info("48 Hills", "http://www.48hills.org" ) }}
            {{ partner.info("New America Media", "http://www.newamericamedia.org" ) }}
            {{ partner.info("El Tecolote", "http://www.eltecolote.org" ) }}
            {{ partner.info("Wear Your Voice", "http://www.wearyourvoicemag.com" ) }}
            {{ partner.info("Castro Valley Matters", "http://www.castrovalleymatters.org" ) }}
            {{ partner.info("Youth Radio", "http://www.youthradio.org" ) }}
            {{ partner.info("Fortune", "http://www.fortune.com" ) }}
            {{ partner.info("AJ+", "http://www.ajplus.net" ) }}
            {{ partner.info("Ingleside-Excelsior Light", "http://www.ielightsf.com" ) }}
            {{ partner.info("Commonwealth Club", "http://www.commonwealthclub.org" ) }}
            {{ partner.info("CALmatters", "http://www.calmatters.org" ) }}
            {{ partner.info("Laney Tower", "http://www.thelaneytower.com" ) }}
            {{ partner.info("Inc.", "http://www.inc.com" ) }}
            {{ partner.info("Richmond Review", "http://www.sfrichmondreview.com" ) }}
            {{ partner.info("Sunset Beacon", "http://www.sfrichmondreview.com" ) }}
            {{ partner.info("Univision 14 KDTV", "http://www.univision.com/san-francisco/kdtv" ) }}
            {{ partner.info("West Portal Monthly", "http://www.sfnna.com/newspapers/west-portal-monthly/" ) }}
            {{ partner.info("HATCH Beat", "http://www.hatchbeat.com" ) }}
            {{ partner.info("AlterNet.org", "http://www.alternet.org" ) }}
            {{ partner.info("OVEE/ITVS", "http://ovee.itvs.org" ) }}
            {{ partner.info("Ripple News", "http://www.ripple.co" ) }}
            {{ partner.info("KNTV", "http://www.nbcbayarea.com" ) }}
            {{ partner.info("Telemundo 48 KSTS", "http://www.telemundoareadelabahia.com" ) }}
            {{ partner.info("KGO 810", "http://www.kgoradio.com" ) }}
            {{ partner.info("Business Insider", "http://www.businessinsider.com" ) }}
            {{ partner.info("TechCrunch", "http://www.techcrunch.com" ) }}
            {{ partner.info("Fusion", "http://www.fusion.net" ) }}
            {{ partner.info("San Francisco Neighborhood Newspaper Association", "http://www.sfnna.com" ) }}
            {{ partner.info("Google News Lab", "http://newslab.withgoogle.com" ) }}
            {{ partner.info("Cor Media", "http://www.cor.media" ) }}
            {{ partner.info("Stories Behind the Fog", "http://www.storiesbehindthefog.com" ) }}
            {{ partner.info("Micro-documentaries", "http://www.micro-documentaries.com" ) }}
            {{ partner.info("SF Weekly", "http://www.sfweekly.com" ) }}
            {{ partner.info("Noe Valley Voice", "http://www.noevalleyvoice.com" ) }}
            {{ partner.info("Berkeleyside", "http://www.berkeleyside.com" ) }}
            {{ partner.info("SF Bay View", "https://www.facebook.com/San-Francisco-Bay-View-Newspaper-117617488280955" ) }}
            {{ partner.info("Bold Italic", "https://thebolditalic.com" ) }}
            {{ partner.info("In Menlo", "http://inmenlo.com" ) }}
            {{ partner.info("CNBC", "http://www.cnbc.com" ) }}
            {{ partner.info("New Fillmore", "http://newfillmore.com" ) }}
       </div>
    </div>

    <div class="max">
    <hr>
        <div class="archives">
            <h2>More Chronicle homeless coverage</h2>


                <div class="contrib-links">
                    {% import '_components/_archives.html' as archive %}

                    {{ archive.info("Audrey Cooper: Reflecting on the SF Homeless Project", "http://www.sfchronicle.com/bayarea/article/Reflecting-on-the-SF-Homeless-Project-8338589.php") }}

                    {{ archive.info("John Diaz: Why we put our homelessness editorial on the front page", "http://www.sfchronicle.com/opinion/diaz/article/Why-we-put-our-homelessness-editorial-on-the-8334843.php") }}

                    {{ archive.info("Homeless soccer players will shoot for their goal", "http://www.sfchronicle.com/bayarea/article/Homeless-soccer-players-will-shoot-for-their-goal-8339367.php") }}

                    {{ archive.info("Pinning big hopes on tiny houses for needy families", "http://www.sfchronicle.com/bayarea/article/Oakland-council-pins-big-hopes-on-tiny-houses-for-8339484.php") }}

                    {{ archive.info("C.W. Nevius: Trent Rhorer's efforts against homelessness can't be ignored", "http://www.sfchronicle.com/bayarea/nevius/article/Trent-Rhorer-s-efforts-against-homelessness-8337461.php") }}

                    {{ archive.info("C.W. Nevius: 'Housing Not Tents' measure likely to hit home", "http://www.sfchronicle.com/bayarea/nevius/article/Mark-Farrell-s-Housing-Not-Tents-measure-8328205.php") }}
                    
                    {{ archive.info("SF opens new full-service shelter", "http://www.sfchronicle.com/bayarea/article/SF-opens-new-full-service-shelter-to-get-homeless-8330473.php") }}

                    {{ archive.info("Leah Garchik: Doors locked against the homeless", "http://www.sfchronicle.com/entertainment/garchik/article/Windows-closed-doors-locked-against-the-homeless-8328237.php") }}

                    {{ archive.info("The Regulars: Turning sidewalks into salons", "http://www.sfchronicle.com/thetake/article/Homeless-hairdresser-helps-others-look-feel-8325415.php") }}

                    {{ archive.info("C.W. Nevius: The homeless camp just outside the door", "http://www.sfchronicle.com/bayarea/nevius/article/The-homeless-camp-just-outside-the-door-8109886.php") }}

                    {{ archive.info("SF health care costs spike, then fall, after housing homeless", "http://www.sfchronicle.com/bayarea/article/Housing-homeless-to-pay-off-in-long-run-budget-7953339.php") }}

                    {{ archive.info("C.W. Nevius: Sidewalk campsites frustrate neighbors, city leaders", "http://www.sfchronicle.com/bayarea/nevius/article/Sidewalk-campsites-frustrate-neighbors-city-7940982.php") }}

                    {{ archive.info("SF pilot program looks to help drug users, not arrest them", "http://www.sfchronicle.com/crime/article/SF-pilot-program-looks-to-help-drug-users-not-7421843.php") }}

                    {{ archive.info("C.W. Nevius: Plan for homeless camps a template for chaos", "http://www.sfchronicle.com/bayarea/nevius/article/SF-supe-s-plan-for-homeless-camps-a-template-7384553.php") }}

                    {{ archive.info("Myths, like homeless problem, not going away", "http://www.sfchronicle.com/bayarea/article/Myths-like-homeless-problem-not-going-away-7238304.php") }}

                    {{ archive.info("What San Franciscans know about homeless isn’t necessarily true", "http://www.sfchronicle.com/bayarea/article/What-San-Franciscans-know-about-homeless-isn-t-7224018.php") }}

                    {{ archive.info("Fast-aging homeless population may lead to public health crisis", "http://www.sfchronicle.com/bayarea/article/Fast-aging-homeless-population-may-lead-to-public-6871865.php") }}

                    {{ archive.info("With tent city cleared, no shortage of ideas – or homeless", "http://www.sfchronicle.com/bayarea/article/With-tent-city-cleared-no-shortage-of-ideas-6873873.php") }}

                    {{ archive.info("Homeless camp on SF’s Division Street cleared by city", "http://www.sfchronicle.com/bayarea/article/City-begins-sweeping-out-homeless-encampment-on-6862853.php") }}

                    {{ archive.info("Flood of homeless in tent camp just small part of the problem", "http://www.sfchronicle.com/bayarea/article/Flood-of-homeless-in-tent-camp-just-small-part-of-6858519.php") }}

                    {{ archive.info("C.W. Nevius: Lone voice of dissent on homeless piece", "http://www.sfchronicle.com/bayarea/nevius/article/An-open-letter-to-Coalition-on-Homelessness-leader-6843309.php") }}

                    {{ archive.info("C.W. Nevius: Homeless tent city on Division starting to intimidate neighbors", "http://www.sfchronicle.com/bayarea/nevius/article/Homeless-tent-city-on-Division-starting-to-6837820.php") }}

                    {{ archive.info("SF spends record $241 million on homeless, can’t track results", "http://www.sfchronicle.com/bayarea/article/S-F-spends-record-241-million-on-homeless-6808319.php") }}

                    {{ archive.info("C.W. Nevius: Buying tents isn't helping homeless", "http://www.sfchronicle.com/bayarea/nevius/article/Buying-tents-for-S-F-s-homeless-isn-t-6799235.php") }}

                    {{ archive.info("SF’s homeless crisis: Can Ed Lee clean up the streets? ", "http://www.sfchronicle.com/bayarea/article/S-F-s-homeless-crisis-Can-Mayor-Ed-Lee-clean-6585482.php") }}

                    {{ archive.info("Mission Creek: SF hot spot for homeless complaints", "http://www.sfchronicle.com/bayarea/article/Mission-Creek-S-F-s-hot-spot-for-homeless-6585492.php") }}

                    {{ archive.info("A ‘most beautiful spot’ turned into a toilet", "http://www.sfchronicle.com/bayarea/article/S-F-homeless-crisis-A-most-beautiful-spot-6585499.php") }}

                    {{ archive.info("Salt Lake City a model for SF on homeless solutions", "http://www.sfchronicle.com/nation/article/Salt-Lake-City-a-model-for-S-F-on-homeless-5587357.php") }}

                    {{ archive.info("A decade of homelessness: Thousands in SF remain in crisis ", "http://www.sfchronicle.com/archive/item/A-decade-of-homelessness-Thousands-in-S-F-30431.php") }}

                    {{ archive.info("A return to SF’s Homeless Island, 10 years later", "http://www.sfchronicle.com/archive/item/A-return-to-S-F-Homeless-Island-10-years-later-30343.php") }}

                </div>
        </div>
    </div>
        {% include '_components/_footer.html' %}


{% endblock %}

{% block javascript %}
<script>
	$(document).ready(function() {
		App.init();
	});
    
    $("#btn-stories").click(function() {
        $('html, body').animate({
            scrollTop: $("#stories").offset().top - 50
        }, 500);
    });

    $(".btn-videos").click(function() {
        $('html, body').animate({
            scrollTop: $("#videos").offset().top - 50
        }, 500);
    });

    $(document).foundation();

</script>
{% endblock %}
