<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>SFHP Infobox</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">    
		<script src="https://projects.sfchronicle.com/shared/js/responsive-child.js"></script>   
  </head>
  <body class="{% if config.DEBUG %}debug{% endif %}" is="responsive-body">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <main class="container">


				<div id="embed-infobox">
					<div class="project-logo small">
						<a  href="https://www.sfchronicle.com/homeless/" target="_parent"><img src="../static/logos/SFHomelessProject_square_02.png"></img></a>
					</div>
					<p>The San Francisco Chronicle has joined with other news organizations to focus on the seemingly intractable problem of homelessness. The Chronicle’s ongoing coverage, including new stories, videos and interactive graphics, can be found at <a  href="https://www.sfchronicle.com/homeless/" target="_parent">SFChronicle.com/homeless.</a> Links to all partner stories can be found at <a href="http://www.sfgate.com/homeless" target="_parent">SFGATE.com/homeless.</a></p>
				</div>


			


		</main>


    {% if config.DEBUG %}
    <script>document.write('<script src="http://'
        + location.host.split(':')[0]
        + ':35729/livereload.js"></'
        + 'script>')</script>
    {% endif %}
</body>
</html>
