{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block content %}
<main class="container">
	
	{% include '_components/_header.html' %}

	<div class="title-container">
		<div>
			<h1 class="title">Five Mayors</h1>
			{% include '_components/_social_links.html' %}
			<p class="author">By 5 Mayors</p>
			<p class="date">June 26, 2016</p>
			
		</div>
	</div>

	{% include '_text/insight.html' %}
		
	<div class="row">
		<hr> 
		<div class="credits">
			{% import '_components/_credits.html' as credit %}
			<!-- Variables are name, email slug and twitter handle -->
			{{ credit.info("Interactive producer: Emma O'Neill", "eoneill", "emmaruthoneill" ) }}
			{{ credit.info('Interactive producer: Lucio Villa', 'lvilla', 'luciovilla' ) }}
		</div> 
	</div>	

	{% import '_components/_related_stories.html' as related %}
	<div class="max">
		<hr>
		<div  class="divider-text">Read related stories</div>
		<div class="dont-miss">
		<!-- Variables are title, url and image url -->
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
		</div>
	</div>

	{% include '_components/_footer.html' %}
</main>
{% endblock %}

{% block javascript %}
<script>
	$(document).ready(function() {
		App.init();
	});
</script>
{% endblock %}
