{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

	<div class="title-container">
		<div>
			<h1 class="title">How 5 mayors tackled homelessness</h1>
			<!-- {% include '_components/_social_links.html' %} -->
			<p class="date">June 26, 2016</p>

		</div>
	</div>

  	<div cass="row">
  		<p style="text-align: center; margin-bottom: 2em;">The city's last five mayors, including its current one, discuss their attempts to solve the homelessness problem while in office. Click on each mayor to read their letter.</p>		
  	</div>		
  		
        	<div class="mayor-container">		
        		<div class="mayor-photo" id="agnos"><a href="javascript:void(0)"><img src="		
        /static/images/insight/sketches/artagnos.png"></a></div>		
        		<div class="mayor-photo" id="jordan"><a href="javascript:void(0)"><img src="		
        /static/images/insight/sketches/frankjordan.png"></a></div>		
            <div class="mayor-photo" id="brown"><a href="javascript:void(0)"><img src="   
        /static/images/insight/sketches/williebrown.png"></a></div>   
        		<div class="mayor-photo" id="newsom"><a href="javascript:void(0)"><img src="		
        /static/images/insight/sketches/gavinnewsom.png"></a></div>		
            <div class="mayor-photo active" id="lee"><a href="javascript:void(0)"><img src="   
        /static/images/insight/sketches/edlee.png"></a></div>   
        	</div>

          <div class="mayor-container">
            <div class="mayor-text mayor-name">Art Agnos</div>
            <div class="mayor-text mayor-name">Frank Jordan</div>
            <div class="mayor-text mayor-name">Willie Brown</div>
            <div class="mayor-text mayor-name">Gavin Newsom</div>
            <div class="mayor-text mayor-name" id="lee">Ed Lee</div>
          </div>

          <div class="mayor-container">
            <div class="mayor-text mayor-years">1988-1992</div>
            <div class="mayor-text mayor-years">1992-1996</div>
            <div class="mayor-text mayor-years">1996-2004</div>
            <div class="mayor-text mayor-years">2004-2011</div>
            <div class="mayor-text mayor-years" id="lee">2011-present</div>
          </div>
    </div>

  	<div class="row">		  		
  		<div id="agnos-letter">		
  			{% include '_text/insight_agnos.html' %}		
  		</div>		
  		
  		<div id="lee-letter">		
  			{% include '_text/insight_lee.html' %}		
  		</div>		
  		
  		<div id="jordan-letter">		
  			{% include '_text/insight_newsom.html' %}		
  		</div>		
  		
  		<div id="newsom-letter">		
  			{% include '_text/insight_newsom.html' %}		
  		</div>		
  		
  		<div id="brown-letter">		
  			{% include '_text/insight_lee.html' %}		
  		</div>		
  	</div>		

	<div class="row">
		<hr>
		<div class="credits">
			{% import '_components/_credits.html' as credit %}
			<!-- Variables are name, email slug and twitter handle -->
			{{ credit.info("Interactive producer: Emma O'Neill", "eoneill", "emmaruthoneill" ) }}
			{{ credit.info('Interactive producer: Lucio Villa', 'lvilla', 'luciovilla' ) }}
		</div>
	</div>

	{% import '_components/_related_stories.html' as related %}
	<div class="max">
		<hr>
		<div  class="divider-text">Read related stories</div>
		<div class="dont-miss">
		<!-- Variables are title, url and image url -->
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
		</div>
	</div>

	{% include '_components/_footer.html' %}
</main>
{% endblock %}

{% block javascript %}
<script>
	$(document).ready(function() {
		App.init();
	});
	function sticky_relocate() {
		var window_top = $(window).scrollTop();
		var div_top = $('#sticky-anchor').offset().top - 40;
		if (window_top > div_top) {
				$('#sticky-element').addClass('sticky');
				$('.menu-navigation').addClass('sticky');
		} else {
				$('#sticky-element').removeClass('sticky');
				$('.menu-navigation').removeClass('sticky');
		}
	}
	$(function() {
			$(window).scroll(sticky_relocate);
			sticky_relocate();
	});
		
  	function hidden() {		
  		var mayors = ["#intro-text", "#agnos-letter", "#lee-letter", "#jordan-letter", "#newsom-letter", "#brown-letter"];		
  		for ( i = 0; i < mayors.length; i++) {		
  			$(mayors[i]).hide();		
  		}		
  	};		
  		
  	$("#agnos").click(function() {		
  		hidden();		
  		$("#agnos-letter").fadeIn("slow", function() {		
  			});		
  	});		
  		
  	$("#lee").click(function() {		
  		hidden();		
  		$("#lee-letter").fadeIn("slow", function() {		
  			});		
  	});		
  		
  	$("#jordan").click(function() {		
  		hidden();		
  		$("#jordan-letter").fadeIn("slow", function() {		
  			});		
  	});		
  		
  	$("#newsom").click(function() {		
  		hidden();		
  		$("#newsom-letter").fadeIn("slow", function() {		
  			});		
  	});		
  		
  	$("#brown").click(function() {		
  		hidden();		
  		$("#brown-letter").fadeIn("slow", function() {		
  			});		
  	});		
  		
  	$(".mayor-photo").click(function() {		
  		$(".mayor-photo").removeClass("active");		
  		$(this).addClass("active");		
  	})		
  
</script>
{% endblock %}
