{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block hearst_title %}Letters from the mayors{% endblock %}
{% block hearst_class %}article{% endblock %}
{% block hearst_date %}2016-06-26 00:00:00{% endblock %}
{% block author %}Lea Suzuki, Lucio Villa, Emma O'Neill, Benjamin Din{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

	<div class="title-container">
		<div>
			<h1 class="title long">How 5 mayors tackled homelessness</h1>
			<!-- {% include '_components/_social_links.html' %} -->
			<p class="date">June 26, 2016</p>

		</div>
	</div>

  	<div class="row">
  		<p style="text-align: center; margin-bottom: 0.25em;">Five of San Francisco's mayors discuss their attempts to solve the homelessness problem while in office.</p>
  	</div>

    <div id="next" style="margin-bottom: 0.75em;"></div>

  	<div class="mayor-container">
      <div class="mayor-info">
    		<div class="mayor-photo" id="agnos"><a class="scroll" href="#read"><img src="../static/images/insight/sketches/artagnos.png"></a></div>
        <div class="mayor-name">Art Agnos</div>
        <div class="mayor-years">1988-1992</div>
      </div>

      <div class="mayor-info">
    		<div class="mayor-photo" id="jordan"><a class="scroll" href="#read"><img src="../static/images/insight/sketches/frankjordan.png"></a></div>
        <div class="mayor-name">Frank Jordan</div>
        <div class="mayor-years">1992-1996</div>
      </div>

      <div class="mayor-info no-margin-right-tab">
        <div class="mayor-photo" id="brown"><a class="scroll" href="#read"><img src="../static/images/insight/sketches/williebrown.png"></a></div>
        <div class="mayor-name">Willie Brown</div>
        <div class="mayor-years">1996-2004</div>
      </div>

      <div class="mayor-info bottom-row adjust-left-margin">
    		<div class="mayor-photo" id="newsom"><a class="scroll" href="#read"><img src="../static/images/insight/sketches/gavinnewsom.png"></a></div>
        <div class="mayor-name">Gavin Newsom</div>
        <div class="mayor-years">2004-2011</div>
      </div>

      <div class="mayor-info bottom-row" id="no-margin-right">
        <div class="mayor-photo active" id="lee"><a class="scroll" href="#read"><img src="../static/images/insight/sketches/edlee.png"></a></div>
        <div class="mayor-name">Ed Lee</div>
        <div class="mayor-years">2011-present</div>
      </div>

  	</div>

    <div id="read"></div>

  	<div class="row">
  		<div id="agnos-letter">
  			{% include '_text/insight_agnos.html' %}
  		</div>

  		<div id="lee-letter">
  			{% include '_text/insight_lee.html' %}
  		</div>

  		<div id="jordan-letter">
  			{% include '_text/insight_jordan.html' %}
  		</div>

  		<div id="newsom-letter">
  			{% include '_text/insight_newsom.html' %}
  		</div>

  		<div id="brown-letter">
  			{% include '_text/insight_brown.html' %}
  		</div>

      <div class="not-mobile" id="button-styling"><a class="scroll" href="#next"><button style="width: 100%" id="button">Read another letter >></button></a></div>
      <div class="mobile-only" id="button-styling"><a class="scroll" href="#read"><button style="width: 100%" id="button">Read another letter >></button></a></div>

  	</div>

	<div class="max">
		<hr>
		<div class="credits">
			{% import '_components/_credits.html' as credit %}
			<!-- Variables are name, email slug and twitter handle -->
      <div class="group">
        <p>Graphic designer</p>
        {{ credit.info("John Blanchard", "jblanchard" ) }}
      </div>
      <div class="group">
        <p>Interactive producers</p>
        {{ credit.info('Lucio Villa', 'lvilla', 'luciovilla' ) }}
        {{ credit.info('Benjamin Din', 'bdin', 'benjamindin' ) }}
        {{ credit.info("Emma O'Neill", "eoneill", "emmaruthoneill" ) }}
      </div>
		</div>
	</div>

	{% import '_components/_related_stories.html' as related %}
	<div class="max">
		<hr>
		<div class="dont-miss">

			{{ related.story("Solution starts with supportive housing", '/sf-homeless/supportive-housing', '../static/images/supportive/thumb.jpg') }}

			{{ related.story("The mentally ill: Streets' costliest residents", '/sf-homeless/mental-health', '../static/images/mental/thumb.jpg') }}

			{{ related.story("Can the shelter system be successful?", '/sf-homeless/shelters', '../static/images/shelters/thumb.jpg') }}

			{{ related.story("Can law enforcement curb the crisis?", '/sf-homeless/encampments', '../static/images/camping/thumb.jpg') }}

			{{ related.story('A problem that looks the same as it did 20 years ago', '/sf-homeless/overview', '../static/images/setup/01_thumb.jpg','three') }}

      {{ related.story("How many people live on our streets?", '/sf-homeless/numbers', '../static/images/data/10_thumb.jpg','three') }}
      {{ related.story("Faces of homelessness: Portraits of life on SF's streets", '/sf-homeless/faces-of-the-streets', '../static/images/portraits/07_thumb.jpg','three') }}
		</div>
	</div>

	{% include '_components/_footer.html' %}
</main>
{% endblock %}

{% block javascript %}
<script>
	$(document).ready(function() {
		App.init();
	});
	function sticky_relocate() {
		var window_top = $(window).scrollTop();
		var div_top = $('#sticky-anchor').offset().top - 40;
		if (window_top > div_top) {
				$('#sticky-element').addClass('sticky');
				$('.menu-navigation').addClass('sticky');
		} else {
				$('#sticky-element').removeClass('sticky');
				$('.menu-navigation').removeClass('sticky');
		}
	}
	$(function() {
			$(window).scroll(sticky_relocate);
			sticky_relocate();
	});

  	function hidden() {
  		var mayors = ["#agnos-letter", "#lee-letter", "#jordan-letter", "#newsom-letter", "#brown-letter"];
  		for ( i = 0; i < mayors.length; i++) {
  			$(mayors[i]).hide();
  		}
  	};

  	$("#agnos").click(function() {
  		hidden();
  		$("#agnos-letter").fadeIn("fast", function() {
  			});
  	});

  	$("#lee").click(function() {
  		hidden();
  		$("#lee-letter").fadeIn("fast", function() {
  			});
  	});

  	$("#jordan").click(function() {
  		hidden();
  		$("#jordan-letter").fadeIn("fast", function() {
  			});
  	});

  	$("#newsom").click(function() {
  		hidden();
  		$("#newsom-letter").fadeIn("fast", function() {
  			});
  	});

  	$("#brown").click(function() {
  		hidden();
  		$("#brown-letter").fadeIn("fast", function() {
  			});
  	});

  	$(".mayor-photo").click(function() {
  		$(".mayor-photo").removeClass("active");
  		$(this).addClass("active");
  	})

    $(".scroll").click(function(event){
      event.preventDefault();
      $('html,body').animate({scrollTop:$(this.hash).offset().top}, 600);
    });

    $("button").click(function(){

      var activeLetter = $(".active");
      var photos = ["#agnos","#jordan","#brown","#newsom","#lee"];
      var index = $(".active").index(".mayor-photo");

      console.log(index);

      index++;

      if (index >= 5) {
        index = 0;
      }
      else {
      };

      $(activeLetter).removeClass("active");
      $(photos[index]).addClass("active");

      var activeLetter = $(".active");

      hidden();
      var mayors = ["#agnos-letter", "#jordan-letter", "#brown-letter", "#newsom-letter", "#lee-letter"];
      $(mayors[index]).fadeIn("fast",function() {
        });

    });

</script>
{% endblock %}
