{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

	<div class="title-container">
		<div>
			<h1 class="title long">Unified front in search for answers</h1>
			<!-- {% include '_components/_social_links.html' %} -->
			<p class="date">June 26, 2016</p>

		</div>
	</div>

  <div class="letter-begin">To the city and people of San Francisco:</div>
	{% include '_text/letter_of_intent.html' %}

  <div class="project-logo">
    <a  href="http://www.sfchronicle.com/homeless/" target="_blank"><img src="../static/logos/SFHomeless_long_02.png"></img></a>
  </div>

  <div class="max">
		<hr>
		<div class="social-section">
      Follow the project on Twitter at <a href="https://twitter.com/bayareahomeless" target="_blank">@bayareahomeless</a> or on Facebook at <a href="https://www.facebook.com/sfhomelessproject/" target="_blank">facebook.com/sfhomelessproject</a>. Stories from all media organizations will also be curated on <a href="http://www.sfgate.com" target="_blank">SFGATE.com</a>, <a href="http://www.sfchronicle.com" target="_blank">SFChronicle.com</a>, <a href="http://www.medium.com" target="_blank">Medium.com</a> and other project participants.
    </div>
  </div>

  <div class="max">
    <hr>
    <div class="partners">
      {% import '_components/_partners.html' as partner %}
      <!-- Variables are name, link -->
      {{ partner.info("San Francisco Chronicle", "http://www.sfchronicle.com" ) }} &bull;
      {{ partner.info("SFGATE", "http://www.sfgate.com" ) }} &bull;
      {{ partner.info("KQED", "http://www.kqed.org/" ) }} &bull;
      {{ partner.info("The California Sunday Magazine", "http://www.californiasunday.com" ) }} &bull;
      {{ partner.info("Pop-Up Magazine", "http://www.popupmagazine.com" ) }} &bull;
      {{ partner.info("KRON4-TV", "http://www.kron4.com" ) }} &bull;
      {{ partner.info("The Potrero View", "http://www.potreroview.net" ) }} &bull;
      {{ partner.info("San Francisco Examiner", "http://www.sfexaminer.com" ) }} &bull;
      {{ partner.info("San Francisco Public Press", "http://www.sfpublicpress.org" ) }} &bull;
      {{ partner.info("Renaissance Journalism", "http://www.renjournalism.org" ) }} &bull;
      {{ partner.info("Hoodline", "http://www.hoodline.com" ) }} &bull;
      {{ partner.info("San Francisco Business Times", "http://www.sanfranciscobusinesstimes.com" ) }} &bull;
      {{ partner.info("Sing Tao Daily", "http://www.std.stheadliner.com" ) }} &bull;
      {{ partner.info("Medium", "http://www.medium.com" ) }} &bull;
      {{ partner.info("Marina Times", "http://www.marinatimes.com" ) }} &bull;
      {{ partner.info("The Castro Courier", "http://www.castrocourier.com" ) }} &bull;
      {{ partner.info("Mid-Market News", "http://www.mid-marketnews.com" ) }} &bull;
      {{ partner.info("KALW", "http://www.kalw.org" ) }} &bull;
      {{ partner.info("Mission Local", "http://www.missionlocal.org" ) }} &bull;
      {{ partner.info("KGO-TV/ABC7", "http://www.abc7news.com" ) }} &bull;
      {{ partner.info("Bay Area Reporter", "http://www.ebar.com" ) }} &bull;
      {{ partner.info("KTVU-TV", "http://www.ktvu.com" ) }} &bull;
      {{ partner.info("San Francisco magazine", "http://www.sanfranmag.com" ) }} &bull;
      {{ partner.info("BuzzFeed News", "http://www.buzzfeed.com/news" ) }} &bull;
      {{ partner.info("Mother Jones", "http://www.motherjones.com" ) }} &bull;
      {{ partner.info("Timeline", "http://www.timeline.com" ) }} &bull;
      {{ partner.info("CityLab", "http://www.citylab.com" ) }} &bull;
      {{ partner.info("KKSF Talk 910", "http://www.talk910.iheart.com" ) }} &bull;
      {{ partner.info("SFist", "http://www.sfist.com" ) }} &bull;
      {{ partner.info("Mashable", "http://www.mashable.com" ) }} &bull;
      {{ partner.info("World Journal", "http://www.worldjournal.com" ) }} &bull;
      {{ partner.info("Central City Extra", "http://www.http://studycenter.org/test/cce/" ) }} &bull;
      {{ partner.info("Golden Gate Xpress", "http://www.goldengatexpress.org" ) }} &bull;
      {{ partner.info("KPIX-TV", "http://www.sanfrancisco.cbslocal.com" ) }} &bull;
      {{ partner.info("The Mercury News", "http://www.mercurynews.com" ) }} &bull;
      {{ partner.info("East Bay Times", "http://www.eastbaytimes.com" ) }} &bull;
      {{ partner.info("48 Hills", "http://www.48hills.org" ) }} &bull;
      {{ partner.info("New America Media", "http://www.newamericamedia.org" ) }} &bull;
      {{ partner.info("El Tecolote", "http://www.eltecolote.org" ) }} &bull;
      {{ partner.info("Wear Your Voice", "http://www.wearyourvoicemag.com" ) }} &bull;
      {{ partner.info("Castro Valley Matters", "http://www.castrovalleymatters.org" ) }} &bull;
      {{ partner.info("Youth Radio", "http://www.youthradio.org" ) }} &bull;
      {{ partner.info("Fortune", "http://www.fortune.com" ) }} &bull;
      {{ partner.info("AJ+", "http://www.ajplus.net" ) }} &bull;
      {{ partner.info("Ingleside-Excelsior Light", "http://www.ielightsf.com" ) }} &bull;
      {{ partner.info("Commonwealth Club", "http://www.commonwealthclub.org" ) }} &bull;
      {{ partner.info("CALmatters", "http://www.calmatters.org" ) }} &bull;
      {{ partner.info("Laney Tower", "http://www.thelaneytower.com" ) }} &bull;
      {{ partner.info("Inc.", "http://www.inc.com" ) }} &bull;
      {{ partner.info("Richmond Review", "http://www.sfrichmondreview.com" ) }} &bull;
      {{ partner.info("Sunset Beacon", "http://www.sfrichmondreview.com" ) }} &bull;
      {{ partner.info("Univision 14 KDTV", "http://www.univision.com/san-francisco/kdtv" ) }} &bull;
      {{ partner.info("West Portal Monthly", "http://www.sfnna.com/newspapers/west-portal-monthly/" ) }} &bull;
      {{ partner.info("HATCH Beat", "http://www.hatchbeat.com" ) }} &bull;
      {{ partner.info("AlterNet.org", "http://www.alternet.org" ) }} &bull;
      {{ partner.info("OVEE/ITVS", "http://www.ovee.itvs.org" ) }} &bull;
      {{ partner.info("Ripple News", "http://www.ripple.co" ) }} &bull;
      {{ partner.info("KNTV", "http://www.nbcbayarea.com" ) }} &bull;
      {{ partner.info("Telemundo 48 KSTS", "http://www.telemundoareadelabahia.com" ) }} &bull;
      {{ partner.info("KGO 810", "http://www.kgoradio.com" ) }} &bull;
      {{ partner.info("Business Insider", "http://www.businessinsider.com" ) }} &bull;
      {{ partner.info("TechCrunch", "http://www.techcrunch.com" ) }} &bull;
      {{ partner.info("Fusion", "http://www.fusion.net" ) }} &bull;
      {{ partner.info("San Francisco Neighborhood Newspaper Association", "http://www.sfnna.com" ) }} &bull;
      {{ partner.info("Google News Lab", "http://www.newslab.withgoogle.com" ) }} &bull;
      {{ partner.info("Cor Media", "http://www.cor.media" ) }} &bull;
      {{ partner.info("Stories Behind the Fog", "http://www.storiesbehindthefog.com" ) }} &bull;
      {{ partner.info("Micro-documentaries", "http://www.micro-documentaries.com" ) }} &bull;
      {{ partner.info("SF Weekly", "http://www.sfweekly.com" ) }}
    </div>
	</div>

	<div class="max">
		<hr>
		<div class="credits">
			{% import '_components/_credits.html' as credit %}
			<!-- Variables are name, email slug and twitter handle -->
			{{ credit.info("Interactive producers: Emma O'Neill", "eoneill", "emmaruthoneill" ) }}
			{{ credit.info('Lucio Villa', 'lvilla', 'luciovilla' ) }}
		</div>
	</div>

	{% import '_components/_related_stories.html' as related %}
	<div class="max">
		<hr>
		<!-- <div  class="divider-text">Read related stories</div> -->
		<div class="dont-miss">
		<!-- Variables are title, url and image url -->
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
		</div>
	</div>


	{% include '_components/_footer.html' %}
</main>
{% endblock %}

{% block javascript %}

<script>
	$(document).ready(function() {
		App.init();
	});
  function sticky_relocate() {
    var window_top = $(window).scrollTop();
    var div_top = $('#sticky-anchor').offset().top - 40;
    if (window_top > div_top) {
        $('#sticky-element').addClass('sticky');
        $('.menu-navigation').addClass('sticky');
    } else {
        $('#sticky-element').removeClass('sticky');
        $('.menu-navigation').removeClass('sticky');
    }
  }
  $(function() {
      $(window).scroll(sticky_relocate);
      sticky_relocate();
  });
</script>

{% endblock %}
