<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="__sync_contentCategory" content="free">
    <title></title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="http://www.sfchronicle.com/favicon.ico?v=3">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}?6">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <!-- Treg & Syncronex -->
		<script type="text/javascript" src="http://treg.hearstnp.com/treg.js"></script>
		<script type="text/javascript" src="http://www.sfchronicle.com/js/hdn/omniture/syncronex.js"></script>
		<script type="text/javascript" src="https://syncaccess-hst-sfc.syncronex.com/hst/sfc/api/scripts/syncwall"></script>
		<script type="text/javascript" src="https://pym.nprapps.org/pym.v1.min.js"></script>
    
    <!-- Begin Hearst analytics -->
    <script type="text/javascript">
        var omni_channelPath = "News :: Special Projects :: Homeless Project";
        var omni_paywallSite = "1";
        var omni_title = "{{title|safe}}";
        var omni_className = "article";
        var omni_publicationDate = "";
        var omni_authorName = "Lucio Villa, Emma O'Neill, Benjamin Din";
        var omni_authorTitle = "San Francisco Chronicle staff";
    </script>
    <!-- End Hearst analytics -->
    
    <!-- Hearst analytics: Ensighten -->
    <script type="text/javascript">
      (function(e) {
        var t = '//nexus.ensighten.com/hearst/news/Bootstrap.js';
        if (e.cookie.indexOf("nsghtn") > -1) {
          if(e.cookie.indexOf("nsghtn=test-dev") > -1) {
          console.log("Ensighten :: Test-Dev"); t = "//nexus-test.ensighten.com/hearst/news-dev/Bootstrap.js";
          } else if(e.cookie.indexOf("nsghtn=test") > -1) {
          console.log("Ensighten :: Test"); t = "//nexus-test.ensighten.com/hearst/news/Bootstrap.js";
          } else if(e.cookie.indexOf("nsghtn=dev") > -1) {
          console.log("Ensighten :: Dev"); t = "//nexus.ensighten.com/hearst/news-dev/Bootstrap.js";
          }
        }
        e.write("<scr"+"ipt src='"+e.location.protocol+t+"'></scr"+"ipt>");
      })(document);
    </script>
    <!-- End Hearst analytics: Ensighten -->
    
  </head>
  <body class="{% if config.DEBUG %}debug{% endif %}">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <main class="container mayors">


			<div class="title-container">
				<div>
					<h1 class="m-title">{{data.Headline}}</h1>
					<p class="mayors-date">{{data.Date}}</p>
					<div class="mayors-deck">
						{{data.Deck}}
					</div>
					
				</div>
			</div>

			<div class="mayors-grid">
				<div id="lee" class="mug mayor-lee">
					<div>
						<img src="https://placeholdit.co//i/600x400?">
						<p>Mayor Name</p>
					</div>
				</div>
				<div id="libby" class="mug mayor-libby">
					<div>
						<img src="https://placeholdit.co//i/600x400?">
						<p>Mayor Name</p>
					</div>
				</div>
				<div id="liccardo" class="mug mayor-liccardo">
					<div>
						<img src="https://placeholdit.co//i/600x400?">
						<p>Mayor Name</p>
					</div>
				</div>
			</div>

			<div id="mayor-lee" class="mayor-text">
			{% for text in data['lee'] %}

					{% if text.type == 'text' %}
						<p>{{text.value}}</p>
					{%- endif %}

					{% if text.type == 'Headline' %}
						<h2>{{ text.value }}</h2>
						<div class="byline">By Ed Lee</div>
					{%- endif %}

		  {% endfor %}
		  	<div class="nextstory" next="libby">
		  		<p>_______</p>
		  		<p>Read Oakland Mayor's</p>
		  		<img src="https://placeholdit.co//i/600x400?">
		  	</div>
		  </div>

		  <div id="mayor-libby" class="mayor-text">
			{% for text in data['libby'] %}

					{% if text.type == 'text' %}
						<p>{{text.value}}</p>
					{%- endif %}

					{% if text.type == 'Headline' %}
						<h2>{{ text.value }}</h2>
						<div class="byline">By Libby Schaaf</div>
					{%- endif %}

		  {% endfor %}
			  <div class="nextstory" next="liccardo">
			  		<p>_______</p>
			  		<p>Read San Jose Mayor's</p>
			  		<img src="https://placeholdit.co//i/600x400?">
			  	</div>
			  </div>
		  </div>

		  <div id="mayor-liccardo" class="mayor-text">
			{% for text in data['liccardo'] %}

					{% if text.type == 'text' %}
						<p>{{text.value}}</p>
					{%- endif %}

					{% if text.type == 'Headline' %}
						<h2>{{ text.value }}</h2>
						<div class="byline">By Sam Liccardo</div>
					{%- endif %}

		  {% endfor %}
			  <div class="nextstory" next="lee">
			  		<p>_______</p>
			  		<p>Read SF Mayor's</p>
			  		<img src="https://placeholdit.co//i/600x400?">
			  	</div>
			  </div>
		  </div>

		  

			<div class="max">
				<hr>
				<div class="credits">
					{% import '_components/_credits.html' as credit %}
					<!-- Variables are name, email slug and twitter handle -->

					<div class="group">
						<p>Interactive producer</p>
						{{ credit.info('Lucio Villa', 'lvilla', 'luciovilla' ) }}
					</div>
				</div>
				<hr>
			</div>

			{% import '_components/_related_stories.html' as related %}
		  <div>
		    
		    <div class="related-links-title"><a href="http://projects.sfchronicle.com/sf-homeless/"><h3>Beyond Homelessness Coverage</h3></a></div>
		    <div class="dont-miss two">

		      {{ related.story("After Division Street: No simple path to ending tent cities", 'http://projects.sfchronicle.com/sf-homeless/division-street/', 'http://projects.sfchronicle.com/sf-homeless/static/images/division-street/thumb.jpg') }}

					{{ related.story("Interactive map: 7 lives, 7 paths, little change", 'http://projects.sfchronicle.com/sf-homeless/division-street-map/', 'http://projects.sfchronicle.com/sf-homeless/static/images/division-street-map/thumb.gif') }}

					{{ related.story("Chronicle investigation: Aging hotels, chronic problems", 'http://projects.sfchronicle.com/sf-homeless/hotels', 'http://projects.sfchronicle.com/sf-homeless/static/images/hotels/thumb.jpg') }}

					{{ related.story("Seeking help: Federal disability aid an elusive solution", 'http://projects.sfchronicle.com/sf-homeless/benefits', 'http://projects.sfchronicle.com/sf-homeless/static/images/benefits/thumb.jpg') }}

					{{ related.story("Long-term view: A problem that looked the same 20 years ago", 'http://projects.sfchronicle.com/sf-homeless/overview', 'http://projects.sfchronicle.com/sf-homeless/static/images/setup/01_thumb.jpg' ) }}

					{{ related.story("Supportive housing: What would it take to solve homelessness?", 'http://projects.sfchronicle.com/sf-homeless/supportive-housing', 'http://projects.sfchronicle.com/sf-homeless/static/images/supportive/thumb.jpg') }}

					{{ related.story("Mental illness: Are the most destitute people treatable?", 'http://projects.sfchronicle.com/sf-homeless/mental-health', 'http://projects.sfchronicle.com/sf-homeless/static/images/mental/thumb.jpg') }}

					{{ related.story("Law enforcement: Can stricter rules curb the crisis?", 'http://projects.sfchronicle.com/sf-homeless/encampments', 'http://projects.sfchronicle.com/sf-homeless/static/images/camping/thumb.jpg') }}

					{{ related.story("Data analysis: How many people live on our streets?", 'http://projects.sfchronicle.com/sf-homeless/numbers', 'http://projects.sfchronicle.com/sf-homeless/static/images/data/10_thumb.jpg' ) }}

					{{ related.story("Photographer’s lens: Portraits of life on SF's streets", 'http://projects.sfchronicle.com/sf-homeless/faces-of-the-streets', 'http://projects.sfchronicle.com/sf-homeless/static/images/portraits/07_thumb.jpg' ) }}

					{{ related.story("Interactive guide: How to help homeless people in Bay Area", 'http://projects.sfchronicle.com/sf-homeless/how-to-help/', 'http://projects.sfchronicle.com/sf-homeless/static/images/how-to-help/thumb.jpg') }}

					{{ related.story("Election 2016: How the candidates view homelessness", 'http://projects.sfchronicle.com/2016/candidates-homeless-survey/', 'http://projects.sfchronicle.com/2016/candidates-homeless-survey/assets/social.jpg') }}

					{{ related.story("In their voices: How SF's last 5 mayors tackled homelessness", 'http://projects.sfchronicle.com/sf-homeless/letters-from-the-mayors', 'http://projects.sfchronicle.com/sf-homeless/static/images/insight/thumb.jpg' ) }}

					{{ related.story("Editorial: Homelessness remains a civic disgrace", 'http://projects.sfchronicle.com/sf-homeless/civic-disgrace', 'http://projects.sfchronicle.com/sf-homeless/static/images/editorial/thumb.png' ) }}

					{{ related.story("Letter to the City: The time to act is now", 'http://projects.sfchronicle.com/sf-homeless/letter-to-the-city/', 'http://projects.sfchronicle.com/sf-homeless/static/images/social/letter-to-the-city.jpg') }}

		    </div>
		  </div>


		</main>


    {% if config.DEBUG %}
    <script>document.write('<script src="http://'
        + location.host.split(':')[0]
        + ':35729/livereload.js"></'
        + 'script>')</script>
    {% endif %}

		<script>
			$('.mayor-lee').addClass('active');
			$('#mayor-lee').addClass('show-text');

			$('.mug').on('click', function(){
			   var target = $(this).attr('id');
			   $(".mayor-text").removeClass('show-text');
			   $("#mayor-"+target).addClass('show-text');
			   $('html,body').animate({
				   scrollTop: $(".mayors-grid").offset().top - 20
				});
			});
			$('.mug').on('click', function(){
			   var mug = $(this).attr('id');
			   $(".mug").removeClass('active');
			   $('#'+mug).addClass('active');
			});

			$('.nextstory').on('click', function(){
			   var next = $(this).attr('next');
			   $(".mug").removeClass('active');
			   $(".mayor-text").removeClass('show-text');
			   $('#'+next).addClass('active');
			   $('#mayor-'+next).addClass('show-text');
			   $('html,body').animate({
				   scrollTop: $(".mayors-grid").offset().top - 20
				});
			});
			var pymChild = new pym.Child();
		</script>
</body>
</html>
