<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="http://www.sfchronicle.com/favicon.ico?v=3">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}?6">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    
		<script type="text/javascript" src="https://pym.nprapps.org/pym.v1.min.js"></script>
    
    
    
  </head>
  <body class="{% if config.DEBUG %}debug{% endif %}">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <main class="container mayors">


			

			<div class="mayors-grid">

				<div id="libby" class="mug mayor-libby">
					<div>
						<img src="{{data.Libby_mug}}">
						<p class="mayor-lede">Libby Schaaf</p>
					</div>
				</div>

				<div id="lee" class="mug mayor-lee">
					<div>
						<img src="{{data.Lee_mug}}">
						<p class="mayor-lede">Ed Lee</p>
					</div>
				</div>
			
				<div id="liccardo" class="mug mayor-liccardo">
					<div>
						<img src="{{data.Liccardo_mug}}">
						<p class="mayor-lede">Sam Liccardo</p>
					</div>
				</div>
			</div>

			<div id="mayor-lee" class="mayor-text">
			{% for text in data['lee'] %}

					{% if text.type == 'text' %}
						<p>{{text.value|safe}}</p>
					{%- endif %}

					{% if text.type == 'Headline' %}
						<h2>{{ text.value }}</h2>
						<div class="mayor-byline">By Ed Lee</div>
					{%- endif %}

					{% if text.type == 'image' %}
						<div class="inline-img {{text.value[0].Size}}">
							<img src="http://ww2.hdnux.com/photos/62/04/11/{{text.value[0].Image}}/3/1000x0.jpg">
							<div class="caption">{{text.value[0].Caption}} <span class="byline">{{text.value[0].Photographer}}</span></div>
						</div>
					{%- endif %}

		  {% endfor %}
			  <i>Ed Lee is the mayor of San Francisco.</i>
		  	<div class="nextstory" next="liccardo">
			  		<p>_______</p>
			  		<p><span class='red'>Next:</span> San Jose Mayor Sam Liccardo</p>
			  		<img src="http://ww2.hdnux.com/photos/62/04/11/13124135/3/1000x0.jpg">
			  		<p class="caption">Santiago Mejia, The Chronicle</p>
			  	</div>
			  </div>
		  </div>

		  <div id="mayor-libby" class="mayor-text">
			{% for text in data['libby'] %}

					{% if text.type == 'text' %}
						<p>{{text.value|safe}}</p>
					{%- endif %}

					{% if text.type == 'Headline' %}
						<h2>{{ text.value }}</h2>
						<div class="mayor-byline">By Libby Schaaf</div>
					{%- endif %}

					{% if text.type == 'image' %}
						<div class="inline-img {{text.value[0].Size}}">
							<img src="http://ww2.hdnux.com/photos/62/04/11/{{text.value[0].Image}}/3/1000x0.jpg">
							<div class="caption">{{text.value[0].Caption}} <span class="byline">{{text.value[0].Photographer}}</span></div>
						</div>
					{%- endif %}
		  {% endfor %}
			  <i>Libby Schaaf is the mayor of Oakland.</i>
			  <div class="nextstory" next="lee">
			  		<p>_______</p>
			  		<p><span class='red'>Next:</span> San Francisco Mayor Ed Lee</p>
			  		<img src="http://ww2.hdnux.com/photos/62/04/11/13124149/3/1000x0.jpg">
			  		<p class="caption">Lea Suzuki, The Chronicle</p>
			  	</div>
			  </div>
		  </div>

		  <div id="mayor-liccardo" class="mayor-text">
			{% for text in data['liccardo'] %}

					{% if text.type == 'text' %}
						<p>{{text.value|safe}}</p>
					{%- endif %}

					{% if text.type == 'Headline' %}
						<h2>{{ text.value }}</h2>
						<div class="mayor-byline">By Sam Liccardo</div>
					{%- endif %}

					{% if text.type == 'image' %}
						<div class="inline-img {{text.value[0].Size}}">
							<img src="http://ww2.hdnux.com/photos/62/04/11/{{text.value[0].Image}}/3/1000x0.jpg">
							<div class="caption">{{text.value[0].Caption}} <span class="byline">{{text.value[0].Photographer}}</span></div>
						</div>
					{%- endif %}
		  {% endfor %}
			  <i>Sam Liccardo is the mayor of San Jose.</i>
			  <div class="nextstory" next="libby">
		  		<p>_______</p>
		  		<p><span class="red">Next:</span> Oakland Mayor Libby Schaaf</p>
		  		<img src="http://ww2.hdnux.com/photos/62/04/11/13124116/3/1000x0.jpg">
		  		<p class="caption">Scott Strazzante, The Chronicle</p>
		  	</div>
		  </div>

		  

			<div class="max">
				<hr>
				<div class="credits">
					{% import '_components/_credits.html' as credit %}
					<!-- Variables are name, email slug and twitter handle -->

					<div class="group">
						<p>Interactive producer</p>
						{{ credit.info('Lucio Villa', 'lvilla', 'luciovilla' ) }}
					</div>
				</div>
				<hr>
			</div>

			


		</main>


    {% if config.DEBUG %}
    <script>document.write('<script src="http://'
        + location.host.split(':')[0]
        + ':35729/livereload.js"></'
        + 'script>')</script>
    {% endif %}

		<script>
			var pymChild = new pym.Child({ polling: 500 });

			$('.mayor-libby').addClass('active');
			$('#mayor-libby').addClass('show-text');

			$('.mug').on('click', function(){
			   var target = $(this).attr('id');
			   $(".mayor-text").removeClass('show-text');
			   $("#mayor-"+target).addClass('show-text');
			   pymChild.sendHeight();
			   pymChild.scrollParentTo('top');
			});
			$('.mug').on('click', function(){
			   var mug = $(this).attr('id');
			   $(".mug").removeClass('active');
			   $('#'+mug).addClass('active');
			   pymChild.sendHeight();
			});

			$('.nextstory').on('click', function(){
			   var next = $(this).attr('next');
			   $(".mug").removeClass('active');
			   $(".mayor-text").removeClass('show-text');
			   $('#'+next).addClass('active');
			   $('#mayor-'+next).addClass('show-text');
			   pymChild.sendHeight();
			   pymChild.scrollParentTo('top');
			});
			
		</script>
</body>
</html>
