<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="__sync_contentCategory" content="free">
    <title></title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="http://www.sfchronicle.com/favicon.ico?v=3">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}?6">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <!-- Treg & Syncronex -->
		<script type="text/javascript" src="http://treg.hearstnp.com/treg.js"></script>
		<script type="text/javascript" src="http://www.sfchronicle.com/js/hdn/omniture/syncronex.js"></script>
		<script type="text/javascript" src="https://syncaccess-hst-sfc.syncronex.com/hst/sfc/api/scripts/syncwall"></script>
		<script type="text/javascript" src="https://pym.nprapps.org/pym.v1.min.js"></script>
    
    <!-- Begin Hearst analytics -->
    <script type="text/javascript">
        var omni_channelPath = "News :: Special Projects :: Homeless Project";
        var omni_paywallSite = "1";
        var omni_title = "{{title|safe}}";
        var omni_className = "article";
        var omni_publicationDate = "";
        var omni_authorName = "Lucio Villa, Emma O'Neill, Benjamin Din";
        var omni_authorTitle = "San Francisco Chronicle staff";
    </script>
    <!-- End Hearst analytics -->
    
    <!-- Hearst analytics: Ensighten -->
    <script type="text/javascript">
      (function(e) {
        var t = '//nexus.ensighten.com/hearst/news/Bootstrap.js';
        if (e.cookie.indexOf("nsghtn") > -1) {
          if(e.cookie.indexOf("nsghtn=test-dev") > -1) {
          console.log("Ensighten :: Test-Dev"); t = "//nexus-test.ensighten.com/hearst/news-dev/Bootstrap.js";
          } else if(e.cookie.indexOf("nsghtn=test") > -1) {
          console.log("Ensighten :: Test"); t = "//nexus-test.ensighten.com/hearst/news/Bootstrap.js";
          } else if(e.cookie.indexOf("nsghtn=dev") > -1) {
          console.log("Ensighten :: Dev"); t = "//nexus.ensighten.com/hearst/news-dev/Bootstrap.js";
          }
        }
        e.write("<scr"+"ipt src='"+e.location.protocol+t+"'></scr"+"ipt>");
      })(document);
    </script>
    <!-- End Hearst analytics: Ensighten -->
    
  </head>
  <body class="{% if config.DEBUG %}debug{% endif %}">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <main class="container mayors">


			<div class="title-container">
				<div>
					<h1 class="m-title">{{data.Headline}}</h1>
					<p class="mayors-date">{{data.Date}}</p>
					<div class="mayors-deck">
						{{data.Deck}}
					</div>
					
				</div>
			</div>

			<div class="mayors-grid">
				<div id="lee" class="mug mayor-lee">
					<div>
						<img src="https://placeholdit.co//i/600x400?">
						<p>Mayor Name</p>
					</div>
				</div>
				<div id="libby" class="mug mayor-libby">
					<div>
						<img src="https://placeholdit.co//i/600x400?">
						<p>Mayor Name</p>
					</div>
				</div>
				<div id="liccardo" class="mug mayor-liccardo">
					<div>
						<img src="https://placeholdit.co//i/600x400?">
						<p>Mayor Name</p>
					</div>
				</div>
			</div>

			<div id="mayor-lee" class="mayor-text">
			{% for text in data['lee'] %}

					{% if text.type == 'text' %}
						<p>{{text.value}}</p>
					{%- endif %}

					{% if text.type == 'Headline' %}
						<h2>{{ text.value }}</h2>
						<div class="byline">By Ed Lee</div>
					{%- endif %}

		  {% endfor %}
		  	<div class="nextstory" next="libby">
		  		<p>_______</p>
		  		<p>Read Oakland Mayor's</p>
		  		<img src="https://placeholdit.co//i/600x400?">
		  	</div>
		  </div>

		  <div id="mayor-libby" class="mayor-text">
			{% for text in data['libby'] %}

					{% if text.type == 'text' %}
						<p>{{text.value}}</p>
					{%- endif %}

					{% if text.type == 'Headline' %}
						<h2>{{ text.value }}</h2>
						<div class="byline">By Libby Schaaf</div>
					{%- endif %}

		  {% endfor %}
			  <div class="nextstory" next="liccardo">
			  		<p>_______</p>
			  		<p>Read San Jose Mayor's</p>
			  		<img src="https://placeholdit.co//i/600x400?">
			  	</div>
			  </div>
		  </div>

		  <div id="mayor-liccardo" class="mayor-text">
			{% for text in data['liccardo'] %}

					{% if text.type == 'text' %}
						<p>{{text.value}}</p>
					{%- endif %}

					{% if text.type == 'Headline' %}
						<h2>{{ text.value }}</h2>
						<div class="byline">By Sam Liccardo</div>
					{%- endif %}

		  {% endfor %}
			  <div class="nextstory" next="lee">
			  		<p>_______</p>
			  		<p>Read SF Mayor's</p>
			  		<img src="https://placeholdit.co//i/600x400?">
			  	</div>
			  </div>
		  </div>

		  

			<div class="max">
				<hr>
				<div class="credits">
					{% import '_components/_credits.html' as credit %}
					<!-- Variables are name, email slug and twitter handle -->

					<div class="group">
						<p>Interactive producer</p>
						{{ credit.info('Lucio Villa', 'lvilla', 'luciovilla' ) }}
					</div>
				</div>
				<hr>
			</div>

			


		</main>


    {% if config.DEBUG %}
    <script>document.write('<script src="http://'
        + location.host.split(':')[0]
        + ':35729/livereload.js"></'
        + 'script>')</script>
    {% endif %}

		<script>
			var pymChild = new pym.Child();

			$('.mayor-lee').addClass('active');
			$('#mayor-lee').addClass('show-text');

			$('.mug').on('click', function(){
			   var target = $(this).attr('id');
			   $(".mayor-text").removeClass('show-text');
			   $("#mayor-"+target).addClass('show-text');
			   pymChild.sendHeight();
			   $('html,body').animate({
				   scrollTop: $(".mayors-grid").offset().top - 20
				});
			});
			$('.mug').on('click', function(){
			   var mug = $(this).attr('id');
			   $(".mug").removeClass('active');
			   $('#'+mug).addClass('active');
			   pymChild.sendHeight();
			});

			$('.nextstory').on('click', function(){
			   var next = $(this).attr('next');
			   $(".mug").removeClass('active');
			   $(".mayor-text").removeClass('show-text');
			   $('#'+next).addClass('active');
			   $('#mayor-'+next).addClass('show-text');
			   pymChild.sendHeight();
			   $('html,body').animate({
				   scrollTop: $(".mayors-grid").offset().top - 20
				});
			});
			
		</script>
</body>
</html>
