{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block hearst_title %}Mental{% endblock %}
{% block hearst_class %}article{% endblock %}
{% block hearst_date %}2016-06-29 00:00:00{% endblock %}
{% block author %}Erin Allday, Tim Hussin, Lea Suzuki, Lucio Villa, Emma O'Neill, Benjamin Din{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

	<div class="title-container">
		<div>
			<h1 class="title long">The streets’ sickest, costliest: the mentally ill</h1>
			<div class="whatif-box">
				What would it take for San Francisco to create enough mental health services to permanently meet the needs of the thousands of mentally ill people living on its streets?
			</div>
			<p class="author">By Erin Allday</p>
			<p class="date">June 29, 2016</p>
			<div class="full-width-img">
			    <img src="{{ url_for('static', filename='images/mental/01.jpg') }}">
			    <p class="caption"><span class="year">April 20, 2015 </span> City outreach worker Jessica Naugle helps dismantle a tent at an encampment near 16th Street. People at the camp were sent to a shelter where they could meet with case managers and be connected to further services.<span class="byline"> Photo: Brant Ward, The Chronicle</span></p>
			</div>
		</div>
	</div>

	{% include '_text/mental.html' %}

	<div class="max">
		<hr>
		<div class="credits">
			{% import '_components/_credits.html' as credit %}
			<!-- Variables are name, email slug and twitter handle -->
			<div class="group">
				<p>Reporter</p>
				{{ credit.info('Erin Allday', 'eallday', 'erinallday' ) }}
			</div>
			<div class="group">
				<p>Interactive producers</p>
				{{ credit.info('Lucio Villa', 'lvilla', 'luciovilla' ) }}
				{{ credit.info('Benjamin Din', 'bdin', 'benjamindin' ) }}
				{{ credit.info("Emma O'Neill", "eoneill", "emmaruthoneill" ) }}
			</div>
		</div>
	</div>

	{% import '_components/_related_stories.html' as related %}
	<div class="max">
		<hr>
		<div class="dont-miss">
			{{ related.story("In their words: How SF's last 5 mayors tackled homelessness", '/sf-homeless/letters-from-the-mayors', '../static/images/insight/mayors.jpg' ) }}
			{{ related.story("How many people live on our streets?", '/sf-homeless/numbers', '../static/images/data/10_thumb.jpg' ) }}
			{{ related.story("Faces of homelessness: Portraits of life on SF's streets", '/sf-homeless/faces-of-the-streets', '../static/images/portraits/07_thumb.jpg' ) }}

			{{ related.story("Can law enforcement curb the crisis?", '/sf-homeless/encampments', '../static/images/social/encampments.jpg' ) }}
			{{ related.story("Can the shelter system be successful?", '/sf-homeless/shelters', '../static/images/social/shelters.jpg' ) }}
			{{ related.story("Solution starts with supportive housing", '/sf-homeless/supportive-housing', '../static/images/social/supportive.jpg' ) }}
		</div>
	</div>

	{% include '_components/_footer.html' %}
</main>
{% endblock %}

{% block javascript %}

<script src="http://projects.sfchronicle.com/shared/js/pym.min.js"></script>

<script>
	$(document).ready(function() {
		App.init();
	});
	function sticky_relocate() {
		var window_top = $(window).scrollTop();
		var div_top = $('#sticky-anchor').offset().top - 40;
		if (window_top > div_top) {
				$('#sticky-element').addClass('sticky');
				$('.menu-navigation').addClass('sticky');
		} else {
				$('#sticky-element').removeClass('sticky');
				$('.menu-navigation').removeClass('sticky');
		}
	}
	$(function() {
			$(window).scroll(sticky_relocate);
			sticky_relocate();
	});
	var pymParentIllnessMental = new pym.Parent('illness_mental', 'http://projects.sfchronicle.com/2016/homelessness/illness/index.html', {});
	var pymParentCostsMental = new pym.Parent('costs_mental', 'http://projects.sfchronicle.com/2016/homelessness/costs-aggregate/index.html', {});
</script>
{% endblock %}
