{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% include '_components/_social.html' %}
{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

<div id="homelesscontainer">

	<div class="header-opinion" style="z-index: 2;">
		<h1 class="headline-opinion"><span class="runCounter">6,686</span></h1>
		<h2 class="title h2-opinion">A civic disgrace</h2>
	</div>	

	<div class="disappear" id="homelessviz">
		<span class="homeless"></span>
	</div>
</div>
	<div class="title-container">
		<div>
			<!-- {% include '_components/_social_links.html' %} -->
			<p class="author">By The San Francisco Chronicle Editorial Board</p>
			<p class="date">July 3, 2016</p>

		</div>
	</div>

	{% include '_text/opinion.html' %}

	<div class="row">
		<hr>
		<div class="credits">
			{% import '_components/_credits.html' as credit %}
			<!-- Variables are name, email slug and twitter handle -->
			{{ credit.info('By the San Francisco Chronicle Editorial Board', 'EMAIL', 'sfchronicle' ) }}
			{{ credit.info("Interactive producers: Emma O'Neill", "eoneill", "emmaruthoneill" ) }}
			{{ credit.info('Lucio Villa', 'lvilla', 'luciovilla' ) }}
			{{ credit.info('Benjamin Din', 'bdin', 'benjamindin' ) }}
		</div>
	</div>

	{% import '_components/_related_stories.html' as related %}
	<div class="max">
		<hr>
		<div class="dont-miss">
		<!-- Variables are title, url and image url -->
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
		</div>
	</div>

	{% include '_components/_footer.html' %}
</main>
{% endblock %}

{% block javascript %}
<script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>

<script>
	$(document).ready(function() {
		App.init();
	});

	$(window).load(function() {
		for (var i = 0; i < 6686; i ++) {
			if (Math.random() <= 0.66) {
				$('<i class="fa fa-male" aria-hidden="true"></i>').appendTo(".homeless");
			}
			else {
				$('<i class="fa fa-female" aria-hidden="true"></i>').appendTo(".homeless");
			}
		};

		var animationHeight = $('#homelessviz').height();

		console.log(animationHeight);

		$('#homelessviz').offset({top: 0 - animationHeight, left: 0});
		$('#homelessviz').removeClass("disappear");
		$('#homelessviz').velocity({
			top: '0px',
			easing: "linear"
		}, 40000)

	});

	function sticky_relocate() {
		var window_top = $(window).scrollTop();
		var div_top = $('#sticky-anchor').offset().top - 40;
		if (window_top > div_top) {
				$('#sticky-element').addClass('sticky');
				$('.menu-navigation').addClass('sticky');
		} else {
				$('#sticky-element').removeClass('sticky');
				$('.menu-navigation').removeClass('sticky');
		}
	}
	$(function() {
		$(window).scroll(sticky_relocate);
		sticky_relocate();
	});

</script>
{% endblock %}

<!-- 
		$('#myAnimation').removeClass('disappear').addClass('enable');
		console.log(animationHeight);
-->