{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

<div id="homelesscontainer">

	<div class="header-opinion">
		<div class="headline-opinion">6,686</div>
		<h1 class="title h2-opinion">A civic disgrace</h1>
		<h2>The reduction of homelessness to the extent humanly possible must be San Francisco’s No. 1 priority.</h2>

		<div>
			<h5>EDITORIAL</h5>
			<p class="date">July 3, 2016</p>
		</div>
	</div>	

	<div class="disappear" id="homelessviz">
		<span class="homeless"></span>
	</div>
</div>
<div class="footnote">* Each figure represents 2</div>
	{% include '_text/opinion.html' %}
	<hr style="width:10%;">
	<p class="bottom-footnote">On any given day there are an estimated 6,686 homeless adults in San Francisco, according to a point-in-time count conducted by volunteers at the end of January 2015. While that figure is the most widely circulated estimate on the number of people living without shelter in the city, other databases show as many as 10,000 people experienced homelessness over the course the 2015-16 fiscal year. The true figure is most likely even higher. See past Chronicle <a href="{{ url_for('data') }}">coverage</a> for more on the how many people are homeless, and the costs associated with the population.</p>
	<hr style="width: 75%;max-width:710px;">
	<!-- VIDEO -->
	<div class="inline-img">
		<p class="text-hed">About "Beyond Homelessness"</p>
	    <div class='embed-container'><iframe src='https://player.vimeo.com/video/171866623' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
	    <p class="caption"><span class="byline">Video: Erin Brethauer and Tim Hussin, The Chronicle<br>Edited by Erin Brethauer</span></p>
	</div>

	<p>Links:</p>
	<ul>
		<li><p style="margin-bottom:0;"><a href="http://www.sfchronicle.com/opinion/diaz/article/Why-we-put-our-homelessness-editorial-on-the-8334843.php?t=30ec43ca36&cmpid=">Why we put our homelessness editorial on the front page</a></p></li>
		<li><p><a href="http://www.sfchronicle.com/bayarea/article/Reflecting-on-the-SF-Homeless-Project-8338589.php?t=2c5236c1dd&cmpid=">From the Editor in Chief: Reflecting on the SF Homeless Project</a></p></li>
	</ul>
	

	<div class="max">
		<hr>
		<div class="credits">
			{% import '_components/_credits.html' as credit %}
			<!-- Variables are name, email slug and twitter handle -->
			{{ credit.info('San Francisco Chronicle', 'letters', 'sfchronicle' ) }}
			<br>
			Interactive producers
			{{ credit.info('Lucio Villa', 'lvilla', 'luciovilla' ) }}
			{{ credit.info('Benjamin Din', 'bdin', 'benjamindin' ) }}
			{{ credit.info("Emma O'Neill", "eoneill", "emmaruthoneill" ) }}
		</div>
		<hr>
	</div>

	{% import '_components/_related_stories.html' as related %}
  <div>
    
    <div class="related-links-title"><a href="http://projects.sfchronicle.com/sf-homeless/"><h3>Beyond Homelessness Coverage</h3></a></div>
    <div class="dont-miss two">

      {{ related.story("After Division Street: No simple path to ending tent cities", 'http://projects.sfchronicle.com/sf-homeless/division-street/', 'http://projects.sfchronicle.com/sf-homeless/static/images/division-street/thumb.jpg') }}

{{ related.story("Interactive map: 7 lives, 7 paths, little change", 'http://projects.sfchronicle.com/sf-homeless/division-street-map/', 'http://projects.sfchronicle.com/sf-homeless/static/images/division-street-map/thumb.gif') }}

{{ related.story("Chronicle investigation: Aging hotels, chronic problems", 'http://projects.sfchronicle.com/sf-homeless/hotels', 'http://projects.sfchronicle.com/sf-homeless/static/images/hotels/thumb.jpg') }}

{{ related.story("Seeking help: Federal disability aid an elusive solution", 'http://projects.sfchronicle.com/sf-homeless/benefits', 'http://projects.sfchronicle.com/sf-homeless/static/images/benefits/thumb.jpg') }}

{{ related.story("Long-term view: A problem that looked the same 20 years ago", 'http://projects.sfchronicle.com/sf-homeless/overview', 'http://projects.sfchronicle.com/sf-homeless/static/images/setup/01_thumb.jpg' ) }}

{{ related.story("Supportive housing: What would it take to solve homelessness?", 'http://projects.sfchronicle.com/sf-homeless/supportive-housing', 'http://projects.sfchronicle.com/sf-homeless/static/images/supportive/thumb.jpg') }}

{{ related.story("Mental illness: Are the most destitute people treatable?", 'http://projects.sfchronicle.com/sf-homeless/mental-health', 'http://projects.sfchronicle.com/sf-homeless/static/images/mental/thumb.jpg') }}

{{ related.story("Shelter system: Can a smarter model find success?", 'http://projects.sfchronicle.com/sf-homeless/shelters', 'http://projects.sfchronicle.com/sf-homeless/static/images/shelters/thumb.jpg') }}

{{ related.story("Law enforcement: Can stricter rules curb the crisis?", 'http://projects.sfchronicle.com/sf-homeless/encampments', 'http://projects.sfchronicle.com/sf-homeless/static/images/camping/thumb.jpg') }}

{{ related.story("Data analysis: How many people live on our streets?", 'http://projects.sfchronicle.com/sf-homeless/numbers', 'http://projects.sfchronicle.com/sf-homeless/static/images/data/10_thumb.jpg' ) }}

{{ related.story("Photographer’s lens: Portraits of life on SF's streets", 'http://projects.sfchronicle.com/sf-homeless/faces-of-the-streets', 'http://projects.sfchronicle.com/sf-homeless/static/images/portraits/07_thumb.jpg' ) }}

{{ related.story("Interactive guide: How to help homeless people in Bay Area", 'http://projects.sfchronicle.com/sf-homeless/how-to-help/', 'http://projects.sfchronicle.com/sf-homeless/static/images/how-to-help/thumb.jpg') }}

{{ related.story("Election 2016: How the candidates view homelessness", 'http://projects.sfchronicle.com/2016/candidates-homeless-survey/', 'http://projects.sfchronicle.com/2016/candidates-homeless-survey/assets/social.jpg') }}

{{ related.story("In their voices: How SF's last 5 mayors tackled homelessness", 'http://projects.sfchronicle.com/sf-homeless/letters-from-the-mayors', 'http://projects.sfchronicle.com/sf-homeless/static/images/insight/thumb.jpg' ) }}

{{ related.story("Letter to the City: The time to act is now", 'http://projects.sfchronicle.com/sf-homeless/letter-to-the-city/', 'http://projects.sfchronicle.com/sf-homeless/static/images/social/letter-to-the-city.jpg') }}

    </div>
  </div>

	{% include '_components/_footer.html' %}
</main>
{% endblock %}

{% block javascript %}
<script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script src="{{ url_for('static', filename='scripts/animation.velocity.js') }}"></script>

<script>
	$(document).ready(function() {
		App.init();
	});

	function populate_humans() {
		for (var i = 0; i < 3343; i ++) {
			if (Math.random() <= 0.66) {
				$('<i class="fa fa-male" aria-hidden="true"></i>').appendTo(".homeless");
			}
			else {
				$('<i class="fa fa-female" aria-hidden="true"></i>').appendTo(".homeless");
			}
		}
	}

	$(window).load(function() {

		populate_humans();

		var animationHeight = $('#homelessviz').height() - 60;

		var newSpeed;

		if (screen.width < 769) {
			newSpeed = 98000;

		}
		else {
			newSpeed = 30000;
		}

		$("#homelessviz").offset({top: 0 - animationHeight, left: 0});
		$("#homelessviz").removeClass("disappear");
		$("#homelessviz").velocity({
			top: '0px',
		}, {
			duration: newSpeed,
			easing: "linear"
		})
	});

	$("#homelessviz").velocity("finish");

	var controller = new ScrollMagic.Controller({globalSceneOptions: {reverse: false}});

	var scene = new ScrollMagic.Scene({triggerElement: "#trigger0"})
	.setVelocity("#animate0", {
		"font-size": "1.7em", 
		"line-height":"30",
		"color":"#ec1c24"}, {duration: 400})
	.addTo(controller);

	var scene = new ScrollMagic.Scene({triggerElement: "#trigger1"})
	.setVelocity("#animate1", {
		"font-size": "1.7em", 
		"line-height":"30",
		"margin":"4",
		"display":"inline-block",
		"color":"#ec1c24"}, {duration: 400})
	.addTo(controller);

	var scene = new ScrollMagic.Scene({triggerElement: "#trigger2"})
	.setVelocity("#animate2", {
		"font-size": "1.7em", 
		"line-height":"28",
		"margin":"4",
		"display":"inline-block",
		"color":"#ec1c24"}, {duration: 400})
	.addTo(controller);

	var scene = new ScrollMagic.Scene({triggerElement: "#trigger3"})
	.setVelocity("#animate3", {
		"font-size": "1.7em", 
		"line-height":"35",
		"margin":"4",
		"display":"inline-block",
		"color":"#ec1c24"}, {duration: 400})
	.addTo(controller);

	var scene = new ScrollMagic.Scene({triggerElement: "#trigger4"})
	.setVelocity("#animate4", {
		"font-size": "1.6em", 
		"line-height":"35",
		"display":"inline-block",
		"color":"#ec1c24"}, {duration: 400})
	.addTo(controller);

</script>
{% endblock %}