{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

<div id="homelesscontainer">

	<div class="header-opinion">
		<div class="headline-opinion">6,686</div>
		<h1 class="title h2-opinion">A civic disgrace</h1>
		<h2>The reduction of homelessness to the extent humanly possible must be San Francisco’s No. 1 priority.</h2>

		<div>
			<h5>EDITORIAL</h5>
			<p class="date">July 3, 2016</p>
		</div>
	</div>	

	<div class="disappear" id="homelessviz">
		<span class="homeless"></span>
	</div>
</div>
<div class="footnote">* Each figure represents 2</div>
	{% include '_text/opinion.html' %}
	
	<p class="bottom-footnote">Footnote for using the number 6,686 with link to <a href="{{ url_for('data') }}">data story</a>.</p>
	<hr style="width: 75%;max-width:710px;">
	<!-- VIDEO -->
	<div class="inline-img">
		<p class="text-hed">About Beyond Homelessness</p>
	    <div class='embed-container'><iframe src='https://player.vimeo.com/video/171866623' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
	    <p class="caption"><span class="byline">Video: Erin Brethauer and Tim Hussin, The Chronicle<br>Edited by Erin Brethauer</span></p>
	</div>

	<div class="max">
		<hr>
		<div class="credits">
			{% import '_components/_credits.html' as credit %}
			<!-- Variables are name, email slug and twitter handle -->
			{{ credit.info('San Francisco Chronicle', 'letters', 'sfchronicle' ) }}
			<br>
			Interactive producers
			{{ credit.info('Lucio Villa', 'lvilla', 'luciovilla' ) }}
			{{ credit.info('Benjamin Din', 'bdin', 'benjamindin' ) }}
			{{ credit.info("Emma O'Neill", "eoneill", "emmaruthoneill" ) }}
		</div>
	</div>

	{% import '_components/_related_stories.html' as related %}
    <div class="max">
        <hr>
        <div class="dont-miss">

            {{ related.story("Solution starts with supportive housing", '/sf-homeless/supportive-housing', '../static/images/supportive/thumb.jpg' ) }}

            {{ related.story("The mentally ill: Streets' costliest residents", '/sf-homeless/mental-health', '../static/images/mental/thumb.jpg' ) }}

            {{ related.story("Can the shelter system be successful?", '/sf-homeless/shelters', '../static/images/shelters/thumb.jpg' ) }}

            {{ related.story("Can law enforcement curb the crisis?", '/sf-homeless/encampments', '../static/images/camping/thumb.jpg' ) }}

            {{ related.story("A problem that looked the same 20 years ago", '/sf-homeless/overview', '../static/images/setup/01_thumb.jpg' ) }}

            {{ related.story("How many people live on our streets?", '/sf-homeless/numbers', '../static/images/data/10_thumb.jpg' ) }}

            {{ related.story("Portraits of life on SF's streets", '/sf-homeless/faces-of-the-streets', '../static/images/portraits/07_thumb.jpg' ) }}

            {{ related.story("How SF's last 5 mayors tackled homelessness", '/sf-homeless/letters-from-the-mayors', '../static/images/insight/mayors.jpg' ) }}
        </div>
    </div>

	{% include '_components/_footer.html' %}
</main>
{% endblock %}

{% block javascript %}
<script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script src="http://scrollmagic.io/scrollmagic/uncompressed/plugins/animation.velocity.js"></script>

<script>
	$(document).ready(function() {
		App.init();
	});

	function populate_humans() {
		for (var i = 0; i < 3343; i ++) {
			if (Math.random() <= 0.66) {
				$('<i class="fa fa-male" aria-hidden="true"></i>').appendTo(".homeless");
			}
			else {
				$('<i class="fa fa-female" aria-hidden="true"></i>').appendTo(".homeless");
			}
		}
	}

	$(document).ready(function() {
		populate_humans();
	});

	$(window).load(function() {

		var animationHeight = $('#homelessviz').height() - 60;

		var newSpeed;

		var Easing;

		if (screen.width < 769) {
			newSpeed = 98000;
			Easing = "linear";

		}
		else {

			newSpeed = 30000;
			Easing = "linear";
			
		}

		$("#homelessviz").offset({top: 0 - animationHeight, left: 0});
		$("#homelessviz").removeClass("disappear");
		$("#homelessviz").velocity({
			top: '0px',
		}, {
			duration: newSpeed,
			easing: Easing
		})
	});

	$("#homelessviz").velocity("finish");


	function sticky_relocate() {
		var window_top = $(window).scrollTop();
		var div_top = $('#sticky-anchor').offset().top - 40;
		if (window_top > div_top) {
				$('#sticky-element').addClass('sticky');
				$('.menu-navigation').addClass('sticky');
		} else {
				$('#sticky-element').removeClass('sticky');
				$('.menu-navigation').removeClass('sticky');
		}
	}

	$(function() {
		$(window).scroll(sticky_relocate);
		sticky_relocate();
	});

	var controller = new ScrollMagic.Controller({globalSceneOptions: {reverse: false}});

	var scene = new ScrollMagic.Scene({triggerElement: "#trigger0"})
	// trigger a velocity opaticy animation
	.setVelocity("#animate0", {
		"font-size": "1.7em", 
		"line-height":"30",
		"color":"#ec1c24"}, {duration: 400})
	.addTo(controller);

	var scene = new ScrollMagic.Scene({triggerElement: "#trigger1"})
	// trigger a velocity opaticy animation
	.setVelocity("#animate1", {
		"font-size": "1.7em", 
		"line-height":"30",
		"margin":"4",
		"display":"inline-block",
		"color":"#ec1c24"}, {duration: 400})
	.addTo(controller);

	var scene = new ScrollMagic.Scene({triggerElement: "#trigger2"})
	// trigger a velocity opaticy animation
	.setVelocity("#animate2", {
		"font-size": "1.7em", 
		"line-height":"28",
		"margin":"4",
		"display":"inline-block",
		"color":"#ec1c24"}, {duration: 400})
	.addTo(controller);

	var scene = new ScrollMagic.Scene({triggerElement: "#trigger3"})
	// trigger a velocity opaticy animation
	.setVelocity("#animate3", {
		"font-size": "1.7em", 
		"line-height":"35",
		"margin":"4",
		"display":"inline-block",
		"color":"#ec1c24"}, {duration: 400})
	.addTo(controller);

	var scene = new ScrollMagic.Scene({triggerElement: "#trigger4"})
	// trigger a velocity opaticy animation
	.setVelocity("#animate4", {
		"font-size": "1.6em", 
		"line-height":"35",
		"display":"inline-block",
		"color":"#ec1c24"}, {duration: 400})
	.addTo(controller);

</script>
{% endblock %}