{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

	<div class="title-container">
		<div>
			<h1 class="title portrait-title">Faces of the streets</h1>
			<!-- {% include '_components/_social_links.html' %} -->
			<p class="date">June 28, 2016</p>

		</div>
	</div>


	<div class="container">

			<ul class="gridder gridder-1">
				
				<li class="gridder-list" data-griddercontent="#gridder-content-0">
					<img src="../static/images/portraits/01.jpg" class="img-responsive">
				</li>

				<li class="gridder-list" data-griddercontent="#gridder-content-1">
					<img src="../static/images/portraits/02.jpg" class="img-responsive">
				</li>

				<li class="gridder-list" data-griddercontent="#gridder-content-2">
					<img src="../static/images/portraits/03.jpg" class="img-responsive">
				</li>

				<li class="gridder-list" data-griddercontent="#gridder-content-3">
					<img src="../static/images/portraits/07.jpg" class="img-responsive">
				</li>

				<li class="gridder-list" data-griddercontent="#gridder-content-4">
					<img src="../static/images/portraits/05.jpg" class="img-responsive">
				</li>

				<li class="gridder-list" data-griddercontent="#gridder-content-5">
					<img src="../static/images/portraits/06.jpg" class="img-responsive">
				</li>

				<li class="gridder-list" data-griddercontent="#gridder-content-7">
					<img src="../static/images/portraits/08-2.jpg" class="img-responsive">
				</li>

				<li class="gridder-list" data-griddercontent="#gridder-content-8">
					<img src="../static/images/portraits/09-2.jpg" class="img-responsive">
				</li>

				<li class="gridder-list" data-griddercontent="#gridder-content-9">
					<img src="../static/images/portraits/10-2.jpg" class="img-responsive">
				</li>

				<li class="gridder-list" data-griddercontent="#gridder-content-10">
					<img src="../static/images/portraits/11.jpg" class="img-responsive">
				</li>

				<li class="gridder-list" data-griddercontent="#gridder-content-11">
					<img src="../static/images/portraits/12.jpg" class="img-responsive">
				</li>

				<li class="gridder-list" data-griddercontent="#gridder-content-13">
					<img src="../static/images/portraits/14.jpg" class="img-responsive">
				</li>

			</ul>

			<div id="gridder-content-0" class="gridder-content">
				<div class="">
					<div class="large-9 columns">
						<div id="carousel-0" class=" slide">
							<div class="" role="listbox">
								<div class="item">
									<img src="../static/images/portraits/01.jpg" class="img-responsive">
								</div>
							</div>
						</div>
					</div>
					<div class="large-3 portrait-caption columns">
						<h2>Deanna Daly</h2>
						<p>Everything is a challenge when you live on the streets. There’s no microwave, no place to cook, no refrigerator, no place to do laundry, no rest from the noise on the streets. There’s no restroom. There’s constantly something. It’s hard to keep a job — and getting a job often requires a car or identification, things that Deanna Daly, 31, doesn’t have. “There’s a lot of things you have to do to survive (on the streets). Every little thing is like work.”</p>
						<div class="gridder-navigation"><a href="#" class="gridder-close">Close</a><a href="#" class="gridder-nav prev ">Previous</a><a href="#" class="gridder-nav next ">Next</a></div>
					</div>
				</div>
			</div>

			<div id="gridder-content-1" class="gridder-content">
				<div class="">
					<div class="large-9 columns">
						<div id="carousel-0" class=" slide">
							<div class="" role="listbox">
								<div class="item">
									<img src="../static/images/portraits/02.jpg" class="img-responsive">
								</div>
							</div>
						</div>
					</div>
					<div class="large-3 portrait-caption columns">
						<h2>John White</h2>
						<p>With Ariel Young (right), White moved to Division Street in April, when a few people lived there. White, 51, says that by June, it was kind of crowded and then it thinned out, but it’s nothing like it is now. Now, there’s no space at all on the sidewalk. Young is pregnant, and the couple are trying to find a place to live.</p>
						<div class="gridder-navigation"><a href="#" class="gridder-close">Close</a><a href="#" class="gridder-nav prev ">Previous</a><a href="#" class="gridder-nav next ">Next</a></div>
					</div>
				</div>
			</div>
			
			<div id="gridder-content-2" class="gridder-content">
				<div class="">
					<div class="large-9 columns">
						<div id="carousel-0" class=" slide">
							<div class="" role="listbox">
								<div class="item">
									<img src="../static/images/portraits/03.jpg" class="img-responsive">
								</div>
							</div>
						</div>
					</div>
					<div class="large-3 portrait-caption columns">
						<h2>David Tompkins</h2>
						<p>The temporary homeless shelter at Pier 80 was a place for Tompkins to find himself again. “People say I’m changing, but I’m not really changing. When you’re out there, you become something you’re not,” says Tompkins, 56. “I’m becoming me again.” The shelter allowed him to bring his dog, provided him access to a clinic and a place to sleep, and he received the care he needed.</p>
						<div class="gridder-navigation"><a href="#" class="gridder-close">Close</a><a href="#" class="gridder-nav prev ">Previous</a><a href="#" class="gridder-nav next ">Next</a></div>
					</div>
				</div>
			</div>
			
			<div id="gridder-content-3" class="gridder-content">
				<div class="">
					<div class="large-9 columns">
						<div id="carousel-0" class=" slide">
							<div class="" role="listbox">
								<div class="item">
									<img src="../static/images/portraits/07.jpg" class="img-responsive">
								</div>
							</div>
						</div>
					</div>
					<div class="large-3 portrait-caption columns">
						<h2>Christine Boyer</h2>
						<p>“People around here are great,” says Boyer, 52. “They are very forgiving, and they help us every day. I mean every day. It’s just a normal living. Even though we don’t live in a house, it still feels more normal than it did” when her family was at an encampment on Potrero Avenue and Cesar Chavez Street. Her family now stays in the Financial District. “I keep a sign on our cart that says that we’re a homeless family with a disabled son and that we need food and blankets and clothing and stuff, and there’s always little surprise gift bags outside our cart when we get up in the mornings. Sometimes shoes, sometimes blankets, clothes, most of the time food, and there’s always at least one person a day that comes by and drops off a $20 bill.</p>
						<div class="gridder-navigation"><a href="#" class="gridder-close">Close</a><a href="#" class="gridder-nav prev ">Previous</a><a href="#" class="gridder-nav next ">Next</a></div>
					</div>
				</div>
			</div>
			
			<div id="gridder-content-4" class="gridder-content">
				<div class="">
					<div class="large-9 columns">
						<div id="carousel-0" class=" slide">
							<div class="" role="listbox">
								<div class="item">
									<img src="../static/images/portraits/05.jpg" class="img-responsive">
								</div>
							</div>
						</div>
					</div>
					<div class="large-3 portrait-caption columns">
						<h2>Donald Abel</h2>
						<p>“I decided I'm not going to die in the streets. I'm going to trust in the system and give Pier 80 a try,” said Abel, 60. Pier 80 is a temporary homeless shelter the city set up in February. It allows people to stay with their partners, pets and belongings, and case managers visit residents daily. The shelter is expected to close July 1.</p>
						<div class="gridder-navigation"><a href="#" class="gridder-close">Close</a><a href="#" class="gridder-nav prev ">Previous</a><a href="#" class="gridder-nav next ">Next</a></div>
					</div>
				</div>
			</div>
			
			<div id="gridder-content-5" class="gridder-content">
				<div class="">
					<div class="large-8 columns">
						<div id="carousel-0" class=" slide">
							<div class="" role="listbox">
								<div class="item">
									<img src="../static/images/portraits/06.jpg" class="img-responsive">
								</div>
							</div>
						</div>
					</div>
					<div class="large-4 portrait-caption columns">
						<h2>Erik Otten</h2>
						<p> Otten lost his job, his family, his home, his cars. “I was stripped for everything, and I was spit out into being homeless.” That’s how he found St. Anthony’s, the social services organization that helps the poor. He arrived there alone, struggling with sobriety. He recalls standing in line at St. Anthony’s Dining Room in the Tenderloin and seeing a woman carrying a Winnie the Pooh stuffed animal. “I remember staring at the animal like, ‘Damn, what happened, man?’ I missed my wife, she was my best friend. I loved my job, I lost it. ... Loved my family, lost that. Had a house, lost. ... I was just reflecting on everything I lost and why I was this drug addict,” he recalls. Nearly five years later — and now an employee at St. Anthony’s — he saw the same lady in line. “I just got the chills, like God ran through me, like, ‘Yeah, you’re on the other side.’ “I talk to the guys all the time like how far I’ve come, and do my best not to make them like feel alone,” he says.</p>
						<div class="gridder-navigation"><a href="#" class="gridder-close">Close</a><a href="#" class="gridder-nav prev ">Previous</a><a href="#" class="gridder-nav next ">Next</a></div>
					</div>
				</div>
			</div>
			
			<div id="gridder-content-6" class="gridder-content">
				<div class="">
					<div class="large-9 columns">
						<div id="carousel-0" class=" slide">
							<div class="" role="listbox">
								<div class="item">
									<img src="../static/images/portraits/07.jpg" class="img-responsive">
								</div>
							</div>
						</div>
					</div>
					<div class="large-3 portrait-caption columns">
						<h2>Deanna Daly, 31</h2>
						<p>Everything is a challenge when you live on the streets. There’s no microwave, no place to cook, no refrigerator, no place to do laundry, no rest from the noise on the streets. There’s no restroom. There’s constantly something. It’s hard to keep a job — and getting a job, often requires a car, or identification, things that Deanna Daly, 31, doesn’t have. “There’s a lot of things you have to do to survive (on the streets). Every little thing is like work.”</p>
						<div class="gridder-navigation"><a href="#" class="gridder-close">Close</a><a href="#" class="gridder-nav prev ">Previous</a><a href="#" class="gridder-nav next ">Next</a></div>
					</div>
				</div>
			</div>
			
			<div id="gridder-content-7" class="gridder-content">
				<div class="">
					<div class="large-6 columns">
						<div id="carousel-0" class=" slide">
							<div class="" role="listbox">
								<div class="item">
									<img src="../static/images/portraits/08.jpg" class="img-responsive">
								</div>
							</div>
						</div>
					</div>
					<div class="large-5 columns">
						<h2>Alberto Terrell</h2>
						<p>“It’s difficult being homeless,” says Alberto Terrell, 55. “I have medical problems and I needed a new pair of shoes, and that is the honest to God truth. It’s hard, but you know what, if you try to at least go to some of the places that will help you, you feel a little better. ... It’s good because I have a quarter of a bone missing in my leg, so new shoes help me balance because I have a lift in my left leg. It will be very helpful, and I really appreciate it.”</p>
						<div class="gridder-navigation"><a href="#" class="gridder-close">Close</a><a href="#" class="gridder-nav prev ">Previous</a><a href="#" class="gridder-nav next ">Next</a></div>
					</div>
				</div>
			</div>
			
			<div id="gridder-content-8" class="gridder-content">
				<div class="">
					<div class="large-9 columns">
						<div id="carousel-0" class=" slide">
							<div class="" role="listbox">
								<div class="item">
									<img src="../static/images/portraits/09.jpg" class="img-responsive">
								</div>
							</div>
						</div>
					</div>
					<div class="large-3 portrait-caption columns">
						<h2>Ashley Moore-Motte</h2>
						<p>As a nurse, Ashley Moore-Motte, 32, would sometimes work intensely with patients for 12 hours and never see them again. But she wanted more. She wanted to feel the connections she made in nursing school when she spent a rotation working at the Empress Hotel, a supportive-housing program where she got to know her patients and understood the challenges they faced in managing their health. Moore-Motte is a primary-care nurse for UCSF and works at Rene Cazenave Apartments, which provides supportive services for the formerly chronically homeless. “With a place like this, I get to make connections with people over time; see them grow, see them fall, and really be a part of a family,” she says. “Having stable food, clothing, and shelter makes it so that you can start to actually pay attention to your health and your well-being, and get your diabetes under control or get your HIV levels to an undetectable level.”</p>
						<div class="gridder-navigation"><a href="#" class="gridder-close">Close</a><a href="#" class="gridder-nav prev ">Previous</a><a href="#" class="gridder-nav next ">Next</a></div>
					</div>
				</div>
			</div>
			
			<div id="gridder-content-9" class="gridder-content">
				<div class="">
					<div class="large-9 columns">
						<div id="carousel-0" class=" slide">
							<div class="" role="listbox">
								<div class="item">
									<img src="../static/images/portraits/10.jpg" class="img-responsive">
								</div>
							</div>
						</div>
					</div>
					<div class="large-3 portrait-caption columns">
						<h2>Annice Jacoby</h2>
						<p>Annice Jacoby was walking down Mission Street on a gorgeous day, and sprawled on the sidewalk was a man, passed out and surrounded by broken glass.</p>

						<p>“I was horrified that he was going to roll over and cut himself, and there were dozens of people just walking around him and that was so disturbing. I picked up the glass and I had this thought that I wanted him under cover. I wanted him protected,” she said. That’s how she came up with the idea of Undercover, which provides blankets to people on the streets with messages that call attention to homelessness.</p>

						<p>“This is something that we can fix. The opportunity and the challenge is to the whole city to use our creativity and ingenuity to address this, not in 10-year plans but immediately,” Jacoby said.</p>
						<div class="gridder-navigation"><a href="#" class="gridder-close">Close</a><a href="#" class="gridder-nav prev ">Previous</a><a href="#" class="gridder-nav next ">Next</a></div>
					</div>
				</div>
			</div>
			
			<div id="gridder-content-10" class="gridder-content">
				<div class="">
					<div class="large-9 columns">
						<div id="carousel-0" class=" slide">
							<div class="" role="listbox">
								<div class="item">
									<img src="../static/images/portraits/11.jpg" class="img-responsive">
								</div>
							</div>
						</div>
					</div>
					<div class="large-3 portrait-caption columns">
						<h2>Jose Bernal</h2>
						<p>Housing is often the missing link for the clients Jose Bernal works with. Bernal, 28, is a program manager at Hospitality House. “I’ve connected people with medical services, therapy services — but when it comes to housing it’s just, it’s tough. What we do is we help them fill out applications, but essentially most of the time they’re getting put onto wait lists that are three years, five years, and when their name finally comes up, they’re still competing with other people. It breaks my heart. It really does.”</p>
						<div class="gridder-navigation"><a href="#" class="gridder-close">Close</a><a href="#" class="gridder-nav prev ">Previous</a><a href="#" class="gridder-nav next ">Next</a></div>
					</div>
				</div>
			</div>
			
			<div id="gridder-content-11" class="gridder-content">
				<div class="">
					<div class="large-9 columns">
						<div id="carousel-0" class=" slide">
							<div class="" role="listbox">
								<div class="item">
									<img src="../static/images/portraits/12.jpg" class="img-responsive">
								</div>
							</div>
						</div>
					</div>
					<div class="large-3 portrait-caption columns">
						<h2>Tony Roberson</h2>
						<p>“I’ve never seen as many tent cities up under the freeways, out at the park,” says Roberson, who is 63 and became homeless two years ago. He was priced out of his home and sees firsthand the struggles of being homeless. “You got people that are mentally disturbed,” he says. “They don’t have an advocate to speak for them, and they get frustrated and just say, ‘The hell with it,’ and they just go to the streets and that’s really sad. ... Can I see San Francisco getting any better as far as the homeless? I hope and pray. That’s all I can do. There’s a lot of things in the city that need to be fixed, but you got to do them one at a time.”</p>
						<div class="gridder-navigation"><a href="#" class="gridder-close">Close</a><a href="#" class="gridder-nav prev ">Previous</a><a href="#" class="gridder-nav next ">Next</a></div>
					</div>
				</div>
			</div>
			
			<div id="gridder-content-12" class="gridder-content">
				<div class="">
					<div class="large-9 columns">
						<div id="carousel-0" class=" slide">
							<div class="" role="listbox">
								<div class="item">
									<img src="../static/images/portraits/13.jpg" class="img-responsive">
								</div>
							</div>
						</div>
					</div>
					<div class="large-3 portrait-caption columns">
						<h2>Deanna Daly, 31</h2>
						<p>Everything is a challenge when you live on the streets. There’s no microwave, no place to cook, no refrigerator, no place to do laundry, no rest from the noise on the streets. There’s no restroom. There’s constantly something. It’s hard to keep a job — and getting a job, often requires a car, or identification, things that Deanna Daly, 31, doesn’t have. “There’s a lot of things you have to do to survive (on the streets). Every little thing is like work.”</p>
						<div class="gridder-navigation"><a href="#" class="gridder-close">Close</a><a href="#" class="gridder-nav prev ">Previous</a><a href="#" class="gridder-nav next ">Next</a></div>
					</div>
				</div>
			</div>
			
			<div id="gridder-content-13" class="gridder-content">
				<div class="">
					<div class="large-9 columns">
						<div id="carousel-0" class=" slide">
							<div class="" role="listbox">
								<div class="item">
									<img src="../static/images/portraits/14.jpg" class="img-responsive">
								</div>
							</div>
						</div>
					</div>
					<div class="large-3 portrait-caption columns">
						<h2>Dawn Towner</h2>
						<p>With her son, David, 34, Towner had been living on the streets for a year when a Homeless Outreach Team found them at Florida and Treat streets and made them an offer they couldn’t pass up: Come to the Navigation Center, where they could not only have a place to sleep but also work with case managers. Towner, 54, and her son nearly missed their ride to the center in the Mission District, but made it. “I had to keep pinching myself because I thought that was the best that it was ever going to get again,” she says. “I was so accepting the fact that I was going to be on the street the rest of my life, and I still can’t believe that we’re here.”</p>
						<div class="gridder-navigation"><a href="#" class="gridder-close">Close</a><a href="#" class="gridder-nav prev ">Previous</a><a href="#" class="gridder-nav next ">Next</a></div>
					</div>
				</div>
			</div>

							
							
		</div>
        <script>
            
        </script>

	<div class="max" style="clear: both;">
		<hr>
		<div class="credits">
			{% import '_components/_credits.html' as credit %}
			<!-- Variables are name, email slug and twitter handle -->
			Interactive producers
			{{ credit.info('Lucio Villa', 'lvilla', 'luciovilla' ) }}
			{{ credit.info('Benjamin Din', 'bdin', 'benjamindin' ) }}
			{{ credit.info("Emma O'Neill", "eoneill", "emmaruthoneill" ) }}
		</div>
	</div>

	{% import '_components/_related_stories.html' as related %}
	<div class="max">
		<hr>
		<div class="dont-miss">
		<!-- Variables are title, url and image url --><!-- 
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }} -->
		</div>
	</div>

	{% include '_components/_footer.html' %}

</main>
{% endblock %}

{% block javascript %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function() {
		App.init();
	});
	jQuery(document).ready(function ($) {

                // Call Gridder
                $(".gridder-1").gridderExpander({
					scroll: true,
					scrollOffset: 0,
					scrollTo: "panel", // panel or listitem
					animationSpeed: 400,
					animationEasing: "easeInOutExpo",
					onStart: function(){
					},
					onContent: function(){
						
						$(".carousel").carousel();
					},
					onClosed: function(){
						scrollOffset: 0
					}
                });

            });
	// function sticky_relocate() {
	// 	var window_top = $(window).scrollTop();
	// 	var div_top = $('#sticky-anchor').offset().top - 40;
	// 	if (window_top > div_top) {
	// 			$('#sticky-element').addClass('sticky');
	// 			$('.menu-navigation').addClass('sticky');
	// 	} else {
	// 			$('#sticky-element').removeClass('sticky');
	// 			$('.menu-navigation').removeClass('sticky');
	// 	}
	// }
	// $(function() {
	// 		$(window).scroll(sticky_relocate);
	// 		sticky_relocate();
	// });
</script>
{% endblock %}
