{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block hearst_title %}Overview{% endblock %}
{% block hearst_class %}article{% endblock %}
{% block hearst_date %}2016-06-26 00:00:00{% endblock %}
{% block author %}Kevin Fagan, Lea Suzuki, Brant Ward, Nicole Frugé, Lucio Villa, Emma O'Neill, Rahul Mukherjee, Benjamin Din{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

	<div class="title-container">
		<div>
			<h1 class="title long">SF homeless problem looks the same as it did 20 years ago</h1>
			<!-- {% include '_components/_social_links.html' %} -->
			<p class="author">By Kevin Fagan</p>
			<p class="date">June 26, 2016</p>
			<div class="full-width-img">
			    <img src="{{ url_for('static', filename='images/setup/01-1.jpg') }}">
			    <p class="caption"><span class="year">Winter 2002</span>  Grimes Poznikov, called the Automatic Human Jukebox when he performed at Fisherman’s Wharf in the 1970s and ’80s, was living on the streets when this photo was taken. Three years later, he was found dead on a city sidewalk from alcohol poisoning.<span class="byline"> Photo: Brant Ward, The Chronicle</span></p>
			</div>
		</div>
	</div>

	{% include '_text/setup.html' %}

	<div class="max">
		<hr>
		<div class="credits">
			{% import '_components/_credits.html' as credit %}
			<!-- Variables are name, email slug and twitter handle -->
			<div class="group">
				<p>Reporter</p>
				{{ credit.info('Kevin Fagan', 'kfagan', 'KevinChron' ) }}
			</div>
			<div class="group">
				<p>Interactive producers</p>
				{{ credit.info('Lucio Villa', 'lvilla', 'luciovilla' ) }}
				{{ credit.info('Benjamin Din', 'bdin', 'benjamindin' ) }}
				{{ credit.info("Emma O'Neill", "eoneill", "emmaruthoneill" ) }}
			</div>
		</div>
		<hr>
	</div>

	{% import '_components/_related_stories.html' as related %}
  <div>
    
    <div class="related-links-title"><a href="http://projects.sfchronicle.com/sf-homeless/"><h3>Beyond Homelessness Coverage</h3></a></div>
    <div class="dont-miss two">

      {{ related.story("After Division Street: No simple path to ending tent cities", 'http://projects.sfchronicle.com/sf-homeless/division-street/', 'http://projects.sfchronicle.com/sf-homeless/static/images/division-street/thumb.jpg') }}

{{ related.story("Interactive map: 7 lives, 7 paths, little change", 'http://projects.sfchronicle.com/sf-homeless/division-street-map/', 'http://projects.sfchronicle.com/sf-homeless/static/images/division-street-map/thumb.gif') }}

{{ related.story("Chronicle investigation: Aging hotels, chronic problems", 'http://projects.sfchronicle.com/sf-homeless/hotels', 'http://projects.sfchronicle.com/sf-homeless/static/images/hotels/thumb.jpg') }}

{{ related.story("Seeking help: Federal disability aid an elusive solution", 'http://projects.sfchronicle.com/sf-homeless/benefits', 'http://projects.sfchronicle.com/sf-homeless/static/images/benefits/thumb.jpg') }}

{{ related.story("Supportive housing: What would it take to solve homelessness?", 'http://projects.sfchronicle.com/sf-homeless/supportive-housing', 'http://projects.sfchronicle.com/sf-homeless/static/images/supportive/thumb.jpg') }}

{{ related.story("Mental illness: Are the most destitute people treatable?", 'http://projects.sfchronicle.com/sf-homeless/mental-health', 'http://projects.sfchronicle.com/sf-homeless/static/images/mental/thumb.jpg') }}

{{ related.story("Shelter system: Can a smarter model find success?", 'http://projects.sfchronicle.com/sf-homeless/shelters', 'http://projects.sfchronicle.com/sf-homeless/static/images/shelters/thumb.jpg') }}

{{ related.story("Law enforcement: Can stricter rules curb the crisis?", 'http://projects.sfchronicle.com/sf-homeless/encampments', 'http://projects.sfchronicle.com/sf-homeless/static/images/camping/thumb.jpg') }}

{{ related.story("Data analysis: How many people live on our streets?", 'http://projects.sfchronicle.com/sf-homeless/numbers', 'http://projects.sfchronicle.com/sf-homeless/static/images/data/10_thumb.jpg' ) }}

{{ related.story("Photographer’s lens: Portraits of life on SF's streets", 'http://projects.sfchronicle.com/sf-homeless/faces-of-the-streets', 'http://projects.sfchronicle.com/sf-homeless/static/images/portraits/07_thumb.jpg' ) }}

{{ related.story("Interactive guide: How to help homeless people in Bay Area", 'http://projects.sfchronicle.com/sf-homeless/how-to-help/', 'http://projects.sfchronicle.com/sf-homeless/static/images/how-to-help/thumb.jpg') }}

{{ related.story("Election 2016: How the candidates view homelessness", 'http://projects.sfchronicle.com/2016/candidates-homeless-survey/', 'http://projects.sfchronicle.com/2016/candidates-homeless-survey/assets/social.jpg') }}

{{ related.story("In their voices: How SF's last 5 mayors tackled homelessness", 'http://projects.sfchronicle.com/sf-homeless/letters-from-the-mayors', 'http://projects.sfchronicle.com/sf-homeless/static/images/insight/thumb.jpg' ) }}

{{ related.story("Editorial: Homelessness remains a civic disgrace", 'http://projects.sfchronicle.com/sf-homeless/civic-disgrace', 'http://projects.sfchronicle.com/sf-homeless/static/images/editorial/thumb.png' ) }}

{{ related.story("Letter to the City: The time to act is now", 'http://projects.sfchronicle.com/sf-homeless/letter-to-the-city/', 'http://projects.sfchronicle.com/sf-homeless/static/images/social/letter-to-the-city.jpg') }}

    </div>
  </div>


	{% include '_components/_footer.html' %}
</main>
{% endblock %}

{% block javascript %}

<script src="http://projects.sfchronicle.com/shared/js/pym.min.js"></script>

<script>
	$(document).ready(function() {
		App.init();
	});

	// for photo gallery
	var gallery1_idx = 0;
	var gallery_len = 13;
	// set up clicking to update map interactive on mobile
	document.getElementById("scrollRight-Gallery1").addEventListener("click", function() {
	  gallery1_idx = gallery1_idx+1;
	  $(".photoG1").removeClass("active");
	  $("#photoG1"+gallery1_idx).addClass("active");
	  if (gallery1_idx == (gallery_len-1)) {
	    $("#scrollRight-Gallery1").addClass("last");
	  } else {
	    $("#scrollRight-Gallery1").removeClass("last");
	  };
	  if (gallery1_idx == 0) {
	    $("#scrollLeft-Gallery1").addClass("first");
	  } else {
	    $("#scrollLeft-Gallery1").removeClass("first");
	  };
	});
	document.getElementById("scrollLeft-Gallery1").addEventListener("click", function() {
	  gallery1_idx = gallery1_idx-1;
	  $(".photoG1").removeClass("active");
	  $("#photoG1"+gallery1_idx).addClass("active");
	  if (gallery1_idx == (gallery_len-1)) {
	    $("#scrollRight-Gallery1").addClass("last");
	  } else {
	    $("#scrollRight-Gallery1").removeClass("last");
	  };
	  if (gallery1_idx == 0) {
	    $("#scrollLeft-Gallery1").addClass("first");
	  } else {
	    $("#scrollLeft-Gallery1").removeClass("first");
	  };
	});

	var pymParent = new pym.Parent('usmap', '{{ url_for('static', filename='interactives/setup/usmap.html') }}', {});
	var pymParenttwo = new pym.Parent('sfmap', '{{ url_for('static', filename='interactives/setup/sfmap.html') }}', {});
</script>

{% endblock %}
