{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block hearst_title %}Overview{% endblock %}
{% block hearst_class %}article{% endblock %}
{% block hearst_date %}2016-06-26 00:00:00{% endblock %}
{% block author %}Kevin Fagan, Lea Suzuki, Brant Ward, Nicole Frugé, Lucio Villa, Emma O'Neill, Rahul Mukherjee, Benjamin Din{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

	<div class="title-container">
		<div>
			<h1 class="title long">SF homeless problem looks the same as it did 20 years ago</h1>
			<!-- {% include '_components/_social_links.html' %} -->
			<p class="author">By Kevin Fagan</p>
			<p class="date">June 26, 2016</p>
			<div class="full-width-img">
			    <img src="{{ url_for('static', filename='images/setup/01-1.jpg') }}">
			    <p class="caption"><span class="year">Nov. 1, 2005 </span> Grimes Poznikov, who once thrived as a performer known as the Automatic Human Jukebox on Fisherman’s Wharf, stands amidst a vast pile of refuse. Over the decades, thousands of people have made San Francisco’s sidewalks their home.<span class="byline"> Photo: Brant Ward, The Chronicle</span></p>
			</div>
		</div>
	</div>

	{% include '_text/setup.html' %}

	<div class="max">
		<hr>
		<div class="credits">
			{% import '_components/_credits.html' as credit %}
			<!-- Variables are name, email slug and twitter handle -->
			<div class="group">
				<p>Reporter</p>
				{{ credit.info('Kevin Fagan', 'kfagan', 'KevinChron' ) }}
			</div>
			<div class="group">
				<p>Interactive producers</p>
				{{ credit.info('Lucio Villa', 'lvilla', 'luciovilla' ) }}
				{{ credit.info('Benjamin Din', 'bdin', 'benjamindin' ) }}
				{{ credit.info("Emma O'Neill", "eoneill", "emmaruthoneill" ) }}
			</div>
		</div>
	</div>

	{% import '_components/_related_stories.html' as related %}
	<div class="max">
		<hr>
		<!-- <div  class="divider-text">Read related stories</div> -->
		<div class="dont-miss">
		<!-- Variables are title, url and image url -->
			{{ related.story('In their words: How SF's last 5 mayors tackled homelessness', '/sf-homeless/letters-from-the-mayors', '../static/images/insight/mayors.jpg' ) }}
		</div>
	</div>


	{% include '_components/_footer.html' %}
</main>
{% endblock %}

{% block javascript %}

<script src="http://projects.sfchronicle.com/shared/js/pym.min.js"></script>

<script>
	$(document).ready(function() {
		App.init();
	});
	function sticky_relocate() {
		var window_top = $(window).scrollTop();
		var div_top = $('#sticky-anchor').offset().top - 40;
		if (window_top > div_top) {
				$('#sticky-element').addClass('sticky');
				$('.menu-navigation').addClass('sticky');
		} else {
				$('#sticky-element').removeClass('sticky');
				$('.menu-navigation').removeClass('sticky');
		}
	}
	$(function() {
			$(window).scroll(sticky_relocate);
			sticky_relocate();
	});

	// for photo gallery
	var gallery1_idx = 0;
	var gallery_len = 13;
	// set up clicking to update map interactive on mobile
	document.getElementById("scrollRight-Gallery1").addEventListener("click", function() {
	  gallery1_idx = gallery1_idx+1;
	  $(".photoG1").removeClass("active");
	  $("#photoG1"+gallery1_idx).addClass("active");
	  if (gallery1_idx == (gallery_len-1)) {
	    $("#scrollRight-Gallery1").addClass("last");
	  } else {
	    $("#scrollRight-Gallery1").removeClass("last");
	  };
	  if (gallery1_idx == 0) {
	    $("#scrollLeft-Gallery1").addClass("first");
	  } else {
	    $("#scrollLeft-Gallery1").removeClass("first");
	  };
	});
	document.getElementById("scrollLeft-Gallery1").addEventListener("click", function() {
	  gallery1_idx = gallery1_idx-1;
	  $(".photoG1").removeClass("active");
	  $("#photoG1"+gallery1_idx).addClass("active");
	  if (gallery1_idx == (gallery_len-1)) {
	    $("#scrollRight-Gallery1").addClass("last");
	  } else {
	    $("#scrollRight-Gallery1").removeClass("last");
	  };
	  if (gallery1_idx == 0) {
	    $("#scrollLeft-Gallery1").addClass("first");
	  } else {
	    $("#scrollLeft-Gallery1").removeClass("first");
	  };
	});

	var pymParent = new pym.Parent('usmap', '{{ url_for('static', filename='interactives/setup/usmap.html') }}', {});
	var pymParenttwo = new pym.Parent('sfmap', '{{ url_for('static', filename='interactives/setup/sfmap.html') }}', {});
</script>

{% endblock %}
