	<div clas{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block hearst_title %}Shelters{% endblock %}
{% block hearst_class %}article{% endblock %}
{% block hearst_date %}2016-06-29 00:00:00{% endblock %}
{% block author %}Heather Knight, Lucio Villa, Emma O'Neill, Benjamin Din{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

	<div class="title-container">
		<div>
			<h1 class="title long">A better model, a better result?</h1>
			<div class="whatif-box">
				What if San Francisco expanded its shelter system while converting it to a Navigation Center model, with better access, relaxed rules and case managers on hand to aid homeless clients?
			</div>
<!--
			<h2 class="subhead">Would expanding San Francisco’s shelter system and converting it to a more accessible, service-oriented model get more of its homeless population off the streets?</h2>
-->
			<!-- {% include '_components/_social_links.html' %} -->
			<p class="author">By Heather Knight</p>
			<p class="date">June 29, 2016</p>
			<div class="full-width-img">
			    <img src="{{ url_for('static', filename='images/shelters/01.jpg') }}">
			    <p class="caption">CAPTION TK.<span class="byline"> Photo: PERSON PERSON, The Chronicle</span></p>
			</div>
		</div>
	</div>

	{% include '_text/shelters.html' %}

	<div class="max">
		<hr>
		<div class="credits">
			{% import '_components/_credits.html' as credit %}
			<!-- Variables are name, email slug and twitter handle -->
			<div class="group">
				<p>Reporter</p>
				{{ credit.info('Heather Knight', 'hknight', 'hknightsf' ) }}
			</div>
			<div class="group">
				<p>Interactive producers</p>
				{{ credit.info('Lucio Villa', 'lvilla', 'luciovilla' ) }}
				{{ credit.info('Benjamin Din', 'bdin', 'benjamindin' ) }}	
				{{ credit.info("Emma O'Neill", "eoneill", "emmaruthoneill" ) }}
			</div>
		</div>
	</div>

	{% import '_components/_related_stories.html' as related %}
	<div class="max">
		<hr>
		<div  class="divider-text">Read related stories</div>
		<div class="dont-miss">
		<!-- Variables are title, url and image url -->
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
		</div>
	</div>

	{% include '_components/_footer.html' %}

</main>
{% endblock %}

{% block javascript %}
<script>
	$(document).ready(function() {
		App.init();
	});
	function sticky_relocate() {
		var window_top = $(window).scrollTop();
		var div_top = $('#sticky-anchor').offset().top - 40;
		if (window_top > div_top) {
				$('#sticky-element').addClass('sticky');
				$('.menu-navigation').addClass('sticky');
		} else {
				$('#sticky-element').removeClass('sticky');
				$('.menu-navigation').removeClass('sticky');
		}
	}
	$(function() {
			$(window).scroll(sticky_relocate);
			sticky_relocate();
	});
</script>
{% endblock %}
