{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

	<div class="title-container">
		<div>
			<h1 class="title">A better model, a better result?</h1>
			<h2 class="subhead">Would expanding San Francisco’s shelter system and converting it to a more accessible, service-oriented model get more of its homeless population off the streets?</h2>
			<!-- {% include '_components/_social_links.html' %} -->
			<p class="author">By Heather Knight</p>
			<p class="date">June 29, 2016</p>

		</div>
	</div>

	<div class="whatif-box">
		What if San Francisco expanded its shelter system while converting it to a Navigation Center model, with better access, relaxed rules and case managers on hand to aid homeless clients?
	</div>


	{% include '_text/shelters.html' %}

	<div class="row">
		<hr>
		<div class="credits">
			{% import '_components/_credits.html' as credit %}
			<!-- Variables are name, email slug and twitter handle -->
			{{ credit.info('Reporter: Heather Knight', 'hknight', 'hknightsf' ) }}
			{{ credit.info("Interactive producer: Emma O'Neill", "eoneill", "emmaruthoneill" ) }}
			{{ credit.info('Interactive producer: Lucio Villa', 'lvilla', 'luciovilla' ) }}
			{{ credit.info('Benjamin Din', 'bdin', 'benjamindin' ) }}
		</div>
	</div>

	{% import '_components/_related_stories.html' as related %}
	<div class="max">
		<hr>
		<div  class="divider-text">Read related stories</div>
		<div class="dont-miss">
		<!-- Variables are title, url and image url -->
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
			{{ related.story('TITLE', 'URL', '../static/images/test/01.jpg' ) }}
		</div>
	</div>

	{% include '_components/_footer.html' %}

</main>
{% endblock %}

{% block javascript %}
<script>
	$(document).ready(function() {
		App.init();
	});
	function sticky_relocate() {
		var window_top = $(window).scrollTop();
		var div_top = $('#sticky-anchor').offset().top - 40;
		if (window_top > div_top) {
				$('#sticky-element').addClass('sticky');
				$('.menu-navigation').addClass('sticky');
		} else {
				$('#sticky-element').removeClass('sticky');
				$('.menu-navigation').removeClass('sticky');
		}
	}
	$(function() {
			$(window).scroll(sticky_relocate);
			sticky_relocate();
	});
</script>
{% endblock %}
