{% extends 'base.html' %}

{% block title %}Aging SRO hotels raise health, safety issues for housing homeless{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block hearst_title %}SRO{% endblock %}
{% block hearst_class %}article{% endblock %}
{% block hearst_date %}2016-12-05 00:00:00{% endblock %}
{% block author %}Kevin Fagan, Joaquin Palomino, Lucio Villa{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

	<div class="title-container">
		<div id="sro" class="background-img">
		    <div class="dim"></div>
			<div class="over-img sro">
				<h1 class="title long sro">Aging hotels, chronic problems</h1>
				<p class="author">Dec. 5, 2016 | By Kevin Fagan & Joaquin Palomino</p>
				<p class="deck"><span class="investigation">Chronicle Investigation</span><br>Most S.F. housing for the homeless is a century old; even refurbished, severe health and safety issues can abound</p>
			</div>
		</div>
		<p class="caption">Crosby Hotel resident Grafton Wesley Jones knocks on fellow resident Anna Hobbs' door. Jones and Hobbs have lived in the Tenderloin SRO for the past 10 years. <span class="byline">Scott Strazzante, The Chronicle</span></p>
	</div>


	{% include '_text/sro.html' %}

	<div class="max">
		<hr>
		<div class="credits">
			{% import '_components/_credits.html' as credit %}
			<!-- Variables are name, email slug and twitter handle -->
			<div class="group">
				<p>Reporters</p>
				{{ credit.info('Kevin Fagan', 'kfagan', 'KevinChron' ) }}
				{{ credit.info('Joaquin Palomino', 'jpalomino', 'JoaquinPalomino' ) }}
			</div>
			<div class="group">
				<p>Photographers</p>
				{{ credit.info('Scott Strazzante', 'sstrazzante', 'ScottStrazzante' ) }}
				{{ credit.info('Lea Suzuki', ' lsuzuki', 'Lea_Suzuki' ) }}
			</div>
			<div class="group">
				<p>Interactive producers</p>
				{{ credit.info('Lucio Villa', 'lvilla', 'luciovilla' ) }}
				{{ credit.info("Emma O'Neill", "eoneill", "emmaruthoneill" ) }}
			</div>
		</div>
	<hr>
	</div>

	{% import '_components/_related_stories.html' as related %}
	<div>
		
		<div class="related-links-title"><a href="http://projects.sfchronicle.com/sf-homeless/"><h3>Beyond Homelessness Coverage</h3></a></div>
		<div class="dont-miss two">

			{{ related.story("After Division Street: No simple path to ending tent cities", 'http://projects.sfchronicle.com/sf-homeless/division-street/', 'http://projects.sfchronicle.com/sf-homeless/static/images/division-street/thumb.jpg') }}

{{ related.story("Interactive map: 7 lives, 7 paths, little change", 'http://projects.sfchronicle.com/sf-homeless/division-street-map/', 'http://projects.sfchronicle.com/sf-homeless/static/images/division-street-map/thumb.gif') }}

{{ related.story("Seeking help: Federal disability aid an elusive solution", 'http://projects.sfchronicle.com/sf-homeless/benefits', 'http://projects.sfchronicle.com/sf-homeless/static/images/benefits/thumb.jpg') }}

{{ related.story("Long-term view: A problem that looked the same 20 years ago", 'http://projects.sfchronicle.com/sf-homeless/overview', 'http://projects.sfchronicle.com/sf-homeless/static/images/setup/01_thumb.jpg' ) }}

{{ related.story("Solution possible: Answer starts with supportive housing", 'http://projects.sfchronicle.com/sf-homeless/supportive-housing', 'http://projects.sfchronicle.com/sf-homeless/static/images/supportive/thumb.jpg') }}

{{ related.story("The mentally ill: Streets' costliest residents", 'http://projects.sfchronicle.com/sf-homeless/mental-health', 'http://projects.sfchronicle.com/sf-homeless/static/images/mental/thumb.jpg') }}

{{ related.story("Shelter system: Can a smarter model find success?", 'http://projects.sfchronicle.com/sf-homeless/shelters', 'http://projects.sfchronicle.com/sf-homeless/static/images/shelters/thumb.jpg') }}

{{ related.story("Law enforcement: Can stricter rules curb the crisis?", 'http://projects.sfchronicle.com/sf-homeless/encampments', 'http://projects.sfchronicle.com/sf-homeless/static/images/camping/thumb.jpg') }}

{{ related.story("Data analysis: How many people live on our streets?", 'http://projects.sfchronicle.com/sf-homeless/numbers', 'http://projects.sfchronicle.com/sf-homeless/static/images/data/10_thumb.jpg' ) }}

{{ related.story("Photographer’s lens: Portraits of life on SF's streets", 'http://projects.sfchronicle.com/sf-homeless/faces-of-the-streets', 'http://projects.sfchronicle.com/sf-homeless/static/images/portraits/07_thumb.jpg' ) }}

{{ related.story("Interactive guide: How to help homeless in Bay Area", 'http://projects.sfchronicle.com/sf-homeless/how-to-help/', 'http://projects.sfchronicle.com/sf-homeless/static/images/how-to-help/thumb.jpg') }}

{{ related.story("Election 2016: How the candidates view homelessness", 'http://projects.sfchronicle.com/2016/candidates-homeless-survey/', 'http://projects.sfchronicle.com/2016/candidates-homeless-survey/assets/social.jpg') }}

{{ related.story("In their voices: How SF's last 5 mayors tackled homelessness", 'http://projects.sfchronicle.com/sf-homeless/letters-from-the-mayors', 'http://projects.sfchronicle.com/sf-homeless/static/images/insight/thumb.jpg' ) }}

{{ related.story("Editorial: Homelessness remains a civic disgrace", 'http://projects.sfchronicle.com/sf-homeless/civic-disgrace', 'http://projects.sfchronicle.com/sf-homeless/static/images/editorial/thumb.png' ) }}

{{ related.story("Letter to the City: The time to act is now", 'http://projects.sfchronicle.com/sf-homeless/letter-to-the-city/', 'http://projects.sfchronicle.com/sf-homeless/static/images/social/letter-to-the-city.jpg') }}

		</div>
	</div>

	{% include '_components/_footer.html' %}

</main>
{% endblock %}

{% block javascript %}
<script src="http://projects.sfchronicle.com/shared/js/responsive-frame.js"></script>
<script>
	$(document).ready(function() {
		App.init();
	});
	// for photo gallery
	var gallery1_idx = 0;
	var gallery_len = 6;
	// set up clicking to update map interactive on mobile
	document.getElementById("scrollRight-Gallery1").addEventListener("click", function() {
	  gallery1_idx = gallery1_idx+1;
	  $(".photoG1").removeClass("active");
	  $("#photoG1"+gallery1_idx).addClass("active");
	  if (gallery1_idx == (gallery_len-1)) {
	    $("#scrollRight-Gallery1").addClass("last");
	  } else {
	    $("#scrollRight-Gallery1").removeClass("last");
	  };
	  if (gallery1_idx == 0) {
	    $("#scrollLeft-Gallery1").addClass("first");
	  } else {
	    $("#scrollLeft-Gallery1").removeClass("first");
	  };
	});
	document.getElementById("scrollLeft-Gallery1").addEventListener("click", function() {
	  gallery1_idx = gallery1_idx-1;
	  $(".photoG1").removeClass("active");
	  $("#photoG1"+gallery1_idx).addClass("active");
	  if (gallery1_idx == (gallery_len-1)) {
	    $("#scrollRight-Gallery1").addClass("last");
	  } else {
	    $("#scrollRight-Gallery1").removeClass("last");
	  };
	  if (gallery1_idx == 0) {
	    $("#scrollLeft-Gallery1").addClass("first");
	  } else {
	    $("#scrollLeft-Gallery1").removeClass("first");
	  };
	});

	// for photo gallery
	var gallery2_idx = 0;
	var gallery2_len = 5;
	// set up clicking to update map interactive on mobile
	document.getElementById("scrollRight-Gallery2").addEventListener("click", function() {
	  gallery2_idx = gallery2_idx+1;
	  $(".photoG2").removeClass("active");
	  $("#photoG2"+gallery2_idx).addClass("active");
	  if (gallery2_idx == (gallery2_len-1)) {
	    $("#scrollRight-Gallery2").addClass("last");
	  } else {
	    $("#scrollRight-Gallery2").removeClass("last");
	  };
	  if (gallery2_idx == 0) {
	    $("#scrollLeft-Gallery2").addClass("first");
	  } else {
	    $("#scrollLeft-Gallery2").removeClass("first");
	  };
	});
	document.getElementById("scrollLeft-Gallery2").addEventListener("click", function() {
	  gallery2_idx = gallery2_idx-1;
	  $(".photoG2").removeClass("active");
	  $("#photoG2"+gallery2_idx).addClass("active");
	  if (gallery2_idx == (gallery2_len-1)) {
	    $("#scrollRight-Gallery2").addClass("last");
	  } else {
	    $("#scrollRight-Gallery2").removeClass("last");
	  };
	  if (gallery2_idx == 0) {
	    $("#scrollLeft-Gallery2").addClass("first");
	  } else {
	    $("#scrollLeft-Gallery2").removeClass("first");
	  };
	});

	// for photo gallery
	var gallery3_idx = 0;
	var gallery3_len = 4;
	// set up clicking to update map interactive on mobile
	document.getElementById("scrollRight-Gallery3").addEventListener("click", function() {
	  gallery3_idx = gallery3_idx+1;
	  $(".photoG3").removeClass("active");
	  $("#photoG3"+gallery3_idx).addClass("active");
	  if (gallery3_idx == (gallery3_len-1)) {
	    $("#scrollRight-Gallery3").addClass("last");
	  } else {
	    $("#scrollRight-Gallery3").removeClass("last");
	  };
	  if (gallery3_idx == 0) {
	    $("#scrollLeft-Gallery3").addClass("first");
	  } else {
	    $("#scrollLeft-Gallery3").removeClass("first");
	  };
	});
	document.getElementById("scrollLeft-Gallery3").addEventListener("click", function() {
	  gallery3_idx = gallery3_idx-1;
	  $(".photoG3").removeClass("active");
	  $("#photoG3"+gallery3_idx).addClass("active");
	  if (gallery3_idx == (gallery3_len-1)) {
	    $("#scrollRight-Gallery3").addClass("last");
	  } else {
	    $("#scrollRight-Gallery3").removeClass("last");
	  };
	  if (gallery3_idx == 0) {
	    $("#scrollLeft-Gallery3").addClass("first");
	  } else {
	    $("#scrollLeft-Gallery3").removeClass("first");
	  };
	});

	 $('.sidebar-controls').on('click', function() {
          $('#sidebar').hide();
      });

	 $('#sro-sidebar').on('click', function() {
          $('#sidebar').show();
      });
</script>
{% endblock %}
