{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block hearst_title %}Supportive{% endblock %}
{% block hearst_class %}article{% endblock %}
{% block hearst_date %}2016-06-29 00:00:00{% endblock %}
{% block author %}Kevin Fagan, Lea Suzuki, Lucio Villa, Emma O'Neill, Benjamin Din{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

	<div class="title-container">
		<div>
			<h1 class="title long">Solution to SF's homeless problem starts with supportive housing</h1>
			<div class="whatif-box">
				Could San Francisco increase its stock of supportive housing by enough units to get all of the neediest homeless people off its streets in just two years?
			</div>

			<p class="author">By Kevin Fagan</p>
			<p class="date">June 29, 2016</p>
			<div class="full-width-img">
					<img src="{{ url_for('static', filename='images/supportive/homeless_supportive_PH1.jpg') }}">
					<p class="caption"><span class="year">May 10, 2016 </span> A former heroin addict who has spent many of his 62 years behind bars, Kenney Williams is grateful for his place in the Health Department’s Mission Creek housing project near AT&T Park. “If not for this, I’d be going downhill fast,” he said.<span class="byline"> Photo: Lea Suzuki, The Chronicle</span></p>
			</div>

		</div>
	</div>



	{% include '_text/supportive.html' %}

	<div class="max">
		<hr>
		<div class="credits">
			{% import '_components/_credits.html' as credit %}
			<!-- Variables are name, email slug and twitter handle -->
			<div class="group">
				<p>Reporter</p>
				{{ credit.info('Kevin Fagan', 'kfagan', 'KevinChron' ) }}
			</div>
			<div class="group">
				<p>Interactive producers</p>
				{{ credit.info('Lucio Villa', 'lvilla', 'luciovilla' ) }}
				{{ credit.info('Benjamin Din', 'bdin', 'benjamindin' ) }}
				{{ credit.info("Emma O'Neill", "eoneill", "emmaruthoneill" ) }}
			</div>
		</div>
	</div>

	{% import '_components/_related_stories.html' as related %}
	<div class="max">
		<hr>
		<div  class="divider-text"></div>
		<div class="dont-miss">
			{{ related.story("Can law enforcement curb the crisis?", '/sf-homeless/encampments', '../static/images/camping/thumb.jpg', 'three' ) }}

			{{ related.story("The streets’ sickest and costliest", '/sf-homeless/mental-health', '../static/images/mental/thumb.jpg', 'three' ) }}

			{{ related.story("Can the shelter system be successful?", '/sf-homeless/supportive-housing', '../static/images/shelters/thumb.jpg', 'three' ) }}

			{{ related.story("A problem that looks the same as it did 20 years ago", '/sf-homeless/overview', '../static/images/setup/01_thumb.jpg' ) }}

			{{ related.story("In their words: How SF's last 5 mayors tackled homelessness", '/sf-homeless/letters-from-the-mayors', '../static/images/insight/mayors.jpg' ) }}
			{{ related.story("How many people live on our streets?", '/sf-homeless/numbers', '../static/images/data/10_thumb.jpg' ) }}

			{{ related.story("Faces of homelessness: Portraits of life on SF's streets", '/sf-homeless/faces-of-the-streets', '../static/images/portraits/07_thumb.jpg' ) }}
		</div>
	</div>

	{% include '_components/_footer.html' %}

</main>
{% endblock %}

{% block javascript %}
<script>
	$(document).ready(function() {
		App.init();
	});
	function sticky_relocate() {
		var window_top = $(window).scrollTop();
		var div_top = $('#sticky-anchor').offset().top - 40;
		if (window_top > div_top) {
				$('#sticky-element').addClass('sticky');
				$('.menu-navigation').addClass('sticky');
		} else {
				$('#sticky-element').removeClass('sticky');
				$('.menu-navigation').removeClass('sticky');
		}
	}
	$(function() {
			$(window).scroll(sticky_relocate);
			sticky_relocate();
	});
</script>
{% endblock %}
