{% extends 'base.html' %}

{% block title %}Homeless Project | SF Chronicle{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block content %}
<main class="container">
	
	{% include '_components/_header.html' %}

	<div class="title-container">
		<div>
			<h1 class="title">Homeless Supportive</h1>
			{% include '_components/_social_links.html' %}
			<p class="author">By Kevin Fagan</p>
			<p class="date">July 2, 2016</p>
			
		</div>
	</div>

	{% include '_text/supportive.html' %}
		
	<div class="row">
		<hr> 
		<div class="credits">
			<div class="entry">Reporter: Kevin Fagan &bull; <a href="mailto:kfagan@sfchronicle.com">kfagan@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/KevinChron" target="_blank">@KevinChron</a>
			</div>
			<div class="entry">Interactive producer:  Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a>
			</div>
			<div class="entry">Interactive producer:  Lucio Villa  &bull; <a href="mailto:lvilla@sfchronicle.com">lvilla@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/luciovilla" target="_blank">@luciovilla</a>
			</div>
			<div class="entry">Illustrations:  John Blanchard &bull; <a href="mailto:jblanchard@sfchronicle.com">jblanchard@sfchronicle.com</a>
			</div>
			<div class="entry">Photographer:  Michael Macor &bull; <a href="mailto:mmacor@sfchronicle.com">mmacor@sfchronicle.com</a>   &bull; <a href = "https://www.instagram.com/mmacor/" target="_blank">@mmacor</a>
			</div>
		</div> 
	</div>	


	{% include '_components/_related_stories.html' %}
	{% include '_components/_footer.html' %}
</main>
{% endblock %}

{% block javascript %}
<script>
	$(document).ready(function() {
		App.init();
	});
</script>
{% endblock %}
