#embed-infobox{
  width: 100%;
  color: #585858;
  padding: 10px 0 1px;
  font-family: $sans-serif;
  margin: 0 0.5em;
  font-size: 14px;
  border-left: 5px solid #ccc;

  .brand{
    font-family:$title;
    color:$red;
    margin: 0 0 5px;
    padding-top:10px;
    font-size:17px;
    font-weight:bold;
    letter-spacing:1px;
  }

  @media (max-width: 767px){
    width: 100%;
    padding:10px;
  }

  p{
    margin:0;
    max-width:600px;
    @media (max-width: 480px){
      font-size:14px;
    }
  }
}

.project-logo.small img {
  width: 120px;
}

@media (max-width: 480px){
  .project-logo.small {
    float: right;
  }
}