.intro {
    margin: 0 auto;
    position: relative;

    & h2 {
        margin-top: 1.3em;
    }

    & a {
        color: #C12020;
    }

    & b, strong {
        font-weight: 600;
    }

    & samp {
        display: none;
    }

    & .full-width-img{
        margin:0;

        img {
            width:100%;
        }
    }
}

.social {
  & a {
    color: white !important;
  }
}

.header {
    position: absolute;
    bottom: 7.5%;
    left: 0;
    right: 0;
    color: red;
    opacity: 0.9;
    text-align:center;

    @media (max-width:860px){
        position:relative;
    }

    & h1{
        font-family: $serif;
        color: $red;
        margin-bottom: 0;
    }

    & .subhead{
        padding-top:3px;
        padding-bottom:3px;
        color:#fff;
        text-shadow: 1px 1px 1px #000;

        @media (max-width:860px){
            color: #333;
            text-shadow:none;
        }

        @media #{$mobile} {
            font-size: 0.7em;
        }

    }

    & .button {
        background-color: $red;
        color: #fefefe;
        font-family:$sans-serif;
        text-transform:uppercase;
    }

    & #social a{
        color: #f3f3f3;

        @media (max-width:860px){
            color: #64758e;
        }

    }
}

.headline{
    font-weight:bold;
    letter-spacing:2px;
    padding:0 10px 3px;
    text-align:center;
    color: $red;

    @media #{$mobile} {
        font-size: 1.5em;
        line-height: 1.2;
    }
}

#stories {
    margin: 100px 0 50px;
    width: 100%;
    float: left;

    & h5 {
        margin-top: 0.5em;
        font-family: $sans-serif-light;
        font-size: 0.8em;
    }

    & a {
        text-decoration: none;
        color: #333;
        font-family: $title;
        line-height: 1.2;
    }

    @media #{$mobile} {
        margin-top:50px;
    }
}

.stories-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}

.contributors {
    text-align: center;
}

.contrib-item {
    margin-bottom: 10px;
}

.contrib-name {
    font-size: 0.7em;
    font-family: $sans-serif;
    min-height: 98px;
}

.contrib-links {
    display:inline-block;

    & a:hover {
        text-decoration: underline;
    }

    i {
        margin-right: 4px;
        color: #6C85A5;
    }
}

.archives {
    clear:both;
    padding-bottom: 50px;

    .panel {
        line-height: 1.2;
        margin-bottom: 12px;
    }
    h2 {
        text-align:center;
        font-family:$serif;
    }

    a {
        color: #333;
        text-decoration: none;
        font-size: 18px;
    }
}

.archive-item {
    margin-bottom: 15px;
}

.archive-date {

}

.archive-headline {
    font-weight: bold;
}


.mobile-landing-img {
    display:none;

    @media (max-width: 860px){
        display:block;
    }
}

.landing-img {
    @media (max-width: 860px){
        display:none;
    }
}

.banner {
    width: 100%;
    background-image: url('../images/frontpage/editorial.jpg');
    background-size: cover;
    margin-bottom: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
}