.intro {
    margin: 0 auto;
    position: relative;

    & h2 {
        margin-top: 1.3em;
    }

    & a {
        color: #C12020;
    }

    & b, strong {
        font-weight: 600;
    }

    & samp {
        display: none;
    }

    & .full-width-img{
        margin:0;

        img {
            width:100%;
        }
    }
}

.social {
  & a {
    color: #333 !important;

    @media (max-width:480px){
        font-size:16px;
    }
  }
}

.header {
    margin-top:1em;
    color: red;
    opacity: 0.9;
    text-align:center;

    & h1{
        font-family: $dispatch;
        font-weight:100;
        text-transform:uppercase;
        padding:0;
        color: $red;
        line-height:1.2;
        margin-bottom: 0;
        font-size:30px;

        @media (max-width: 480px){
            font-size: 19px
        }
    }

    & .subhead{
        padding-top:3px;
        padding-bottom:3px;
        color:#333;
        max-width:860px;


        @media #{$mobile} {
            font-size: 15px;
        }

    }

    & .button {
        background-color: $red;
        color: #fefefe;
        font-family:$sans-serif;
        text-transform:uppercase;
        min-width: 176px;
    }

    & #social a{
        color: #333;
    }

    @media #{$mobile} {
        margin-top:5px;
    }

}

.btn-stories {
    margin-right: 10px;
}

.headline{
    font-weight:bold;
    margin-top:0;
    letter-spacing:2px;
    padding:0 10px 3px;
    text-align:center;
    color: $red;

    @media #{$mobile} {
        font-size: 1.25em;
        line-height: 1.2;
    }
}

#stories {
    margin: 100px 0 20px;
    width: 100%;
    float: left;
    text-align: center;

    & h2{
      @media #{$mobile} {
        font-size: 1.25em;
        line-height: 1.2;
      }
    }

    & h5 {
        margin-top: 0.5em;
        font-family: $georgia;
        font-weight:normal;
        font-size: 0.75em;
        text-align: left;
        clear: left;

        @media (max-width:480px){
            line-height:1.3;
            font-size:0.55em;
        }
    }

    & h5 {
        margin-top: 0.5em;
        font-family: $georgia;
        font-weight:normal;
        font-size: 0.8em;
        clear: left;

        span{
          font-weight:bold;
          color:$red;

          text-transform:uppercase;
          font-size:15px;
        }

        @media (max-width:480px){
            line-height:1.3;
            font-size:0.7em;
        }
    }

    & a {
        text-decoration: none;
        color: #333;
        font-family: $title;
        line-height: 1.2;
    }

    & .button {
        background-color: $red;
        color: #fefefe;
        font-family:$sans-serif;
        text-transform:uppercase;
    }

    & .button:hover {
        background-color: $red;
    }

    @media #{$mobile} {
        margin-top:50px;
    }
}

.column img {
    clear: right;
}

.stories-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}

.stories-container-2 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
  padding-left: calc(0.9375rem + 12px);
  padding-right: calc(0.9375rem + 12px);



  @media screen and (max-width: 639px) {
    padding-left: calc(0.625rem + 12px);
    padding-right: calc(0.625rem + 12px);
  }
}

.contributors {
    text-align: center;
}

.contrib-item {
    margin-bottom: 10px;
}

.contrib-name {
    font-size: 0.7em;
    font-family: $sans-serif;
    min-height: 98px;
}

.contrib-links {
    display:inline-block;

    & a:hover {
        text-decoration: underline;
    }

    i {
        margin-right: 4px;
        color: #6C85A5;
    }
}

.archives {
    clear:both;
    padding-bottom: 50px;

    .panel {
        line-height: 1.2;
        margin-bottom: 12px;
    }
    h2 {
        text-align:center;
        font-family:$serif;

        @media (max-width:480px){
            font-size:0.9em;
        }
    }

    a {
        color: #333;
        text-decoration: none;
        font-size: 18px;
    }
}

.archive-item {
    margin-bottom: 15px;
}

.archive-date {

}

.archive-headline {
    font-weight: bold;
}


.mobile-landing-img {
    display:none;

    @media (max-width: 860px){
        display:block;
    }
}

.landing-img {
    @media (max-width: 860px){
        display:none;
    }
}

.banner {
    width: 100%;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    padding-bottom: 40px;
    padding-top: 40px;

    h2 {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;

        @media #{$mobile} {
            font-size:1.3em;
        }
    }

    .cat {
        font-family: $banner !important;
        font-weight: normal;
        margin-bottom: 0;
        margin-top: 0;
        font-size:0.8em;
        text-align: center !important;
        color: #ec1c24;

        @media (max-width:480px){
            font-size:0.6em;
        }
    }

    p {
        font-size: 0.8em;
        max-width:500px;
        font-weight: normal;
        margin: 4px auto;
        padding: 0 10px;

        @media #{$mobile} {
            font-size:0.7em;
        }
    }
}

.video-embed {
    margin:0 auto;
    max-width:930px;
    width:100%;

    h2{
        text-align:center;

        @media (max-width:480px){
            font-size:1.25em;
        }
    }
}

hr{
    display: inline-block;
    width: 100%;
}


#button-links{
	max-width: 600px;
  margin: 0 auto;
}

.partners{
    h2{
        margin-bottom:0.2em;
        @media (max-width:480px){
            font-size:0.9em;
        }
    }

    a {
    color:white;
    text-decoration:none;
    }
}

.box-partners{
    cursor:pointer;
    margin: 0 auto 1.2em;
    font-size: 0.67em;
    max-width: 530px;
    padding: 5px 10px;
    background-color: #ec1c24;
    color: #fefefe;
    font-family: "AntennaRegular", Helvetica, sans-serif;
    text-transform: uppercase;

}

.new-stories{
  max-width:1200px;
  margin:0 auto 2em;
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;

  img{
      width:100%;
  }

  h6{
    text-align: left;
    margin: 10px 0 1em;
    font-weight: normal;
    font-size: 0.9em;
    line-height: 1.2;

    span{
      font-weight:bold;
      color:$red;
      text-transform:uppercase;
      font-size:15px;

      @media #{$mobile} {
        font-size:14px;
      }
    }

    @media (max-width:480px){
        line-height:1.3;
        font-size:0.7em;
    }
  }
}

.story{
    flex: 0 0 33%;
    padding: 0 10px;
    margin: 10px 0;

    @media #{$tablet} {
        flex:0 0 49%;
    }

    @media #{$mobile} {
        flex:0 0 100%;
    }
}

.flex-intro{
    display:flex;
    flex-direction:column;

    @media #{$tablet} {
        flex-direction:column-reverse;
    }
}

.caption{
    
    &.main{
        text-align:right;

        @media #{$tablet} {
            display:none;
        }
    }
}

.four-issues{
    max-width:1200px;
    margin:0 auto 2em;

    hr{
        margin-left: 10px;
        margin-right: 10px;
        clear:both;
    }

    h6{
        text-align:left;
    }
}

.four-issues-headline{
    max-width:1200px;
    margin:0 auto;

    h2{
        margin-bottom:0;
    }
    p{
        line-height:1.2;
        max-width:590px;
        font-size:19px;

        @media #{$mobile} {
            font-size:16px;
            padding-top:5px;
        }
    }
}