body {
  background-color: $bg-color;
  font-size: $base-font;
  line-height:$line-height;
  color: $black;
  font-family: $serif;
}

.max{
  max-width:900px;
  margin:0 auto;
  padding:0 12px;
}

#story1 {
  max-width: 730px;
  margin: auto;
  padding: 0 15px;
  margin-bottom: 60px;
}


header {
  background: lighten($gray-blue,40%);
  opacity: 0.95;
  padding: 10px;
  padding-top: 3px;
  position: relative;
  z-index: 99;
  font-family: $bold-graphics;
  .special-head {
    color: darken($gray-blue,30%);
    text-align: right;
    font-family: $banner;
    text-transform: uppercase;
    width: 200px;
    float: right;
    vertical-align: bottom;
    padding-top:4px;
    font-weight: bold;
    font-size: 16px;
  }

  .logo {
    float: left;
    margin-right: 10px;
      img {
       height: 20px;
      }
      @include media (max-widh $small-breakpoint) {
      display: none;
      }
  }
  .mobile-logo {
    display: none;
    // @media ($mobile) {
    //   display: inline;
    // }
    img {
      margin-top: 10px;
      height: 18px;
    }
  }

  &::after {
    clear: both;
    content: " ";
    display: block;
  }
}

footer {
  background: $df-charcoal;
  opacity: 0.95;
  padding: 0 10px;
  position: relative;
  z-index: 99;
  margin-top: 10px;

  .logo {
    float: left;
    margin-right: 10px;

    img {
      padding: 10px 0;
      width: 180px;
      vertical-align: bottom;
    }
  }

  &::after {
    clear: both;
    content: " ";
    display: block;
  }
}

.title-container {
  background: white;
  padding: 0;

  .title {
    font-family: $title;
    font-weight: 400;
    font-size: 60px;
    padding: 10px 0;
    text-align: center;
    margin: 0 auto;
  }

  .byline {
    padding-top: 20px;
    font-size: 15px;
    text-align: center;
    font-family: $body;
    &.lower {
      padding-top: 0;
    }
  }

  // .credit, .caption {
  //   @media @mobile {
  //     color: @light-gray !important;
  //   }
  // }
}

#social {
  text-align: center;
  a {
    font-size: 30px;
    padding: 0 8px;
    color: $share-gray;
    cursor: pointer;
    &:hover {
      color: $light-gray;
      cursor: pointer;
    }
  }
}

.text {
  font-size: 0.9em;
  font-family: $serif;
  // @media @tablet {
  //   font-size: 15px;
  //   // padding: 20px 10px;
  // }
  // @media @mobile {
  //   padding: 10px 10px;
  // }
}

.dont-miss {
  // .display-flex;
  // .flex-wrap(wrap);
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  font-size: 17px;
  font-family: $block-graphics;

  .story {
    flex: 0 0 25%;
    // .flex(0 0 25%);

    // @media @mobile {
    //   .flex(1 1 50%)
    // }
  }
  .padded {
    padding: 10px;
  }
  .small {
    font-weight: bold;
    font-size: 15px;
  }
  img {
    width: 100%;
  }
}

.divider-text {
  margin: 0 auto 1em;
  font-family: $sans-serif;
}

.divider {
  border-bottom: 1px black solid;
  height: 2px;
  width: 60%;
  margin: 20px auto;
  margin-top: 0;
}

.credits {
  margin: 30px auto;
  font-size: 15px;
  font-family: $sans-serif;
  // @media @mobile {
  //   font-size: 12px;
  // }
}

hr{
  margin-top:2em;
  border-top: 1px solid #ccc;
  border-bottom: none;
}