body {
  background-color: $bg-color;
  font-size: $base-font;
  line-height:$line-height;
  color: $black;
  font-family: $serif;
}

li {
  max-width: 650px;
  margin: 0 auto;
  @media #{$mobile} {
    margin: 0 5px;
  }
}

.max{
  max-width:900px;
  margin:0 auto;
  padding:0 12px;
}

.letter-begin {
  max-width: 730px;
  margin: auto;
  padding: 0 15px;
  margin-bottom: 1em;
  font-size: 1.2em;
  @media #{$mobile} {
      font-size: 1.0em;
  }
}

p {
  max-width: 730px;
  margin: auto;
  padding: 0 15px;
  margin-bottom: 1em;

  a {
    text-decoration: none;
    color: $red;
  }

  @media #{$mobile} {
      font-size: 0.8em;
  }

}

.row{
  max-width: 730px;
  padding: 0 15px;
}

.full-width-img {
  margin: 2em auto;
  width: 100%;
}

.inline-img {
  max-width: 730px;
  margin: 2em auto;

  .caption{
    padding:0;

      @media #{$text-width}{
        padding:0 10px;
      }
  }

}

.float-img-container {
  max-width: 735px;
  width: 100%;
  margin: 0 auto;
}

.float-img {
    max-width: 420px;

    @media (max-width: 861px){
      float: none;
      margin: 2em auto;
    }

    .caption{
      padding:0;
    }

    @media #{$text-width}{
      padding:0 10px;
    }

    &.left {
      float: left;
      margin: 0 1em 2em -8em;

      @media (max-width: 1072px){
        float: none;
        margin: 2em auto;
      }
    }
    &.right {
      float: right;
      margin: 0 -8em 2em 1em;

      @media (max-width: 1072px){
        float: none;
        margin: 2em auto;
      }
    }
}

// navigation ---------------------------------------------------------

.navigation {
  width: 100%;
  font-family: $banner;
  // text-transform: uppercase;
  font-size: 18px;
}

header {
  background: darken($light-gray, 0%);
  a {
    color: white;
  }
  .logo {
    height: 30px;
  }
}

.jump-navigation {
  background: darken($light-gray, 0%);
  // padding: 5px 0;
  text-align: center;
  margin: auto;
  width: inherit;
  height: 40px;
  margin-top: 5px;
  &.clicked {
    display: none;
  }
}

.jump-links {
  a {
    color: white;
    text-decoration:none;
  }
  color: white;
  @media #{$mobile} {
    font-size: 20px;
  }
}

.jump-navigation {
  display: none;
  &.sticky {
    display: inline;
  }
  padding-left: 0;
  padding-right: 0;
}

.link {
  margin: 0 20px;
  vertical-align: top;
  cursor: pointer;
  padding-top: 3px;
  &.special {
    a {
      color: $red;
    }
    padding-top: 4px;
    @media #{$mobile} {
      margin-top: 1px;
    }
  }
  &.social {
    float: right;
  }
}
.logo-link {
  cursor: pointer;
  padding-top: 0;
  img {
    opacity: 1;
    height: 20px;
    @media #{$mobile} {
      height: 16px;
      padding-left: 5px;
    }
  }
}
.subscribe {
  float: right;
  // margin-right: 10px;
}

.link, .logo-link {
  display: inline-block;
  @media #{$mobile} {
    display: inline-block;
    // padding: 5px;
    font-size: 14px;
    // padding-top: 5px;
    margin: 5px;
    &.subscribe {
      margin-right: 5px;
    }
  }
}

#sticky-element.sticky {
  // width: 100%;
  // width: inherit;
  z-index: 100;
  position: fixed;
  top: 0;
  opacity: 0.95;
  margin-top: 0px;
  text-align: left;
  @media #{$mobile} {
    top: unset;
    bottom: 0;
    font-size: 14px;
    vertical-align: bottom;
  }

}

//////////////////////////////////


header {
  padding: 6px 10px;
  -webkit-box-shadow: 0 0 6px 0 $dark-gray;
  -moz-box-shadow: 0 0 6px 0 $dark-gray;
  box-shadow: 0 0 6px 0 $dark-gray;

  .special-head {
    color: $red !important;
    font-family: $banner;
    // text-transform: uppercase;
    float: right;
    font-size: 18px; //16px;
    padding-top: 1px;
    @media #{$mobile} {
      font-size: 14px;
      margin-top: 0;
      vertical-align: top;
    }
  }

  a {
    text-decoration:none;
  }

  .logo {
    float: left;
    margin-right: 10px;
      img {
       vertical-align: baseline;
       width:200px;
      }
      @media #{$mobile} {
        display: none;
      }
  }
  .mobile-logo {
    display: none;
     @media #{$mobile} {
       display: inline;
     }
    img {
      height: 16px;
      vertical-align: baseline;

    }
  }

  &::after {
    clear: both;
    content: " ";
    display: block;
  }
}

.project-logo {
  max-width: 730px;
  margin: 10px auto;
  img {
    width: 160px;
    padding-left: 10px;
    margin: 10px auto;
    float:right;
    margin-top: -100px;
    @media #{$mobile} {
      float: none;
      width: 150px;
      padding-right: 20px;
      margin-top: 0px;
    }
  }
  &.small {
    float: left;
    margin: 0;
    margin-right: 20px;
    img {
      width:75px;
      margin-top: 0;
    }
    @media #{$mobile} {
      float: right;
      margin-left: 10px;
    }
  }

}

.social-section {
  text-align: center;
  font-style: italic;
  font-size: 17px;
  padding-top: 20px;
  a {
    text-decoration:none;
    color: $red;
  }
}

.partners {
  text-align: center;
  display: inline-block;
  font-family: $banner;
  .partner-name {
    display: inline-block;
    padding: 0 20px;
    // width: 200px;
    a {
      text-decoration:none;
      color: $red;
      font-size: 0.8em;
    }
  }
}

// .homeless-title {
//   color: $red;
//   font-family: $banner;
//   text-transform: uppercase;
//   text-align: center;
//   padding-top: 10px;
//   font-weight: 600;
// }

footer {
  background: $df-charcoal;
  opacity: 0.95;
  padding: 0 10px;
  position: relative;
  z-index: 99;
  margin-top: 10px;

  .logo {
    float: left;
    margin-right: 10px;

    img {
      padding: 10px 0;
      width: 180px;
      vertical-align: bottom;
    }
  }
  @media #{$mobile} {
    visibility: hidden;
  }

  &::after {
    clear: both;
    content: " ";
    display: block;
  }
}



.title {
  font-family: $title;
  font-weight: 400;
  font-size: 60px;
  padding: 0 10px;
  text-align: center;
  margin: 10px auto;
  max-width: 835px;

  &.long {
    font-size: 50px;
    line-height: 1.2;
    margin: 20px auto;

      @media #{$mobile} {
      line-height: 1;
      font-size: 1.8em;
    }
  }
}

.subhead {
    font-family: "FarnhamDisplayLight";
    font-weight: 400;
    font-size: 1em;
    padding: 0 10px;
    text-align: center;
    margin: 0 auto 1em;
    line-height: 1.2;
    max-width: 785px;
}


.caption {
  text-align: left;
  font-family: $sans-serif;
  font-size: 12px;
  margin-top: 5px;
  padding: 0 10px;
  max-width: 100%;

  .year {
    font-family:$banner;
    color:$red;
  }
}

.byline {
  color: #6D6D6D;
}

.text-hed {
  font-size: 1.2em;
  margin-bottom: 15px;
  margin-top: 35px;
  text-align: center;
  font-family: $body-bold;
  // @media @mobile {
  //   padding: 0 10px;
  // }
  &.padded {
    padding-top: 10px;
  }
}


#social {
  text-align: center;
  a {
    font-size: 25px;
    padding: 8px;
    color: $share-gray;
    cursor: pointer;
    &:hover {
      color: $light-gray;
      cursor: pointer;
    }
  }
}

#social-inline {
  // display: inline-block;
  .social {
    // float: right;
    display: inline-block;
    padding: 0 10px;
    float: left;
  }
  // text-align: center;
  a {
    font-size: 20px;
    // padding: 8px;
    color: $share-gray;
    cursor: pointer;
    &:hover {
      color: $light-gray;
      cursor: pointer;
    }
  }
}

.author {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    margin-bottom:0;
}
.date {
    font-size: 15px;
    text-align: center;
    margin-bottom: 40px;
}


.dont-miss {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  font-size: 17px;
  font-family: $block-graphics;

  .story {
    flex: 0 0 25%;
    // .flex(0 0 25%);

    // @media @mobile {
    //   .flex(1 1 50%)
    // }
  }
  .padded {
    padding: 10px;
  }
  .small {
    font-weight: bold;
    font-size: 15px;
  }
  img {
    width: 100%;
  }
}

.divider-text {
  margin: 0 auto 1em;
  font-family: $sans-serif;
}

.divider {
  border-bottom: 1px black solid;
  height: 2px;
  width: 60%;
  margin: 20px auto;
  margin-top: 0;
}

.credits {
  margin: 30px auto;
  font-size: 15px;
  font-family: $body;
  text-align: center;
  a {
    text-decoration:none;
    color: $red;
  }
}

hr{
  margin-top:2em;
  border-top: 1px solid #ccc;
  border-bottom: none;
}

.interactive{
  max-width: 900px;
  margin: 2em auto;
  padding: 0 12px;
}

#infobox{
  float: right;
  width: 30%;
  color: #585858;
  font-family: $sans-serif;
  margin: 0 2em 2em;
  font-size: 15px;
  border-left: 5px solid #ccc;
  padding-right: 2em;

  @media (max-width: 890px){
    float: none;
    width: 80%;
    max-width: 730px;
    padding: 0 10px;
    margin: 2em auto;
  }

  p{
    max-width: 320px;
    margin: 0 0 1em;

    @media (max-width: 890px){
      max-width: 730px;
    }
  }
}

// insight page styling ----------------------------------------

.mayor-info {
  float: left;
  width: calc(100%/6.25);
  margin-right: calc(20%/4);
  text-align: center;
  height: 255px;

  @media screen and (max-width: 886px) {
  height: 220px;
  }

  @media #{$tablet} {
  width: calc(100%/4);
  margin-right: calc(25%/2);
  height: 285px;
  }

  @media screen and (max-width: 600px) {
  height: 250px;
  }

  @media screen and (max-width: 550px) {
  height: 230px;
  }

  @media screen and (max-width: 500px) {
  height: 200px;
  }

  @media #{$mobile} {
  height: 210px;
  }
}

.mayor-photo {
  display: inline;
  opacity: 0.3;

  &.active {
    opacity: 1;
  }
}

.mayor-photo img {
  width: 100%;
  max-width: 202px;
}

.mayor-name {
  font-size: 93%;

  @media #{$tablet} {
    font-size: 70%;
  }
}

.mayor-years {
    font-family:$banner;
    color:$red;
    font-size: 70%;

  @media #{$tablet} {
    font-size: 60%;
  }

  }

.bottom-row {
  @media #{$tablet} {
  margin-top: 1em;
  }
}

.mayor-container {
  overflow: auto;
  width: 70%;
  margin: 0 auto;

  @media #{$tablet} {
    width: 95%;
  }
}

#no-margin-right {
    margin-right: 0;
  }

.no-margin-right-tab {
    @media #{$tablet} {
      margin-right: 0;
    }
  }

  .adjust-left-margin {
    @media #{$tablet} {
      margin-left: calc(37.5%/2);
    }
  }

#agnos-letter, #newsom-letter, #jordan-letter, #brown-letter {
  display: none;

  h1 {
    margin-top: 0;
  }
}

#read {
  height: 2em;

  @media #{$tablet} {
  height: 45px;
  }

  @media #{$mobile} {
  height: 0;
  }
}

button {
  background: #b2b2b2;
  padding: 10px 20px 10px 20px;
}

button a {
  color: #FF0000;
  text-decoration: none;
}

#button-styling {
  padding-top: 2em;
  width: 50%;
  margin: 0 auto;

  @media #{$tablet} {
  width: 100%;
  }
}

// styles for photo galleries --------------------------------------------------

.photoGallery1 {
  max-width: 900px;
  position: relative;
  margin: 30px auto;
  @media #{$mobile} {
    margin: 20px auto;
  }
  .photoG1 {
    display: none;
    width: 80%;
    @media #{$mobile} {
      width: 100%;
    }
    margin: auto;
    &.active {
      display: inherit;
    }
  }
}

.scrollRight-Gallery1, .scrollLeft-Gallery1 {
  position: absolute;
  cursor: pointer;
  z-index: 50;
  font-size: 50px;
  width: 8%;
  color: black;
  height: 100%;
  .fa {
    margin-top: 200px;
    @media #{$mobile} {
      margin-top: 60px;
    }
  }
}
.scrollRight-Gallery1 {
  left: 92%;
  &.last {
    display: none;
  }
}
.scrollLeft-Gallery1 {
  left: 5%;
  @media #{$mobile} {
    left: 2%;
  }
  &.first {
    display: none;
  }
}

.photoG1 {
  width: 80% !important;
}
