<div class="max">
  <hr>
  <div  class="divider-text">Read related stories</div>

  <div class="dont-miss">
    <div class="story">
      <div class="padded">
      <a href="http://projects.sfchronicle.com/2016/visas/" target="_blank">
        <img src="./static/images/sharing/dont-miss-visas.png"></img>
      </a>
        <div class="small">H-1B visas: who gets them, where they go</div>
      </div>
    </div>
    <div class="story">
      <div class="padded">
      <a href="http://projects.sfchronicle.com/2016/top-100-restaurants/" target="_blank">
        <img src="./static/images/sharing/dont-miss-top100.jpg"></img>
      </a>
        <div class="small">Michael Bauer's Top 100 Restaurants</div>
      </div>
    </div>
    <div class="story">
      <div class="padded">
      <a href="http://projects.sfchronicle.com/2016/living-with-aids/" target="_blank">
        <img src="./static/images/sharing/aids_special.png"></img>
      </a>
        <div class="small">Living with AIDS</div>
      </div>
    </div>
    <div class="story">
      <div class="padded">
      <a href="http://projects.sfchronicle.com/2016/drought-status/" target="_blank">
        <img src="./static/images/sharing/dont-miss-drought.jpg"></img>
      </a>
        <div class="small">Check the California drought status</div>
      </div>
    </div>
  </div>
</div>